<nav class="navbar navbar-expand-lg navbar-light">
  <div class="blog-container flex-lg-nowrap flex-wrap">
    <a class="navbar-brand font-weight-bold nav-overlay" href="#">حراج</a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
            aria-controls="collapsibleNavId"
            aria-expanded="false" aria-label="Toggle navigation">
      <i class="far fa-bars" aria-hidden="true"></i>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
      <ul class="navbar-nav ml-auto mt-2 mt-lg-0 pl-0 nav-overlay">
        <li class="nav-item mr-0">
          <a class="nav-link" routerLink="/blog" routerLinkActive="nav-active" [routerLinkActiveOptions]="{exact: true}">الرئيسية</a>
        </li>
        <li class="nav-item dropdown mr-0" *ngFor="let cat of categoryList; index as i">
          <a class="nav-link dropdown-toggle" href="#" [id]="i" data-toggle="dropdown" aria-haspopup="true"
             aria-expanded="false">{{cat?.name}}</a>
          <div class="dropdown-menu" aria-labelledby="">
            <a class="dropdown-item" *ngFor="let subCat of cat?.subcategories" [routerLink]="['/blog/categories', subCat?._id]">{{subCat?.name}}</a>
          </div>
        </li>
        <li class="nav-item dropdown mr-0" *ngIf="profileService?.isAdmin">
          <a class="nav-link dropdown-toggle" href="#"  data-toggle="dropdown" aria-haspopup="true"
             aria-expanded="false">لوحه التحكم</a>
          <div class="dropdown-menu" aria-labelledby="">
<!--            <a class="dropdown-item" routerLink="/blog/comments-approval">التعليقات</a>-->
            <a class="dropdown-item" routerLink="/blog/article-approval">المقالات</a>
            <a class="dropdown-item" routerLink="/blog/received-messages">الرسائل</a>
          </div>
        </li>
        <li class="nav-item mr-0">
          <a class="nav-link" routerLink="/blog/contact">اتصل بنا</a>
        </li>
        <li class="nav-item mr-0" *ngIf="authService.isLoggedIn()">
          <a class="nav-link" routerLink="my-articles" routerLinkActive="nav-active" [routerLinkActiveOptions]="{exact: true}">مقالاتي</a>
        </li>
<!--        <li class="nav-item mr-0">-->
<!--          <a class="nav-link" uk-toggle="target: .nav-overlay; animation: uk-animation-fade"><i class="far fa-search" aria-hidden="true"></i></a>-->
<!--        </li>-->
        <li class="nav-item mr-0">
          <a class="btn nav-btn d-flex align-items-center justify-content-center" routerLink="new-article">
            <i class="far fa-plus mr-2" aria-hidden="true"></i>
            <span>مقالة جديدة</span>
          </a>
        </li>
      </ul>
      <div class="nav-overlay uk-navbar-left uk-flex-1" hidden>

        <div class="uk-navbar-item uk-width-expand">
          <form class="uk-search uk-search-navbar uk-width-1-1">
            <input class="uk-search-input" type="search" placeholder="بحث..." autofocus>
          </form>
        </div>

        <a class="uk-navbar-toggle" uk-close uk-toggle="target: .nav-overlay; animation: uk-animation-fade" href="#"></a>

      </div>
    </div>
  </div>
</nav>
