@import "src/assets/variables";
.navbar {
  background-color: white;
  box-shadow: 0 2px 10px rgba(black, 0.1);
  .navbar-toggler {
    background-color: $main-color;
    color: white;
    border-radius: 2px;
    border: none;
    box-shadow: 0 2px 10px rgba(black, 0.1);
  }
  .navbar-nav {
    .nav-active {
      color: $main-color;
      font-weight: 600;
      background-color: rgba($main-color, 0.1);
      border-radius: 4px;
    }
    .dropdown-menu {
      border: 1px solid rgba(black, 0.06);
      box-shadow: 0 2px 10px rgba(black, 0.1);
      .dropdown-item {
        &:active {
          background-color: $main-color;
        }
      }
    }
    .nav-item {
      .nav-link, .nav-btn {
        margin: 0.4rem;
        padding: 0.5rem 1.5rem;
        font-weight: 600;
      }
      .nav-btn {
        background-color: $main-color;
        color: white;
        transition: 0.2s;
        border: none;
        box-shadow: none;
        &:hover {
          box-shadow: 0 2px 10px rgba(black, 0.2);
          transform: translateY(-1px);
        }
        &:active {
          box-shadow: none;
          transform: scale(0.96);
        }
      }
    }
  }
}
