@import "../../../../../assets/variables";

.category-content {
  background-color: $background-color;

  .wrapper {
    transform: translateY(-3vh);
    // category result header
    .category-result {
      padding: 1rem 0rem;
      display: flex;
      align-items: center;

      .result-header {
        font-weight: 600;
        margin-bottom: 0;
      }

      .result-icon {
        padding: 0rem 1rem;
      }

      .result-data {
        font-weight: 600;
        margin-bottom: 0;
      }
    }

    .categories {
      .btn {
        background-color: $main-color;
        color: white;
        box-shadow: none;
        transition: 0.2s;
        &:active {
          transform: scale(0.95);
        }
      }
    }

    // filter by click
    .category-slider-items {
      .swiper-wrapper {
        margin-bottom: 1.5rem;
      }
    }

    // category filtiration
    .category-filtiration {
      .form-group {
        margin-bottom: 0.5rem;
      }

      select {
        border-radius: 0;
      }

      .result-upper-part {
        display: flex;
        align-items: center;

        .year-of-manu {
          display: flex;
          align-items: flex-end;
          justify-content: space-between;
        }
      }
    }
  }
}

.selected {
  background-color: $main-color;
  color: white;
}

.pagination {
  padding: 0;
  .btn {
    color: $btn-color;
    box-shadow: none;
    padding: 0.3rem;
    transition: 0.2s;
    &:not(:disabled) {
      &:active {
        transform: scale(0.94);
      }
    }
  }
}

@media only screen and (max-width: 776px) {
  .category-content {
    .wrapper {
      .category-filtiration {
        overflow-x: scroll;

        .form-group {
          label {
            font-size: 14px;
          }
        }

        select,
        .form-control {
          width: 100px !important;
          display: block;
        }
      }
    }
  }
}

.card_category {
  border-radius: 5px;
  overflow: hidden;
  border: 1px solid #dcdcdc;
}

.card_category .bg_ {
  position: relative;
  width: 100%;
  height: 150px;
  overflow: hidden;
}

.card_category .bg_ img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card_category .body_ {
  position: relative;
}

.card_category .body_ h3 {
  font-size: 17px;
  color: black;
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card_category .body_ .price_ {
  position: absolute;
  bottom: 0px;
  left: 0px;
  background-color: #fdcb74;
  padding: 0 23px 3px 14px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 0px;
  font-weight: 700;
}

.card_category .body_ .city_ span {
  color: #fdcb74;
  font-weight: 600;
}

.card_category .body_ .time_ {
  color: #949494;
  font-size: 10px;
}
