<header class="header"></header>
<section class="category-content">
  <div class="container">
    <div class="wrapper card">
      <div class="container-fluid">
        <div class="row">

          <ng-container *ngIf="this.router.url !== '/recent'">
          <!--category header-->
          <div class="col-12">
            <div class="category-result">
              <h5 class="result-header"><a routerLink="/cars" class="text-dark text-decoration-none">الرئيسية</a></h5>
              <i class="fa fa-angle-left result-icon" aria-hidden="true"></i>
              <h5 class="result-data">{{categoryName}}</h5>
            </div>
            <div class="categories" *ngFor="let subCat of subCategoryList">
              <div class="header">
                <h5 class="mb-3">{{subCat?.name}}</h5>
                <ul class="list-unstyled d-flex align-items-center justify-content-start flex-wrap">
                  <li *ngFor="let sub of subCat?.subcategories"
                    [routerLink]="['/category', sub?._id, sub?.name.split(' ').join('-')]"><a
                      class="btn mx-1 mb-2">{{sub?.name}}</a></li>
                </ul>
              </div>
            </div>
          </div>
          <!--category selection-->
          <div class="col-12">
            <!--top category-->
            <div class="category-slider-items">
              <swiper [config]="config">
                <div class="swiper-wrapper">
                  <div class="swiper-slide mt-3" *ngFor="let brand of brandList; index as i">
                    <div class="filter-card" [class.selected]="brand?.selected"
                      (click)="getModlesByBrands(brand?._id, i)">
                      <span class="font-weight-bold text-nowrap">{{brand.name}}</span>
                    </div>
                  </div>
                </div>
                <!-- Add Scrollbar -->
                <div class="swiper-scrollbar"></div>
              </swiper>
            </div>
            <!--top category-->
            <div class="category-slider-items" *ngIf="modelsList?.length !== 0">
              <swiper [config]="config">
                <div class="swiper-wrapper">
                  <div class="swiper-slide" *ngFor="let model of modelsList; index as i">
                    <div class="filter-card" [class.selected]="model?.selected"
                      (click)="getStylesByModels(model?._id, i)">
                      <span class="font-weight-bold">{{model?.name}}</span>
                    </div>
                  </div>
                </div>
                <!-- Add Scrollbar -->
                <div class="swiper-scrollbar"></div>
              </swiper>
            </div>
            <!--top category-->
            <div class="category-slider-items" *ngIf="stylesList?.length !== 0">
              <swiper [config]="config">
                <div class="swiper-wrapper">
                  <div class="swiper-slide" *ngFor="let style of stylesList; index as i">
                    <div class="filter-card" (click)="selectStyle(i, style?._id)" [class.selected]="style?.selected">
                      <span class="font-weight-bold">{{style.name}}</span>
                    </div>
                  </div>
                </div>
                <!-- Add Scrollbar -->
                <div class="swiper-scrollbar"></div>
              </swiper>
            </div>
          </div>
          <!--filtration section-->
          <div class="col-12">
            <div class="category-filtiration">
              <div class="result-upper-part mb-2">
                <!--Category select-->
                <div class="form-group mx-1">
                  <label>المكان</label>
                  <select class="custom-select mr-sm-2" (change)="filterByCountry($event)"
                    [(ngModel)]="searchBody.place" od id="currentPlaceSelect">
                    <option selected disabled> اختر المكان...</option>
                    <option [value]="city?.name" *ngFor="let city of cities">{{city?.name}}</option>
                  </select>
                </div>
                <!--year of manufacture select-->
                <div class="year-of-manu">
                  <div class="form-group mx-1">
                    <label>سنه الصنع</label>
                    <select class="custom-select mr-sm-2" [(ngModel)]="searchBody.startYear" (change)="filterByDate()"
                      name="startManYear" id="yearFromSelect">
                      <option selected disabled>اختر السنه ...</option>
                      <option [value]="year" *ngFor="let year of years()">{{year}}</option>
                    </select>
                  </div>
                  <p>الي</p>
                  <div class="form-group mx-1">
                    <label style="opacity: 0;">اي حاجه</label>
                    <select class="custom-select mr-sm-2" [(ngModel)]="searchBody.finishYear" (change)="filterByDate()"
                      name="endManYear" id="yearToSelect">
                      <option selected disabled>اختر السنه ...</option>
                      <option [value]="year" *ngFor="let year of years()">{{year}}</option>
                    </select>
                  </div>
                </div>
                <!--section select-->
                <!--                <div class="form-group mx-1">-->
                <!--                  <label>القسم</label>-->
                <!--                  <select class="custom-select mr-sm-2" id="sectionSelect">-->
                <!--                    <option value="1">One</option>-->
                <!--                    <option value="2">Two</option>-->
                <!--                    <option value="3">Three</option>-->
                <!--                  </select>-->
                <!--                </div>-->
                <!--                manufacturer select-->
                <div class="form-group mx-1">
                  <label>تصفيه</label>
                  <select class="custom-select mr-sm-2" name="installment" (change)="inputChanged()"
                    [(ngModel)]="searchBody.installment" id="filterSelect">
                    <option value="" disabled selected>اختر نوع التصفيه...</option>
                    <option [value]="true" l>قسط</option>
                    <option [value]="false">بدون قسط</option>
                  </select>
                </div>
                <!--manufacturer select-->
                <div class="form-group mx-1">
                  <label for="order">فرز حسب</label>
                  <select class="custom-select mr-sm-2" name="sortBy" (change)="inputChanged()"
                    [(ngModel)]="searchBody.sortBy" id="order">
                    <option selected disabled value="">اختر نوع الفرز ...</option>
                    <option value="price">السعر</option>
                    <option value="runningKilos">الممشي</option>
                  </select>
                </div>

                <div class="form-group mx-1">
                  <label for="orderBySelect"> الترتيب</label>
                  <select class="custom-select mr-sm-2" name="sortOrder" (change)="inputChanged()"
                    [(ngModel)]="searchBody.sortOrder" id="orderBySelect">
                    <option selected disabled value="">اختر الترتيب ...</option>
                    <option value="desc">تنازليا</option>
                    <option value="asc">تصاعديا</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <!-- filter button -->
          <div class="col-12 mb-4">
            <div class="filter-button">
              <!--              <button class="uk-button uk-button-primary mr-2" [disabled]="sendRequest" (click)="filterProductData()">-->
              <!--                {{sendRequest? 'انتظر': 'تنقيه'}}-->
              <!--                <i *ngIf="sendRequest" class="fa fa-spinner fa-spin mx-2" aria-hidden="true"></i>-->
              <!--              </button>-->
              <button class="uk-button uk-button-primary" [disabled]="sendRequest" (click)="resetFilter()">
                إلغاء التصفية
                <i *ngIf="sendRequest" class="fa fa-spinner fa-spin mx-2" aria-hidden="true"></i>
              </button>
            </div>
          </div>
          <div class="col-12 mt-3">
            <div class="alert alert-warning" *ngIf="specCategory.length === 0">
              <span><i class="fa fa-exclamation-triangle mx-2" aria-hidden="true"></i> <span>لا يوجد نتائج لهذا
                  البحث</span></span>
            </div>
          </div>
          <!--cars advertisments--></ng-container>
          <div class="col-12">

            <div class="uk-grid-small uk-child-width-1-5@l" uk-grid>

              <div *ngFor="let category of specCategory">
                <div>

                  <div class="card_category">
                    <div class="bg_">
                      <img [src]="category.image" alt="">
                    </div>

                    <div class="body_ p-2">
                      <h3 class="m-0 mt-1">{{category.title}}</h3>
                      <p class="m-0 city_">المدينة: <span>{{category.city}}</span></p>
                      <p class="m-0 city_ pb-3">كم: <span>{{category.runningKilos | number}}</span></p>
                      <p class="m-0 city_ pb-3 time_">{{category.createdAt}}</p>
                      <p class="price_ m-0">{{category.price | currency: ' ':'code'}} ر.س</p>

                    </div>

                  </div>

                </div>
              </div>

              <!-- <app-advertisment-card *ngFor="let category of specCategory" [searchData]="category">
              </app-advertisment-card> -->

            </div>

          </div>
          <div class="col-12">
            <div class=" p-4">
              <div class="pagination d-flex align-items-center justify-content-around">
                <button class="btn" [disabled]="currentPage === 1" (click)="first()"><i
                    class="far fa-1x fa-lg fa-arrow-to-right" aria-hidden="true"></i></button>
                <button class="btn" [disabled]="currentPage === 1" (click)="previous()"><i
                    class="far fa-1x fa-lg fa-chevron-right" aria-hidden="true"></i></button>
                <p class="mb-0">{{currentPage}} / {{lastPage}}</p>
                <button class="btn" (click)="next()" [disabled]="currentPage === lastPage"><i
                    class="far fa-1x fa-chevron-left" aria-hidden="true"></i></button>
                <button class="btn" [disabled]="currentPage === lastPage" (click)="last()"><i
                    class="far fa-1x fa-lg fa-arrow-to-left" aria-hidden="true"></i></button>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- loader part  -->
  <div class="preloader">
    <div class="loader-img">
      <img src="assets/loader.svg" alt="loader">
    </div>
  </div>
</section>
