<header class="header"></header>
<section class="content">
  <div class="wrapper">
    <div class="container">
      <div class="card p-4 mb-3">
        <div class="header row justify-content-between">
          <h4 class="text uk-margin-remove font-weight-bold col-md-6 mb-md-0 mb-4">
            إدارة المستخدمين ({{ userCount }})
            <span uk-spinner class="mr-2" [hidden]="!isLoading"></span>
            <small [hidden]="!isLoading" style="font-size: 14px">يتم التحميل الآن</small>
          </h4>
          <div class="col-md-6" *ngIf="userTab">
            <form class="uk-search uk-search-default search w-100" (ngSubmit)="search()">
              <a uk-search-icon></a>
              <input class="uk-search-input" type="search" name="search" placeholder="ابحث بالاسم..."
                     [(ngModel)]="searchText" (input)="search()"/>
            </form>
          </div>
        </div>
        <div class="tabs d-flex align-items-center justify-content-center mt-3">
          <button class="btn mx-2" [class.active]="userTab" (click)="openUsers()"><i class="far fa-users mr-1"
                                                                                     aria-hidden="true"></i> المستخدمين
          </button>
          <button class="btn mx-2" [class.active]="adminTab" *ngIf="profile?.isAdmin" (click)="openAdmin()"><i class="far fa-wrench mr-1"
                                                                                      aria-hidden="true"></i> المسئولين
          </button>
          <button class="btn mx-2" *ngIf="profile?.isAdmin" [class.active]="moderatorsTab" (click)="openModerators()"><i class="far fa-tasks mr-1"
                                                                                      aria-hidden="true"></i> المشرفين
          </button>
        </div>
      </div>

      <div class="user-list" *ngIf="userTab">
        <div class="row">
          <div class="col-lg-6 mb-4" *ngFor="let user of userList; index as i; trackBy: trackByFn" @fadeHide>
            <div class="user card p-4 d-flex align-items-start flex-row justify-content-start">
              <div class="user-image mr-3">
                <img [src]="user?.image ? user?.image : 'assets/user.png'" class="img-fluid" width="100"/>
              </div>
              <div class="flex-grow-1">
                <div class="user-name d-flex align-items-center justify-content-between mb-3">
                  <p class="font-weight-bold uk-margin-remove">
                    {{ user?.fullName }}
                    <i class="fas fa-badge-check" *ngIf="user?.subscribed"></i>
                  </p>
                  <a class="btn visit" [routerLink]="['/user', user?._id]" title="زيارة الملف الشخصي">
                    <i class="far fa-share" aria-hidden="true"></i>
                  </a>
                </div>
                <div class="actions d-flex align-items-start flex-wrap">
                  <button class="btn blue">عدد الإعلانات {{user?.productsCount}}</button>
                  <!-- <button class="btn orange">المبيعات 200,000</button> -->
                  <button class="btn black" (click)="suspendUser(user?._id, i)" *ngIf="!user?.suspended">
                    <i class="far fa-lock-alt mr-2" aria-hidden="true"></i>تعطيل
                    الحساب
                  </button>
                  <button class="btn green" (click)="unsuspendUser(user?._id, i)" *ngIf="user?.suspended">
                    <i class="far fa-lock-open-alt mr-2"></i>تفعيل الحساب
                  </button>
                  <button class="btn green" (click)="makeAdmin(user?._id)" *ngIf="profile?.isAdmin">
                    <i class="far fa-wrench"></i> مسئول
                  </button>

                  <button class="btn orange" (click)="makeModerator(user?._id)" *ngIf="profile?.isAdmin">
                    <i class="far fa-tasks mr-2"></i> مشرف
                  </button>
                  <button class="btn red" (click)="deleteUser(user?._id, i)"  *ngIf="profile?.isAdmin">
                    <i class="far fa-trash mr-2" aria-hidden="true"></i>حذف
                    الحساب
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 mb-3" *ngIf="userList.length <= 0 && isSearching">
            <div class="card p-4">
              <div class="alert mb-0 alert-primary" role="alert">
                <strong>لا يوجد مستخدمين</strong>
              </div>
            </div>
          </div>
          <div class="col-12" *ngIf="userList.length > 0">
            <div class="card p-4">
              <div class="pagination d-flex align-items-center justify-content-around">
                <button class="btn" [disabled]="currentPage === 1" (click)="first()"><i
                  class="far fa-1x fa-lg fa-arrow-to-right" aria-hidden="true"></i></button>
                <button class="btn" [disabled]="currentPage === 1" (click)="previous()"><i
                  class="far fa-1x fa-lg fa-chevron-right" aria-hidden="true"></i></button>
                <p class="mb-0">{{currentPage}} / {{lastPage}}</p>
                <button class="btn" (click)="next()" [disabled]="currentPage === lastPage"><i
                  class="far fa-1x fa-chevron-left" aria-hidden="true"></i></button>
                <button class="btn" [disabled]="currentPage === lastPage" (click)="last()"><i
                  class="far fa-1x fa-lg fa-arrow-to-left" aria-hidden="true"></i></button>

              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="user-list" *ngIf="adminTab && profile?.isAdmin">
        <div class="row">
          <div class="col-lg-6 mb-4" *ngFor="let user of adminList; index as i; trackBy: trackByFn" @fadeHide>
            <div class="user card p-4 d-flex align-items-start flex-row justify-content-start">
              <div class="user-image mr-3">
                <img [src]="user?.image ? user?.image : 'assets/user.png'" class="img-fluid" width="100"/>
              </div>
              <div class="flex-grow-1">
                <div class="user-name d-flex align-items-center justify-content-between mb-3">
                  <p class="font-weight-bold uk-margin-remove">
                    {{ user?.fullName }}
                    <i class="fas fa-badge-check" *ngIf="user?.subscribed"></i>
                  </p>
                  <a class="btn visit" [routerLink]="['/user', user?._id]" title="زيارة الملف الشخصي">
                    <i class="far fa-share" aria-hidden="true"></i>
                  </a>
                </div>
                <div class="actions d-flex align-items-start flex-wrap">
                  <button class="btn black" (click)="suspendAdmin(user?._id, i)" *ngIf="!user?.suspended">
                    <i class="far fa-lock-alt mr-2" aria-hidden="true"></i>تعطيل
                    الحساب
                  </button>
                  <button class="btn green" (click)="unsuspendAdmin(user?._id, i)" *ngIf="user?.suspended">
                    <i class="far fa-lock-open-alt mr-2"></i>تفعيل الحساب
                  </button>
                  <button class="btn red" (click)="removeAdmin(user?._id)" *ngIf="profile?.isAdmin">
                    <i class="far fa-times"></i> الغاء المسئول
                  </button>
                  <button class="btn red" (click)="deleteAdmin(user?._id, i)" *ngIf="profile?.isAdmin">
                    <i class="far fa-trash mr-2" aria-hidden="true"></i>حذف
                    الحساب
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 mb-3" *ngIf="adminList.length <= 0 && isSearching && userTab">
            <div class="card p-4">
              <div class="alert mb-0 alert-primary" role="alert">
                <strong>لا يوجد نتائج لهذا البحث</strong>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="user-list" *ngIf="moderatorList && profile?.isAdmin">
        <div class="row">
          <div class="col-lg-6 mb-4" *ngFor="let moderator of moderatorList; index as i" @fadeHide>
            <div class="user card p-4 d-flex align-items-start flex-row justify-content-start">
              <div class="user-image mr-3">
                <img [src]="moderator?.image ? moderator?.image : 'assets/user.png'" class="img-fluid" width="100"/>
              </div>
              <div class="flex-grow-1">
                <div class="user-name d-flex align-items-center justify-content-between mb-3">
                  <p class="font-weight-bold uk-margin-remove">
                    {{ moderator?.fullName }}
                    <i class="fas fa-badge-check" *ngIf="moderator?.subscribed"></i>
                  </p>
                  <a class="btn visit" [routerLink]="['/user', moderator?._id]" title="زيارة الملف الشخصي">
                    <i class="far fa-share" aria-hidden="true"></i>
                  </a>
                </div>
                <div class="actions d-flex align-items-start flex-wrap">
                  <button class="btn black" (click)="suspendModerator(moderator?._id, i)" *ngIf="!moderator?.suspended" >
                    <i class="far fa-lock-alt mr-2" aria-hidden="true"></i>تعطيل
                    الحساب
                  </button>
                  <button class="btn green" (click)="unsuspendModerator(moderator?._id, i)" *ngIf="moderator?.suspended" >
                    <i class="far fa-lock-open-alt mr-2"></i>تفعيل الحساب
                  </button>
                  <button class="btn red" (click)="removeModerator(moderator?._id)" >
                    <i class="far fa-times"></i> الغاء المشرف
                  </button>
                  <button class="btn red" (click)="deleteModerator(moderator?._id, i)" >
                    <i class="far fa-trash mr-2" aria-hidden="true"></i>حذف
                    الحساب
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 mb-3" *ngIf="userTab && userList.length <= 0">
            <div class="card p-4">
              <div class="alert mb-0 alert-primary" role="alert">
                <strong>لا يوجد نتائج لهذا البحث</strong>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
