@import "../../../../../assets/variables";

.tabs {
  .btn {
    background-color: rgba($btn-color, 0.1);
    color: $btn-color;
    font-weight: 600;
    transition: 0.2s;
    box-shadow: none;
    &.active {
      background-color: $btn-color;
      color: white;
    }
    &:not(.active) {
      &:hover {
        background-color: rgba($btn-color, 0.2);
      }
    }
    &:active {
      transform: scale(0.94);
    }
  }
}

.user-list {
  .user {
    .user-image {
      border-radius: 50%;
      overflow: hidden;
      box-shadow: 0 2px 8px rgba(black, 0.1);
    }

    .user-name {
      p {
        color: $main-color;
      }

      .visit {
        background-color: rgba($main-color, 0.1);
        border-radius: 25%;
        padding: 0.3rem 0.6rem;
        transition: 0.1s;
        box-shadow: none;

        i {
          font-size: 0.8em;
          color: $main-color;
        }

        &:hover {
          background-color: rgba($main-color, 0.2);
        }

        &:active {
          transform: scale(0.9);
        }
      }
    }

    .actions {
      .btn {
        font-size: 0.8em;
        font-weight: 600;
        padding: 0.4rem 0.8rem;
        border-radius: 20px;
        margin-right: 0.5rem;
        margin-bottom: 0.5rem;
        box-shadow: none;
      }

      .blue {
        background-color: rgba($main-color, 0.1);
        color: $main-color;
        cursor: default;
      }

      .orange {
        background-color: rgba($secondary-color, 0.1);
        color: $secondary-color;
        cursor: pointer;
        transition: 0.2s;
        &:hover {
          background-color: rgba($secondary-color, 0.2);
        }
      }

      .black {
        cursor: pointer;
        background-color: rgba(black, 0.1);
        color: black;
        transition: 0.2s;

        &:hover {
          background-color: rgba(black, 0.2);
        }
      }

      .red {
        cursor: pointer;
        transition: 0.2s;
        background-color: rgba(red, 0.1);
        color: red;

        &:hover {
          background-color: rgba(red, 0.2);
        }
      }

      .green {
        background-color: rgba(#008b09, 0.1);
        transition: 0.2s;
        color: #008b09;
        &:hover {
          background-color: rgba(#008b09, 0.2);
        }
      }

      .black,
      .red,
      .green,
      .orange {
        &:active {
          transform: scale(0.93);
        }
      }
    }
  }
}

.pagination {
  padding: 0;
  .btn {
    color: $btn-color;
    box-shadow: none;
    padding: 0.3rem;
    transition: 0.2s;
    &:not(:disabled) {
      &:active {
        transform: scale(0.94);
      }
    }
  }
}

.uk-search-input {
  transition: 0.1s;
  &:focus {
    border: 1px solid $main-color;
  }
}

@media only screen and (max-width: 450px) {
  .actions {
    .btn {
      font-size: 0.6em !important;
    }
  }
}
