<!--<section class="blog-main pt-3">-->
<!--  <div class="wrapper">-->
<!--    <div class="blog-container">-->
<!--      <div class="card p-4" @fadeHide>-->

<!--        <div class="header row justify-content-between">-->
<!--          <h4 class="text uk-margin-remove font-weight-bold col-md-6 mb-md-0 mb-4">-->
<!--            إدارة المقالات ({{ productsCount }})-->
<!--          </h4>-->
<!--          <div class="col-md-6" hidden>-->
<!--            <form class="uk-search uk-search-default search w-100" (ngSubmit)="search()">-->
<!--              <a uk-search-icon></a>-->
<!--              <input class="uk-search-input" type="search" name="search" placeholder="ابحث بالعنوان..."-->
<!--                     [(ngModel)]="searchText" (input)="search()"/>-->
<!--            </form>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="comments-table uk-overflow-auto">-->
<!--          <div class="overlay" *ngIf="isLoading">-->
<!--            <div class="h-100 d-flex align-items-center justify-content-center p-4">-->
<!--              <span uk-spinner></span>-->
<!--            </div>-->
<!--          </div>-->
<!--          <table class="uk-table uk-table-divider">-->
<!--            <thead>-->
<!--            <tr>-->
<!--              <th class="uk-table-shrink">#</th>-->
<!--              <th>صاحب المقالة</th>-->
<!--              <th>عنوان المقالة</th>-->
<!--              <th>نص المقالة</th>-->
<!--              <th class="uk-width-small text-center">اختيارات</th>-->
<!--            </tr>-->
<!--            </thead>-->
<!--            <tbody>-->
<!--            <tr *ngFor="let product of listProductsContainer?.products;let i = index">-->
<!--              <td></td>-->
<!--              <td></td>-->
<!--              <td></td>-->
<!--              <td class="d-flex align-items-center justify-content-around">-->
<!--                <button class="h-success" (click)="approveProduct(product._id)"-->
<!--                        [disabled]="sendRequest">-->
<!--                  <i class="far fa-check"></i>-->
<!--                </button>-->
<!--                <button class="h-primary mx-2" (click)="editAdv(product?._id)">-->
<!--                  <i class="far fa-edit"></i>-->
<!--                </button>-->
<!--                <button (click)="deleteProduct(product._id)" [disabled]="sendRequest" class="h-danger">-->
<!--                  <i class="far fa-times"></i>-->
<!--                </button>-->
<!--              </td>-->
<!--            </tr>-->
<!--            </tbody>-->
<!--          </table>-->
<!--        </div>-->
<!--        <div class="pagination d-flex align-items-center justify-content-around mt-2">-->
<!--          <button class="btn" [disabled]="currentPage === 1" (click)="first()"><i-->
<!--            class="far fa-1x fa-lg fa-arrow-to-right" aria-hidden="true"></i></button>-->
<!--          <button class="btn" [disabled]="currentPage === 1" (click)="previous()"><i-->
<!--            class="far fa-1x fa-lg fa-chevron-right" aria-hidden="true"></i></button>-->
<!--          <p class="mb-0">{{currentPage}} / {{lastPage}}</p>-->
<!--          <button class="btn" (click)="next()" [disabled]="currentPage === lastPage"><i-->
<!--            class="far fa-1x fa-chevron-left" aria-hidden="true"></i></button>-->
<!--          <button class="btn" [disabled]="currentPage === lastPage" (click)="last()"><i-->
<!--            class="far fa-1x fa-lg fa-arrow-to-left" aria-hidden="true"></i></button>-->

<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</section>-->


<!--&lt;!&ndash;data-toggle="modal" data-target="#rejectComments"&ndash;&gt;-->
<!--&lt;!&ndash; Modal &ndash;&gt;-->
<!--<div-->
<!--  class="modal fade"-->
<!--  id="rejectComments"-->
<!--  tabindex="-1"-->
<!--  aria-labelledby="exampleModalLabel"-->
<!--  aria-hidden="true"-->
<!--&gt;-->
<!--  <div class="modal-dialog">-->
<!--    <div class="modal-content">-->
<!--      <div class="modal-header">-->
<!--        <h5 class="modal-title" id="exampleModalLabel">رفض التعليق</h5>-->
<!--        <button-->
<!--          type="button"-->
<!--          class="close"-->
<!--          data-dismiss="modal"-->
<!--          aria-label="Close"-->
<!--        >-->
<!--          <span aria-hidden="true">&times;</span>-->
<!--        </button>-->
<!--      </div>-->
<!--      <div class="modal-body">-->
<!--        <form>-->
<!--          <div class="form-group">-->
<!--            <label>اترك السبب</label>-->
<!--            <textarea-->
<!--              class="form-control"-->
<!--              name="leaveMessage"-->
<!--              cols="30"-->
<!--              rows="10"-->
<!--            ></textarea>-->
<!--          </div>-->
<!--          <div class="uk-modal-footer uk-text-right uk-padding-remove border-0">-->
<!--            <button class="uk-button uk-button-primary" type="button">-->
<!--              ارسل-->
<!--            </button>-->
<!--            <button-->
<!--              class="uk-button uk-button-default uk-modal-close ml-2"-->
<!--              type="button"-->
<!--            >-->
<!--              اغلق-->
<!--            </button>-->
<!--          </div>-->
<!--        </form>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
