.uk-container {
    max-width: 1331px !important;
}

.header_ {
    position: relative;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    z-index: 888;
}

.header_ .line_ {
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    width: 7px;
    background-color: #fdcb74;
    height: 51px;
}

.header_ p {
    font-weight: bold;
    color: #2699fb;
    font-size: 25px;
}

.f_Bold {
    font-weight: bold;
}

.contentC_ {
    color: #9c9c9c;
}
