<section class="sec_about py-5 mt-5">

    <div class="uk-container">

        <div class="header_">
            <div class="line_"></div>
            <p class="m-0 pl-1">سياسة الخصوصية</p>
        </div>

        <h4 class="m-0 mt-3">
            حرصاً من موقع موتور أكتور على سرية وبيانات المستخدم، وحتى نظل مصدر ثقة لعملائنا باستمرار قمنا بإصدار مجموعة
            من سياسة الخصوصة التي تهم كل مستخدم.
            لذا نرجو منك أن تقوم بقرائتها بحرص قبل تسجيل حساب شخصي جديد:
        </h4>

        <h3 class="m-0 f_Bold mt-2">1- ما هي نوعية المعلومات التي يقوم بجمعها موقع موتور أكتور؟</h3>
        <h4>نقوم بجمع مجموعة من البيانات الخاصة بالمستخدمين التي تساعدنا على تقديم خدمة أفضل عبر موقعنا، وتتمثب تلك
            المعلومات فيما يلي: </h4>
        <p class="m-0 contentC_">بيانات تخص المستخدم عند إنشاء حساب جديد (رقم الجوال، الاسم كاملاً، البريد الإلكتروني)،
            وفي بعض الأحيان
            معلومات مالية (حسب اختيارك لنوع الحساب مجاني أو مدفوع) وبعدها تقو بكتابة كلمة السر لكي تتمكن من إنشاء الحساب
            وتسجيل الدخول فيما بعد. </p>
        <p class="m-0 contentC_">الهدف من طلب عدة بيانات هو تقديم أداء أفضل وحماية حسابك ضد أي اختراقات</p>
        <p class="m-0 contentC_">معلومات إضافية نقوم بتخزينها عبر موقعنا، مثل عندما تقوم بإعلان عبر الموقع وتضع رقم
            الجوال أو البريد
            الإلكتروني، فكلما كنت تقوم بإضافة المزيد من البيانات، فسهل يسهل علينا سرعة التواصل والرد عليكم وإعلامكم بكل
            ما هو جديد</p>
        <p class="m-0 contentC_">نقدم لك خدمة أفضل عبر استخدامنا لمعلومات آلية عند استخدام " الكوكيز" ، فهي تمكنا من
            تسجيل معلومات معينة عند
            الدخول على موقع موتور أكتور</p>
        <p class="m-0 contentC_">قد تضمن أيضاً معلومات عن بيانات تسجيل الدخول على الكمبيوتر، إحصائيات بعدد المشاهدة على
            الصفحة وحركة المرور من
            وإلى الموقع والإستجابة إلى الإعلانات.</p>
        <p class="m-0 contentC_">معلومات تضمن عنوان بروتكول الإنترنت الخاص بالمستخدمين ومعلومات التسجيل القياسية الخاصة
            على شبكة الإنترنت</p>
        <p class="m-0 contentC_">معلومات خاصة بخدمة العملاء لتقديم خدمة أفضل ورد أسرع في حالة وجود شكوي أو مشكلة حينها
            سوف نطلب معلومات معينة
            مثل نوع المتصفح، رقم الهاتف، مزود الإنترنت لديك وغيرها</p>
        <p class="m-0 contentC_">ونحن نتعهد موقع موتور أكتور بالحفاظ على سرية بيانات المستخدم وعدم إفشائها أو استخدامها
            لأي أسباب ذات طابع
            قانوني أو أغراض غير مصرح بها أو أي تعاملات غير قانونية.</p>

        <h3 class="m-0 f_Bold mt-2">2-ما هي كوكيز الموقع؟</h3>
        <p class="m-0 contentC_">هي ملفات تعريف الارتباط، تعلم على تشغيل القرص الصلب بجهاز الكمبيوتر خلال متصفح الويب
            الخاص بالمستخدم وهي تساعد أنظمتنا في تخصيص متصفح خاص بك من أجل تقديم ميزات عدة عبر موقعنا. </p>
        <p class="m-0 contentC_">مع التنوية بأن تكون تلك البيانات بالنسبة للموقع مجهولة، ويظل الزائر مجهولاً.</p>
        <p class="m-0 contentC_">ونود أن نشير بأن ملفات الكوكيز لا تحتوي على أي معلومات أو بيانات شخصية تخص المستخدم من
            رقم الهاتف، البريد الإلكتروني أو بطاقة الإئتمان.</p>
        <p class="m-0 contentC_">كما أننا قد يكون لدينا علاقات مع مزودي طرف ثالث خاضعين للمراقبة، وهم ببدورهم يقومون
            بوضع ملفات الكوكيز الخاصة بهم وقت زيارتك لموقعنا من أجل استخدامها لأغراض تسويقية.</p>
        <p class="m-0 contentC_">وغرض الاستافدة من ملفات الكويكز هو معرفة التفاصيل المتعلقة بالأسعار التقديرية لبيع
            سيارتك والإعلان علنها لكي يتم الاستفادة منها واستخدامها في اعلانات مستهدفة ذات صلة مع مزودي الطرف الثالث
            المختارين بعانية وتحت المراقبة المستمرة بغرض إعادة التسويق عند زيارة الموقاع الإلكرتونية الأخرى.</p>


        <h3 class="m-0 f_Bold mt-2">3- هل يشارك الموقع البيانات الخاصة بالمستخدم؟ </h3>
        <h4>نحن لا نتهاون أو نسمح بإفشاء بيانات العملاء بموقع موتور أكتور، ولكن من الممكن أن يتم تبادل المعلومات الخاصة
            بمستخدمي الموقع من خلال الأغراض التالية: </h4>
        <p class="m-0 contentC_">الإعلان: عند إضافة إعلانك عبر موقعنا فإننا نطلب منك بعض البيانات التي تسهل علينا سرعة
            التواصل مع المشتري (صاحب الإعلان والمهتم به)</p>
        <p class="m-0 contentC_">نشر العروض: في بعض الأيان نقوم باختيار مجموعة من العملاء بموقعنا وإرسال مجموعة من
            العروض الترويجية الخاصة بالموقع</p>
        <p class="m-0 contentC_">الإنابة للوكلاء: في بعض الأحيان قد نلجأ لاختيار بعض الأفراد أو الهيئات لعمل بعض المهام
            نيابة عنا، مثل تحليل البيانات والتسويق</p>

        <h3 class="m-0 f_Bold mt-2">4- خصوصية الإفشاء عن المعلومات</h3>
        <p class="m-0 contentC_">نتلزم على عدم إفشاء أي بيانات تخص المتخدم لأي جهة بأي غرض إلى أي طرف ثالث، بدون أخذ
            الموافقة من المستخدمين عليناً، ولكن قد نقوم بكشف معلومات شخصية لأحد المستخدمين إذا تطلب الأمر للرد على
            متطلبات قانونية.</p>
        <p class="m-0 contentC_">ونود التنويه بأن الموقع بدوره سوق يقوم بتزويد الطرف الآخر (المهتم بإعلانك) بمعلوماتك من
            البريد الإلكرتوني، رقم الجوال، وذلك من أجل التواصل وإتمام عملية البيع والشراء.</p>
        <p class="m-0 contentC_">ونحن بدورنا نتخذ كافة المعاييرمن أجل حماية بيانات المستخدم من الاختراق أو الوصول لشخص
            غير مفوص لمعلوماتك الشخصية. </p>
        <p class="m-0 contentC_">كما أننا نقوم باستخدام الكثير من الأدوات (كلمات السر بشرط محددة، التشفير، والأمن) بغرض
            حماية معلوماتك الشخصية ضد أي وصول غير مصرح به.</p>

        <h3 class="m-0 f_Bold mt-2">5- شروط الاستخدام</h3>
        <p class="m-0 contentC_">إذا قمت بزيارة موقع موترو أكتور، فإن زيارتك تخضع لساسية الخصوصية والأحكام.</p>

        <h3 class="m-0 f_Bold mt-2">6- التواصل والإعلانات التسويقية </h3>
        <p class="m-0 contentC_">أنت بذلك توافق على تلقي العروض والإعلانات التسويقية نيابة عن الطرف الثالث، إلا في حالة
            تلقينا بأنك لا ترغب بتلقي أي إعلانات
            ففي تلك الحالة فقط أعلمنا برغبتك في عدم الرغبة بتلقي أي إعلانات تسويقية أو استهلاكية من خلال اتباع التعليمات
            المرسلة مع الإعلان </p>


        <h3 class="m-0 f_Bold mt-2">7- إخلاء المسؤلية بين البائع والمشتري</h3>
        <p class="m-0 contentC_">فإن الهدف الأساسي من موتور أكتور ، هو مساعدة أكبر عدد من الأفراد وتسريع عمليات البحث أو
            بيع السيارات.</p>
        <p class="m-0 contentC_">لذا فإنك تقوم بالإعلان عن سيارتك ونقوم بإمداد المهتم بمعلوماتك من أجل التواصل والاتفاق
            وإتمام عملية البيع والشراء.</p>
        <p class="m-0 contentC_">لكن بعد عملية الاتفاق نقوم نحن موتور أكتور بإخلاء أي مسؤلية اتجاه الطرفين، ولا يكون لنا
            أي علاقة بأي مشكلة تواجه الطرفين عقب إتمام عملية البيع .</p>

        <h3 class="m-0 f_Bold mt-2">8- التواصل مع إدارة الموقع </h3>
        <p class="m-0 contentC_">
            نرحب بتواصلكم معنا مع إدارة موقع موتور أكتور على مدار الأسبوع وذلك من خلال البريد الإلكتروني الخاص بنا</p>
        <p class="m-0 contentC_">أو عبر رقم الجوال</p>
        <p class="m-0 contentC_">كما يمكنكم إرسال أس استفسار أو شكاوي خاصة بكم عبر صفحتنا على وسائل التواصل الإجتماعي:
        </p>
        <p class="m-0 contentC_">فيس بوك:</p>
        <p class="m-0 contentC_">تويتر:</p>
        <p class="m-0 contentC_">انستجرام:</p>

        <h3 class="m-0 f_Bold mt-2">9- الموافقة على الاستخدام</h3>
        <p class="m-0 contentC_">بعد قراءة سياسة الخصوصية الخاصة بموقع موتور أكتور فأنت توافق على سياسة الخصوصة واستخدام
            الموقع لبياناتك في حدود الشروط سالفة الذكر وأنه في حالة مخالفة المستخدم لأي من شروط الاستخدام فإن للموقع
            الحق في اتخاذ كافة الإجراءات القانونية والاحترازية اتجاه المستخدم</p>


    </div>

</section>