@import "src/assets/variables";
.card {
}

.notification-list {
  padding: 0;
  position: relative;
  .notification {
    cursor: pointer;
    box-shadow: 0 3px 4px rgba(black, 0.1);
    background-color: rgba(black, 0.05);
    transition: 0.2s;

    .media {
      height: 60px;
      width: 60px;
      border-radius: 50%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
    }


    &:not(&.unread) {
      &:hover {
        background-color: rgba(black, 0.109);
      }
    }

    &:empty{
      display: none !important;
    }
  }
}

.unread {
  background-color: rgba($main-color, 0.3) !important;
  box-shadow: 0 2px 8px rgba($main-color, 0.2) !important;
}

@media only screen and (max-width: 600px) {
  .notification {
    .media {
      width: 40px !important;
      height: 40px !important;
    }

    .text {
      .not-header {
        font-size: 0.8em;
      }

      .time {
        font-size: 0.7em;
      }
    }
  }
}


@media only screen and (max-width: 400px) {
  .notification {
    padding: 0.6rem !important;

    .text {
      .not-header {
        font-size: 0.6em;
      }

      .time {
        font-size: 0.5em;
      }
    }

    i {
      &:after {
        font-size: 0.5em;
      }

    }
  }
}

