<div class="card p-3" @fadeHide>
  <ul class="notification-list">
    <div class="col-12" *ngIf="notificationContainer?.notifications?.length <= 0">
      <div class="alert alert-warning mb-0">
        <span><i class="fa fa-exclamation-triangle mx-2" aria-hidden="true"></i> لا
          يوجد اشعارات في الوقت الحالي</span>
      </div>
    </div>
    <!--    Notification-->
    <li [class.unread]="!notification?.read"
      class="notification mb-2 p-4 d-flex align-items-cennter justify-content-between" *ngFor="
        let notification of notificationContainer?.notifications;
        let i = index" [routerLink]="[notification?.link, '']">
      <ng-container>
        <div class="d-flex align-items-start justify-content-between">
          <!--        user image-->
          <div class="media" [ngStyle]="{
              'background-image':
                'url(' + notification?.from?.profilePicture?.path + ')'
            }"></div>
          <div class="text pl-sm-3 p-2">
            <h6 class="not-header">
              {{ notification?.from?.fullName }} {{ notification?.message }}
            </h6>
            <span class="text-muted time">{{
              admin.timeAgo(notification?.showAt)
              }}</span>
          </div>
        </div>

        <!--        <div>-->
        <!--          <a (click)="readThisNotification(notification?._id, i)" uk-close></a>-->
        <!--        </div>-->
      </ng-container>
    </li>
    <!-- loader part  -->
  </ul>
  <div class="dash-preloader">
    <div class="loader-img">
      <img src="assets/loader.svg" alt="loader" />
    </div>
  </div>
</div>