<div class="card p-3">
  <div class="loader">
    <div class="icon d-flex align-items-center justify-content-center">
      <img src="assets/loader.svg" width="50" alt="loading">
    </div>
  </div>

  <!--  first screen - select a category -->
  <!--  <section class="first-screen" *ngIf="firstScreen">-->
  <!--    <header class="card-title mb-3">-->
  <!--      <h5 class="font-weight-bold">أختر الفئة:</h5>-->
  <!--    </header>-->
  <!--    <div class="options">-->
  <!--      <form #categoryForm="ngForm" (ngSubmit)="openSecondScreen()">-->
  <!--        <div class="form-group">-->
  <!--          <div class="custom-control custom-radio mb-2" *ngFor="let cat of categoryList; index as i">-->
  <!--            <input type="radio"-->
  <!--                   [(ngModel)]="category"-->
  <!--                   [value]="cat"-->
  <!--                   class="custom-control-input"-->
  <!--                   [id]="i"-->
  <!--                   name="category"-->
  <!--                   required-->
  <!--                   (ngModelChange)="categoryChange($event)">-->
  <!--            <label class="custom-control-label" [for]="i">{{cat?.name}}</label>-->
  <!--          </div>-->
  <!--          <div class="action mt-4">-->
  <!--            <button class="btn submit btn-primary" [disabled]="categoryForm?.invalid || !category._id">التالي</button>-->
  <!--          </div>-->
  <!--        </div>-->
  <!--      </form>-->
  <!--    </div>-->
  <!--  </section>-->

  <!--  second screen - select sub category -->
  <section class="second-screen" *ngIf="secondScreen">
    <header class="card-title mb-3">
      <h5 class="font-weight-bold">أختر القسم الفرعي:</h5>
    </header>
    <div class="options">
      <form #subCategoryForm="ngForm" (ngSubmit)="addNewAddv()">
        <div class="form-group">
          <select class="custom-select"
                  name="style"
                  required
                  [(ngModel)]="newAddData.category"
                  (change)="subCategoryChange(newAddData.category)"
          >
            <option *ngFor="let subCat of subCategoryList; index as i" [value]="subCat._id"
            >{{subCat?.name}}</option>
          </select>
          <!--          <div class="custom-control custom-radio mb-2" *ngFor="let subCat of subCategoryList; index as i">-->
          <!--            <input type="radio"-->
          <!--                   [(ngModel)]="newAddData.category"-->
          <!--                   [value]="subCat._id"-->
          <!--                   class="custom-control-input"-->
          <!--                   [id]="i"-->
          <!--                   name="category"-->
          <!--                   required-->
          <!--                   (change)="subCategoryChange(subCat)">-->
          <!--            <label class="custom-control-label" [for]="i">{{subCat?.name}}</label>-->
          <!--          </div>-->
          <header class="card-title mb-4">
            <h5 class="font-weight-bold">مواصفات السيارة</h5>
          </header>
          <div class="options">
            <form #specificationForm="ngForm" (ngSubmit)="openFifthScreen()">
              <div class="form-group row mb-2">

                <label for="manufacturer" class="col-md-2 col-form-label mb-2">اسم الصانع</label>
                <div class="col-md-10 mb-3">
                  <select class="custom-select"
                          name="manufacturer"
                          required
                          (ngModelChange)="getModelsByBrand($event)"
                          [(ngModel)]="brandValue"
                          id="manufacturer">
                    <option value="" disabled>اختر الصانع...</option>
                    <option *ngFor="let brand of brandList" [ngValue]="brand">{{brand.name}}</option>
                  </select>
                </div>

                <label for="model" class="col-md-2 col-form-label mb-2">الموديل</label>
                <div class="col-md-10 mb-3">
                  <select class="custom-select"
                          name="model"
                          required
                          (ngModelChange)="getStylesByModel($event)"
                          [(ngModel)]="modelValue"
                          [disabled]="brandValue.name === ''"
                          id="model">
                    <option value="" disabled
                            selected>{{modelList.length > 0 ? 'اختر الموديل...' : 'لا يوجد موديلات لهذا الصانع'}}</option>
                    <option *ngFor="let model of modelList" [ngValue]="model">{{model?.name}}</option>
                  </select>
                </div>

                <label for="style" class="col-md-2 col-form-label mb-2">الطراز</label>
                <div class="col-md-10 mb-3">
                  <select class="custom-select"
                          name="style"
                          required
                          (ngModelChange)="styleChange($event)"
                          [(ngModel)]="styleValue"
                          [disabled]="modelValue.name === ''"
                          id="style">
                    <option disabled>{{styleList.length > 0 ? 'اختر الطراز...' : 'لا يوجد طراز لهذا الموديل'}}</option>
                    <option *ngFor="let style of styleList" [ngValue]="style">{{style?.name}}</option>
                  </select>
                </div>

                <label for="manufacturingYear" class="col-md-2 col-form-label mb-2">سنة الصنع</label>
                <div class="col-md-10 mb-3">
                  <select class="custom-select"
                          name="manufacturingYear"
                          required
                          [(ngModel)]="newAddData.manufacturingYear"
                          id="manufacturingYear">
                    <option disabled>اختر سنة الصنع...</option>
                    <option *ngFor="let year of years()" [ngValue]="year">{{year}}</option>
                  </select>
                </div>

                <label for="typeOfAdd" class="col-md-2 col-form-label mb-2">نوع المواصفات</label>
                <div class="col-md-10 mb-3">
                  <select class="custom-select"
                          required name="typeOfAdd"
                          [(ngModel)]="newAddData.typeOfSpecifications"
                          id="typeOfAdd">
                    <option disabled>اختر نوع المواصفات...</option>
                    <option value="مواصفات اولي">مواصفات اولي</option>
                    <option value="مواصفات ثانية">مواصفات ثانية</option>
                  </select>
                </div>

                <label for="agent" class="col-md-2 col-form-label mb-2">الوكيل</label>
                <div class="col-md-10 mb-3">
                  <input type="text"
                         class="form-control mb-3"
                         name="addTitle"
                         [(ngModel)]="newAddData.agent"
                         id="agent"
                         required>

                </div>

              </div>
            </form>
          </div>
          <header class="card-title mb-4">
            <h5 class="font-weight-bold">معلومات إضافية</h5>
          </header>
          <div class="options" *ngIf="category.name === 'سيارات'">
            <form #additionalInfoForm="ngForm" (ngSubmit)="openSixScreen()">
              <div class="form-group row mb-2">

                <label for="movementController" class="col-md-2 col-form-label mb-2">هيكل السيارة</label>
                <div class="col-md-10 mb-3">
                  <select class="custom-select"
                          name="carBody"
                          required
                          [(ngModel)]="newAddData.carBody"
                          id="carBody">
                    <option value="" disabled selected>اختر هيكل السيارة...</option>
                    <option [value]="body.title" *ngFor="let body of bodyShpae">{{body.title}}</option>
                  </select>
                </div>
                <label for="movementController" class="col-md-2 col-form-label mb-2">ناقل الحركة</label>
                <div class="col-md-10 mb-3">
                  <select class="custom-select"
                          name="movementController"
                          required
                          [(ngModel)]="newAddData.movementController"
                          id="movementController">
                    <option value="" disabled selected>اختر ناقل الجركة...</option>
                    <option value="يدوي">يدوي</option>
                    <option value="اوتوماتيك">اوتوماتيك2</option>
                  </select>
                </div>

                <label for="speedCount" class="col-md-2 col-form-label mb-2">عدد سرعات ناقل الحركة</label>
                <div class="col-md-10 mb-3">
                  <select class="custom-select"
                          required
                          [(ngModel)]="newAddData.speedCount"
                          name="speedCount"
                          id="speedCount">
                    <option value="" disabled selected>اختر عدد سرعات ناقل الحركة...</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                  </select>
                </div>

                <label for="color" class="col-md-2 col-form-label mb-2">اللون</label>
                <div class="col-md-10 mb-3">
                  <select class="custom-select"
                          [(ngModel)]="newAddData.color"
                          name="color"
                          required
                          id="color">
                    <option value="" disabled selected>اختر اللون...</option>
                    <option value="احمر">احمر</option>
                    <option value="اسود">اسود</option>
                    <option value="ازرق">ازرق</option>
                    <option value="كحلي">كحلي</option>
                    <option value="بني">بني</option>
                    <option value="فضي">فضي</option>
                    <option value="برتقالي">برتقالي</option>
                    <option value="أصفر">أصفر</option>
                    <option value="أرجواني">أرجواني</option>
                    <option value="أزرق">أزرق</option>

                  </select>
                </div>

                <label for="innerColor" class="col-md-2 col-form-label mb-2">اللون الداخلي</label>
                <div class="col-md-10 mb-3">
                  <select class="custom-select"
                          name="innerColor"
                          required
                          [(ngModel)]="newAddData.innerColor"
                          id="innerColor">
                    <option value="" disabled selected>اختر اللون الداخلي...</option>
                    <option value="احمر">احمر</option>
                    <option value="اسود">اسود</option>
                    <option value="ازرق">ازرق</option>
                    <option value="كحلي">كحلي</option>
                    <option value="بني">بني</option>
                    <option value="فضي">فضي</option>
                    <option value="برتقالي">برتقالي</option>
                    <option value="أصفر">أصفر</option>
                    <option value="أرجواني">أرجواني</option>
                    <option value="أزرق">أزرق</option>
                  </select>
                </div>

                <label for="cylinderCount" class="col-md-2 col-form-label mb-2">عدد السلندرات</label>
                <div class="col-md-10 mb-3">
                  <select class="custom-select"
                          name="cylinderCount"
                          [(ngModel)]="newAddData.cylinderCount"
                          required
                          id="cylinderCount">
                    <option value="" disabled selected>اختر عدد السلندرات...</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                  </select>
                </div>

                <label for="fuelType" class="col-md-2 col-foram-label mb-2">نوع الوقود</label>
                <div class="col-md-10 mb-3">
                  <select class="custom-select"
                          name="fuelType"
                          required
                          [(ngModel)]="newAddData.fuelType"
                          id="fuelType">
                    <option value="" disabled selected>اختر نوع الوقود...</option>
                    <option value="بنزين 82">بنزين 82</option>
                    <option value="بنزين 92">بنزين 92</option>
                    <option value="بنزين 95">بنزين 95</option>
                    <option value="سولار">سولار</option>
                    <option value="جاز">جاز</option>
                  </select>
                </div>

                <!--                <div class="col-12">-->
                <!--                  <div class="action mt-4">-->
                <!--                    <button class="btn submit btn-primary" type="submit" [disabled]="additionalInfoForm?.invalid">التالي-->
                <!--                    </button>-->
                <!--                    <button class="btn btn-secondary ml-2" type="button" (click)="openFourthScreen()">العودة</button>-->
                <!--                  </div>-->
                <!--                </div>-->
              </div>
            </form>
          </div>
          <div class="options" *ngIf="category.name === 'قطع غيار'">
            <form #additionalInfoForm="ngForm" (ngSubmit)="openSixScreen()">
              <div class="form-group row">
                <div class="col-md-3">
                  <label for="brand" class="font-weight-bold">الشركات المتوافقة</label>
                </div>
                <div class="col-md-9">
                  <div class="input-group mb-3">
                    <select class="custom-select"
                            name="manufacturer"
                            required
                            [(ngModel)]="brandValue"
                            id="brand">
                      <option disabled
                              selected>{{brandList.length > 0 ? 'اختر الشركات المتوافقة..' : 'لا يوجد شركات متوافقة اخري'}}</option>
                      <option *ngFor="let brand of brandList" [ngValue]="brand">{{brand.name}}</option>
                    </select>
                    <div class="input-group-append">
                      <button class="btn btn-primary add" type="button" [disabled]="!brandValue.name"
                              (click)="addToBrands()">
                        إضافة
                      </button>
                    </div>
                  </div>

                  <div class="brand-list">
                    <ul class="list-unstyled d-flex flex-wrap">
                      <li class="brand mr-2 mb-2" *ngFor="let brand of spareBrandList; index as i">
                        <span class="text">{{brand?.name}}</span>
                        <a class="del ml-1 p-2" (click)="removeFromBrand(i)">&times;</a>
                      </li>

                    </ul>
                  </div>

                </div>

                <div class="col-md-3">
                  <label for="models" class="font-weight-bold">الموديلات المتوافقة</label>
                </div>
                <div class="col-md-9">
                  <div class="input-group mb-3">
                    <select class="custom-select"
                            name="model"
                            required
                            [(ngModel)]="modelValue"
                            id="models">
                      <option disabled
                              selected>{{modelList.length > 0 ? 'اختر الموديلات المتوافقة..' : 'لا يوجد موديلات متوافقة اخري'}}</option>
                      <option *ngFor="let model of modelList" [ngValue]="model">{{model?.name}}</option>
                    </select>
                    <div class="input-group-append">
                      <button class="btn btn-primary add" type="button" [disabled]="!modelValue.name"
                              (click)="addToModels()">
                        إضافة
                      </button>
                    </div>
                  </div>

                  <div class="brand-list">
                    <ul class="list-unstyled d-flex flex-wrap">
                      <li class="brand mr-2 mb-2" *ngFor="let model of spareModelList; index as i">
                        <span class="text">{{model?.name}}</span>
                        <a class="del ml-1 p-2" (click)="removeFromModel(i)">&times;</a>
                      </li>

                    </ul>
                  </div>

                </div>

                <div class="col-md-3">
                  <label for="styles" class="font-weight-bold">الطرازات المتوافقة</label>
                </div>
                <div class="col-md-9">
                  <div class="input-group mb-3">
                    <select class="custom-select"
                            name="style"
                            required
                            [(ngModel)]="styleValue"
                            id="styles">
                      <option disabled
                              selected>{{styleList.length > 0 ? 'اختر الطرازات المتوافقة..' : 'لا يوجد طرازات متوافقة اخري'}}</option>
                      <option *ngFor="let style of styleList" [ngValue]="style">{{style?.name}}</option>
                    </select>
                    <div class="input-group-append">
                      <button class="btn btn-primary add" type="button" [disabled]="!styleValue.name"
                              (click)="addToStyles()">
                        إضافة
                      </button>
                    </div>
                  </div>

                  <div class="brand-list">
                    <ul class="list-unstyled d-flex flex-wrap">
                      <li class="brand mr-2 mb-2" *ngFor="let style of spareStyleList; index as i">
                        <span class="text">{{style?.name}}</span>
                        <a class="del ml-1 p-2" (click)="removeFromStyles(i)">&times;</a>
                      </li>

                    </ul>
                  </div>

                </div>

                <div class="col-md-3">
                  <label for="spareYears" class="font-weight-bold">سنوات الصنع المتوافقة</label>
                </div>
                <div class="col-md-9">
                  <div class="input-group mb-3">
                    <select class="custom-select"
                            name="spareYears"
                            required
                            [(ngModel)]="spareYearValue"
                            id="spareYears">
                      <option disabled selected>اختر سنوات الصنع المتوافقة</option>
                      <option *ngFor="let year of spareYears" [ngValue]="year">{{year}}</option>
                    </select>
                    <div class="input-group-append">
                      <button class="btn btn-primary add" type="button" [disabled]="!spareYearValue"
                              (click)="addToYears()">
                        إضافة
                      </button>
                    </div>
                  </div>

                  <div class="brand-list">
                    <ul class="list-unstyled d-flex flex-wrap">
                      <li class="brand mr-2 mb-2" *ngFor="let year of newAddData.manufacturingYears; index as i">
                        <span class="text">{{year}}</span>
                        <a class="del ml-1 p-2" (click)="removeFromYears(i)">&times;</a>
                      </li>

                    </ul>
                  </div>

                </div>

                <!--                <div class="col-12">-->
                <!--                  <div class="action mt-4">-->
                <!--                    <button class="btn submit btn-primary" type="submit"-->
                <!--                            [disabled]="spareBrandList.length === 0 || spareModelList.length === 0 || spareStyleList.length === 0 || newAddData.manufacturingYears.length === 0 ">-->
                <!--                      التالي-->
                <!--                    </button>-->
                <!--                    <button class="btn btn-secondary ml-2" type="button" (click)="openFourthScreen()">العودة</button>-->
                <!--                  </div>-->
                <!--                </div>-->

              </div>
            </form>
          </div>
          <header class="card-title mb-4">
            <h5 class="font-weight-bold">معلومات الإعلان</h5>
          </header>
          <div class="options">
            <form #addInfoForm="ngForm" (ngSubmit)="openSevenScreen()">
              <div class="form-group row mb-2">

                <label for="addTitle" class="col-md-2 col-form-label mb-md-2">عنوان الإعلان</label>
                <div class="col-md-10 mb-3">
                  <input type="text"
                         class="form-control mb-3"
                         name="addTitle"
                         [(ngModel)]="newAddData.title"
                         id="addTitle"
                         required>
                </div>

                <label for="addDescription" class="col-md-2 col-form-label mb-md-2">نص الإعلان</label>
                <div class="col-md-10 ">
            <textarea class="form-control mb-3"
                      required rows="5"
                      name="addDescription"
                      [(ngModel)]="newAddData.text"
                      id="addDescription"></textarea>
                </div>

                <div class="col-md-6">
                  <div class="form-group row">
                    <label for="city" class="col-md-4 col-form-label">حدد المدينة</label>
                    <div class="col-md-8">
                      <select class="custom-select"
                              required name="city"
                              [(ngModel)]="newAddData.city"
                              id="city">
                        <option value="" disabled selected>اختر المدينة...</option>
                        <option *ngFor="let city of cities" [value]="city?.name">{{city?.name}}</option>
                      </select>
                    </div>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-group row">
                    <label for="price" class="col-md-4 col-form-label">السعر</label>
                    <div class="col-md-8 price">
                      <input type="text"
                             class="form-control mb-3"
                             name="price"
                             [(ngModel)]="newAddData.price"
                             id="price"
                             inputmode="numeric"
                             pattern="[0-9]*"
                             onkeypress="validateN(event)"
                             required>
                      <span class="ryal">ر.س</span>
                    </div>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-group row">
                    <label for="runningKilos" class="col-md-4 col-form-label">الممشي</label>
                    <div class="col-md-8 price">
                      <input type="text"
                             name="runningKilos"
                             id="runningKilos"
                             [(ngModel)]="newAddData.runningKilos"
                             class="form-control mb-3"
                             inputmode="numeric"
                             pattern="[0-9]*"
                             onkeypress="validateN(event)"
                             required>
                      <span class="ryal">كيلو</span>
                    </div>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-group row">
                    <label for="phone" class="col-md-4 col-form-label">رقم التواصل</label>
                    <div class="col-md-8">
                      <input type="text"
                             name="phone"
                             [(ngModel)]="newAddData.contactNumber"
                             id="phone"
                             inputmode="numeric"
                             pattern="[0-9]*"
                             onkeypress="validateN(event)"
                             class="form-control mb-0"
                             required>
                             <span style="color: #2699fb; font-size: 11px;">رقم مثل هذا 0279 077 59 966+</span>
                    </div>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-group row">
                    <label for="warrantyStatus" class="col-md-4 col-form-label">حالة الضمان</label>
                    <div class="col-md-8">
                      <select class="custom-select"
                              name="warrantyStatus"
                              required
                              [(ngModel)]="newAddData.warrantyStatus"
                              id="warrantyStatus">
                        <option value="" disabled selected>اخترنوع الضمان...</option>
                        <option value="ساري">ساري</option>
                        <option value="منتهي">منتهي</option>
                      </select>
                    </div>
                  </div>
                </div>

                <!--                <div class="col-12">-->
                <!--                  <div class="action mt-4">-->
                <!--                    <button class="btn submit btn-primary" type="submit" [disabled]="addInfoForm?.invalid">التالي</button>-->
                <!--                    <button class="btn btn-secondary ml-2" type="button" (click)="openFifthScreen()">العودة</button>-->
                <!--                  </div>-->
                <!--                </div>-->
              </div>
            </form>
          </div>
          <header class="card-title mb-4">
            <h5 class="font-weight-bold">إضافة صور</h5>
          </header>
          <div class="options">
            <div class="form-group row">
              <div class="col-md-4 mb-3">
                <label class="drag-area d-flex flex-column align-items-center justify-content-center"
                       disabled
                       for="images">

                  <div class="mini-loader" *ngIf="isUploading">
                    <div class="icon d-flex align-items-center justify-content-center">
                      <div uk-spinner></div>
                    </div>
                  </div>

                  <i class="fa fa-cloud-upload-alt" aria-hidden="true"></i>
                  <p>أنقر للاختيار يدويا</p>
                  <input type="file" id="images"
                         (change)="uploadImage($event)"
                         [required]="imageList.length === 0"
                         name="images"
                         accept="image/*"
                         ngModel
                         multiple
                         *ngIf="!isUploading"
                         class="d-none">
                </label>
                <!--                  <div class="action mt-4">-->
                <!--                    <button class="btn submit btn-primary" type="submit" [disabled]="uploadForm?.invalid">التالي</button>-->
                <!--                    <button class="btn btn-secondary ml-2" type="button" (click)="openSixScreen()">العودة</button>-->
                <!--                  </div>-->
              </div>

              <div class="col-md-8">
                <div class="image-list">
                  <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
                    <div class="single-image p-3 d-flex align-items-center justify-content-start"
                         *ngFor="let image of imageList;let index =index " cdkDrag>
                      <div class="image-area">
                        <img [src]="image?.path" alt="image" class="img-fluid">
                      </div>

                      <div class="desc-area">
                        <p class="image-name">{{image?.name}}</p>
                        <mat-radio-group
                          [(ngModel)]="newAddData.cover" [ngModelOptions]="{standalone: true}"
                          (ngModelChange)="log($event)">
                          <mat-radio-button class="example-radio-button" [value]="image.id">
                            الصورة الاساسية
                          </mat-radio-button>
                        </mat-radio-group>

                      </div>
                      <a class="ml-auto dismiss" (click)="deleteImage(index)">&times;</a>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
          <div class="action mt-4">
            <button class="btn submit btn-primary" type="submit">اضافة اعلان</button>
            <!--            <button class="btn btn-secondary ml-2" type="button" (click)="openFirstScreen()">العودة</button>-->
          </div>
        </div>
      </form>
    </div>
  </section>

  <!--  third screen - select sub category -->
  <!--  <section class="third-screen" *ngIf="thirdScreen">-->
  <!--    <header class="card-title mb-3">-->
  <!--      <h5 class="font-weight-bold">{{subCategoryInputs?.name}}</h5>-->
  <!--    </header>-->
  <!--    <div class="options">-->
  <!--      <form #inputsForm="ngForm" (ngSubmit)="">-->
  <!--        <div class="form-group">-->
  <!--          <div class="custom-control custom-radio mb-2" *ngFor="let input of subCategoryInputs?.options; index as i">-->
  <!--            <input type="radio"-->
  <!--                   [(ngModel)]="newAddData[subCategoryInputs?.field]"-->
  <!--                   [value]="input?.value"-->
  <!--                   class="custom-control-input"-->
  <!--                   [id]="i"-->
  <!--                   name="category"-->
  <!--                   required-->
  <!--                   (change)="inputsChange(input)">-->
  <!--            <label class="custom-control-label" [for]="i">{{input?.name}}</label>-->
  <!--          </div>-->
  <!--          <div class="action mt-4">-->
  <!--            <button class="btn submit btn-primary" type="submit" [disabled]="inputsForm?.invalid">التالي</button>-->
  <!--&lt;!&ndash;            <button class="btn btn-secondary ml-2" type="button" (click)="openSecondScreen()">العودة</button>&ndash;&gt;-->
  <!--          </div>-->
  <!--        </div>-->
  <!--      </form>-->
  <!--    </div>-->
  <!--  </section>-->

  <!--  fourth screen - car specifications -->
  <!--  <section class="fourth-screen" *ngIf="fourthScreen">-->
  <!--    <header class="card-title mb-4">-->
  <!--      <h5 class="font-weight-bold">مواصفات السيارة</h5>-->
  <!--    </header>-->
  <!--    <div class="options">-->
  <!--      <form #specificationForm="ngForm" (ngSubmit)="openFifthScreen()">-->
  <!--        <div class="form-group row mb-2">-->

  <!--          <label for="manufacturer" class="col-md-2 col-form-label mb-2">اسم الصانع</label>-->
  <!--          <div class="col-md-10 mb-3">-->
  <!--            <select class="custom-select"-->
  <!--                    name="manufacturer"-->
  <!--                    required-->
  <!--                    (ngModelChange)="getModelsByBrand($event)"-->
  <!--                    [(ngModel)]="brandValue"-->
  <!--                    id="manufacturer">-->
  <!--              <option value="" disabled>اختر الصانع...</option>-->
  <!--              <option *ngFor="let brand of brandList" [ngValue]="brand">{{brand.name}}</option>-->
  <!--            </select>-->
  <!--          </div>-->

  <!--          <label for="model" class="col-md-2 col-form-label mb-2">الموديل</label>-->
  <!--          <div class="col-md-10 mb-3">-->
  <!--            <select class="custom-select"-->
  <!--                    name="model"-->
  <!--                    required-->
  <!--                    (ngModelChange)="getStylesByModel($event)"-->
  <!--                    [(ngModel)]="modelValue"-->
  <!--                    [disabled]="brandValue.name === ''"-->
  <!--                    id="model">-->
  <!--              <option value="" disabled-->
  <!--                      selected>{{modelList.length > 0 ? 'اختر الموديل...' : 'لا يوجد موديلات لهذا الصانع'}}</option>-->
  <!--              <option *ngFor="let model of modelList" [ngValue]="model">{{model?.name}}</option>-->
  <!--            </select>-->
  <!--          </div>-->

  <!--          <label for="style" class="col-md-2 col-form-label mb-2">الطراز</label>-->
  <!--          <div class="col-md-10 mb-3">-->
  <!--            <select class="custom-select"-->
  <!--                    name="style"-->
  <!--                    required-->
  <!--                    (ngModelChange)="styleChange($event)"-->
  <!--                    [(ngModel)]="styleValue"-->
  <!--                    [disabled]="modelValue.name === ''"-->
  <!--                    id="style">-->
  <!--              <option disabled>{{styleList.length > 0 ? 'اختر الطراز...' : 'لا يوجد طراز لهذا الموديل'}}</option>-->
  <!--              <option *ngFor="let style of styleList" [ngValue]="style">{{style?.name}}</option>-->
  <!--            </select>-->
  <!--          </div>-->

  <!--          <label for="manufacturingYear" class="col-md-2 col-form-label mb-2">سنة الصنع</label>-->
  <!--          <div class="col-md-10 mb-3">-->
  <!--            <select class="custom-select"-->
  <!--                    name="manufacturingYear"-->
  <!--                    required-->
  <!--                    [(ngModel)]="newAddData.manufacturingYear"-->
  <!--                    id="manufacturingYear">-->
  <!--              <option disabled>اختر سنة الصنع...</option>-->
  <!--              <option *ngFor="let year of years()" [ngValue]="year">{{year}}</option>-->
  <!--            </select>-->
  <!--          </div>-->

  <!--          <label for="typeOfAdd" class="col-md-2 col-form-label mb-2">نوع المواصفات</label>-->
  <!--          <div class="col-md-10 mb-3">-->
  <!--            <select class="custom-select"-->
  <!--                    required name="typeOfAdd"-->
  <!--                    [(ngModel)]="newAddData.typeOfSpecifications"-->
  <!--                    id="typeOfAdd">-->
  <!--              <option disabled>اختر نوع المواصفات...</option>-->
  <!--              <option value="مواصفات اولي">مواصفات اولي</option>-->
  <!--              <option value="مواصفات ثانية">مواصفات ثانية</option>-->
  <!--            </select>-->
  <!--          </div>-->

  <!--          <label for="agent" class="col-md-2 col-form-label mb-2">الوكيل</label>-->
  <!--          <div class="col-md-10 mb-3">-->
  <!--            <select class="custom-select"-->
  <!--                    required name="agent"-->
  <!--                    [(ngModel)]="newAddData.agent"-->
  <!--                    id="agent">-->
  <!--              <option disabled>اختر وكيل...</option>-->
  <!--              <option value="المهدي">المهدي</option>-->
  <!--              <option value="كامل للسيارات">كامل للسيارات</option>-->
  <!--            </select>-->
  <!--          </div>-->

  <!--          <div class="col-12">-->
  <!--            <div class="action mt-4">-->
  <!--              <button class="btn submit btn-primary" type="submit" [disabled]="specificationForm?.invalid">التالي-->
  <!--              </button>-->
  <!--              <button class="btn btn-secondary ml-2" type="button" (click)="openThirdScreen()">العودة</button>-->
  <!--            </div>-->
  <!--          </div>-->
  <!--        </div>-->
  <!--      </form>-->
  <!--    </div>-->
  <!--  </section>-->

  <!--  fifth screen - car specifications -->
  <!--  <section class="fifth-screen" *ngIf="fifthScreen">-->
  <!--    <header class="card-title mb-4">-->
  <!--      <h5 class="font-weight-bold">معلومات إضافية</h5>-->
  <!--    </header>-->
  <!--    &lt;!&ndash;    if cars &ndash;&gt;-->
  <!--    <div class="options" *ngIf="category.name === 'سيارات'">-->
  <!--      <form #additionalInfoForm="ngForm" (ngSubmit)="openSixScreen()">-->
  <!--        <div class="form-group row mb-2">-->

  <!--          <label for="movementController" class="col-md-2 col-form-label mb-2">ناقل الحركة</label>-->
  <!--          <div class="col-md-10 mb-3">-->
  <!--            <select class="custom-select"-->
  <!--                    name="movementController"-->
  <!--                    required-->
  <!--                    [(ngModel)]="newAddData.movementController"-->
  <!--                    id="movementController">-->
  <!--              <option value="" disabled selected>اختر ناقل الجركة...</option>-->
  <!--              <option value="يدوي">يدوي</option>-->
  <!--              <option value="اوتوماتيك">اوتوماتيك2</option>-->
  <!--            </select>-->
  <!--          </div>-->

  <!--          <label for="speedCount" class="col-md-2 col-form-label mb-2">عدد سرعات ناقل الحركة</label>-->
  <!--          <div class="col-md-10 mb-3">-->
  <!--            <select class="custom-select"-->
  <!--                    required-->
  <!--                    [(ngModel)]="newAddData.speedCount"-->
  <!--                    name="speedCount"-->
  <!--                    id="speedCount">-->
  <!--              <option value="" disabled selected>اختر عدد سرعات ناقل الحركة...</option>-->
  <!--              <option value="5">5</option>-->
  <!--              <option value="6">6</option>-->
  <!--            </select>-->
  <!--          </div>-->

  <!--          <label for="color" class="col-md-2 col-form-label mb-2">اللون</label>-->
  <!--          <div class="col-md-10 mb-3">-->
  <!--            <select class="custom-select"-->
  <!--                    [(ngModel)]="newAddData.color"-->
  <!--                    name="color"-->
  <!--                    required-->
  <!--                    id="color">-->
  <!--              <option value="" disabled selected>اختر اللون...</option>-->
  <!--              <option value="احمر">احمر</option>-->
  <!--              <option value="اسود">اسود</option>-->
  <!--              <option value="ازرق">ازرق</option>-->
  <!--              <option value="كحلي">كحلي</option>-->
  <!--              <option value="بني">بني</option>-->
  <!--              <option value="فضي">فضي</option>-->
  <!--            </select>-->
  <!--          </div>-->

  <!--          <label for="innerColor" class="col-md-2 col-form-label mb-2">اللون الداخلي</label>-->
  <!--          <div class="col-md-10 mb-3">-->
  <!--            <select class="custom-select"-->
  <!--                    name="innerColor"-->
  <!--                    required-->
  <!--                    [(ngModel)]="newAddData.innerColor"-->
  <!--                    id="innerColor">-->
  <!--              <option value="" disabled selected>اختر اللون الداخلي...</option>-->
  <!--              <option value="احمر">احمر</option>-->
  <!--              <option value="اسود">اسود</option>-->
  <!--              <option value="ازرق">ازرق</option>-->
  <!--              <option value="كحلي">كحلي</option>-->
  <!--              <option value="بني">بني</option>-->
  <!--              <option value="فضي">فضي</option>-->
  <!--            </select>-->
  <!--          </div>-->

  <!--          <label for="cylinderCount" class="col-md-2 col-form-label mb-2">عدد السلندرات</label>-->
  <!--          <div class="col-md-10 mb-3">-->
  <!--            <select class="custom-select"-->
  <!--                    name="cylinderCount"-->
  <!--                    [(ngModel)]="newAddData.cylinderCount"-->
  <!--                    required-->
  <!--                    id="cylinderCount">-->
  <!--              <option value="" disabled selected>اختر عدد السلندرات...</option>-->
  <!--              <option value="1">1</option>-->
  <!--              <option value="2">2</option>-->
  <!--              <option value="3">3</option>-->
  <!--              <option value="4">4</option>-->
  <!--              <option value="5">5</option>-->
  <!--            </select>-->
  <!--          </div>-->

  <!--          <label for="fuelType" class="col-md-2 col-form-label mb-2">نوع الوقود</label>-->
  <!--          <div class="col-md-10 mb-3">-->
  <!--            <select class="custom-select"-->
  <!--                    name="fuelType"-->
  <!--                    required-->
  <!--                    [(ngModel)]="newAddData.fuelType"-->
  <!--                    id="fuelType">-->
  <!--              <option value="" disabled selected>اختر نوع الوقود...</option>-->
  <!--              <option value="بنزين 82">بنزين 82</option>-->
  <!--              <option value="بنزين 92">بنزين 92</option>-->
  <!--              <option value="بنزين 95">بنزين 95</option>-->
  <!--              <option value="سولار">سولار</option>-->
  <!--              <option value="جاز">جاز</option>-->
  <!--            </select>-->
  <!--          </div>-->

  <!--          <div class="col-12">-->
  <!--            <div class="action mt-4">-->
  <!--              <button class="btn submit btn-primary" type="submit" [disabled]="additionalInfoForm?.invalid">التالي-->
  <!--              </button>-->
  <!--              <button class="btn btn-secondary ml-2" type="button" (click)="openFourthScreen()">العودة</button>-->
  <!--            </div>-->
  <!--          </div>-->
  <!--        </div>-->
  <!--      </form>-->
  <!--    </div>-->

  <!--    &lt;!&ndash;    if spare parts &ndash;&gt;-->
  <!--    <div class="options" *ngIf="category.name === 'قطع غيار'">-->
  <!--      <form #additionalInfoForm="ngForm" (ngSubmit)="openSixScreen()">-->
  <!--        <div class="form-group row">-->
  <!--          <div class="col-md-3">-->
  <!--            <label for="brand" class="font-weight-bold">الشركات المتوافقة</label>-->
  <!--          </div>-->
  <!--          <div class="col-md-9">-->
  <!--            <div class="input-group mb-3">-->
  <!--              <select class="custom-select"-->
  <!--                      name="manufacturer"-->
  <!--                      required-->
  <!--                      [(ngModel)]="brandValue"-->
  <!--                      id="brand">-->
  <!--                <option disabled-->
  <!--                        selected>{{brandList.length > 0 ? 'اختر الشركات المتوافقة..' : 'لا يوجد شركات متوافقة اخري'}}</option>-->
  <!--                <option *ngFor="let brand of brandList" [ngValue]="brand">{{brand.name}}</option>-->
  <!--              </select>-->
  <!--              <div class="input-group-append">-->
  <!--                <button class="btn btn-primary add" type="button" [disabled]="!brandValue.name" (click)="addToBrands()">-->
  <!--                  إضافة-->
  <!--                </button>-->
  <!--              </div>-->
  <!--            </div>-->

  <!--            <div class="brand-list">-->
  <!--              <ul class="list-unstyled d-flex flex-wrap">-->
  <!--                <li class="brand mr-2 mb-2" *ngFor="let brand of spareBrandList; index as i">-->
  <!--                  <span class="text">{{brand?.name}}</span>-->
  <!--                  <a class="del ml-1 p-2" (click)="removeFromBrand(i)">&times;</a>-->
  <!--                </li>-->

  <!--              </ul>-->
  <!--            </div>-->

  <!--          </div>-->

  <!--          <div class="col-md-3">-->
  <!--            <label for="models" class="font-weight-bold">الموديلات المتوافقة</label>-->
  <!--          </div>-->
  <!--          <div class="col-md-9">-->
  <!--            <div class="input-group mb-3">-->
  <!--              <select class="custom-select"-->
  <!--                      name="model"-->
  <!--                      required-->
  <!--                      [(ngModel)]="modelValue"-->
  <!--                      id="models">-->
  <!--                <option disabled-->
  <!--                        selected>{{modelList.length > 0 ? 'اختر الموديلات المتوافقة..' : 'لا يوجد موديلات متوافقة اخري'}}</option>-->
  <!--                <option *ngFor="let model of modelList" [ngValue]="model">{{model?.name}}</option>-->
  <!--              </select>-->
  <!--              <div class="input-group-append">-->
  <!--                <button class="btn btn-primary add" type="button" [disabled]="!modelValue.name" (click)="addToModels()">-->
  <!--                  إضافة-->
  <!--                </button>-->
  <!--              </div>-->
  <!--            </div>-->

  <!--            <div class="brand-list">-->
  <!--              <ul class="list-unstyled d-flex flex-wrap">-->
  <!--                <li class="brand mr-2 mb-2" *ngFor="let model of spareModelList; index as i">-->
  <!--                  <span class="text">{{model?.name}}</span>-->
  <!--                  <a class="del ml-1 p-2" (click)="removeFromModel(i)">&times;</a>-->
  <!--                </li>-->

  <!--              </ul>-->
  <!--            </div>-->

  <!--          </div>-->

  <!--          <div class="col-md-3">-->
  <!--            <label for="styles" class="font-weight-bold">الطرازات المتوافقة</label>-->
  <!--          </div>-->
  <!--          <div class="col-md-9">-->
  <!--            <div class="input-group mb-3">-->
  <!--              <select class="custom-select"-->
  <!--                      name="style"-->
  <!--                      required-->
  <!--                      [(ngModel)]="styleValue"-->
  <!--                      id="styles">-->
  <!--                <option disabled-->
  <!--                        selected>{{styleList.length > 0 ? 'اختر الطرازات المتوافقة..' : 'لا يوجد طرازات متوافقة اخري'}}</option>-->
  <!--                <option *ngFor="let style of styleList" [ngValue]="style">{{style?.name}}</option>-->
  <!--              </select>-->
  <!--              <div class="input-group-append">-->
  <!--                <button class="btn btn-primary add" type="button" [disabled]="!styleValue.name" (click)="addToStyles()">-->
  <!--                  إضافة-->
  <!--                </button>-->
  <!--              </div>-->
  <!--            </div>-->

  <!--            <div class="brand-list">-->
  <!--              <ul class="list-unstyled d-flex flex-wrap">-->
  <!--                <li class="brand mr-2 mb-2" *ngFor="let style of spareStyleList; index as i">-->
  <!--                  <span class="text">{{style?.name}}</span>-->
  <!--                  <a class="del ml-1 p-2" (click)="removeFromStyles(i)">&times;</a>-->
  <!--                </li>-->

  <!--              </ul>-->
  <!--            </div>-->

  <!--          </div>-->

  <!--          <div class="col-md-3">-->
  <!--            <label for="spareYears" class="font-weight-bold">سنوات الصنع المتوافقة</label>-->
  <!--          </div>-->
  <!--          <div class="col-md-9">-->
  <!--            <div class="input-group mb-3">-->
  <!--              <select class="custom-select"-->
  <!--                      name="spareYears"-->
  <!--                      required-->
  <!--                      [(ngModel)]="spareYearValue"-->
  <!--                      id="spareYears">-->
  <!--                <option disabled selected>اختر سنوات الصنع المتوافقة</option>-->
  <!--                <option *ngFor="let year of spareYears" [ngValue]="year">{{year}}</option>-->
  <!--              </select>-->
  <!--              <div class="input-group-append">-->
  <!--                <button class="btn btn-primary add" type="button" [disabled]="!spareYearValue" (click)="addToYears()">-->
  <!--                  إضافة-->
  <!--                </button>-->
  <!--              </div>-->
  <!--            </div>-->

  <!--            <div class="brand-list">-->
  <!--              <ul class="list-unstyled d-flex flex-wrap">-->
  <!--                <li class="brand mr-2 mb-2" *ngFor="let year of newAddData.manufacturingYears; index as i">-->
  <!--                  <span class="text">{{year}}</span>-->
  <!--                  <a class="del ml-1 p-2" (click)="removeFromYears(i)">&times;</a>-->
  <!--                </li>-->

  <!--              </ul>-->
  <!--            </div>-->

  <!--          </div>-->

  <!--          <div class="col-12">-->
  <!--            <div class="action mt-4">-->
  <!--              <button class="btn submit btn-primary" type="submit"-->
  <!--                      [disabled]="spareBrandList.length === 0 || spareModelList.length === 0 || spareStyleList.length === 0 || newAddData.manufacturingYears.length === 0 ">-->
  <!--                التالي-->
  <!--              </button>-->
  <!--              <button class="btn btn-secondary ml-2" type="button" (click)="openFourthScreen()">العودة</button>-->
  <!--            </div>-->
  <!--          </div>-->

  <!--        </div>-->
  <!--      </form>-->
  <!--    </div>-->
  <!--  </section>-->

  <!--  sixth screen - Add Info -->
  <section class="six-screen" *ngIf="sixScreen">
    <!--    <header class="card-title mb-4">-->
    <!--      <h5 class="font-weight-bold">معلومات الإعلان</h5>-->
    <!--    </header>-->
    <!--    <div class="options">-->
    <!--      <form #addInfoForm="ngForm" (ngSubmit)="openSevenScreen()">-->
    <!--        <div class="form-group row mb-2">-->

    <!--          <label for="addTitle" class="col-md-2 col-form-label mb-md-2">عنوان الإعلان</label>-->
    <!--          <div class="col-md-10 mb-3">-->
    <!--            <input type="text"-->
    <!--                   class="form-control mb-3"-->
    <!--                   name="addTitle"-->
    <!--                   [(ngModel)]="newAddData.title"-->
    <!--                   id="addTitle"-->
    <!--                   required>-->
    <!--          </div>-->

    <!--          <label for="addDescription" class="col-md-2 col-form-label mb-md-2">نص الإعلان</label>-->
    <!--          <div class="col-md-10 ">-->
    <!--            <textarea class="form-control mb-3"-->
    <!--                      required rows="5"-->
    <!--                      name="addDescription"-->
    <!--                      [(ngModel)]="newAddData.text"-->
    <!--                      id="addDescription"></textarea>-->
    <!--          </div>-->

    <!--          <div class="col-md-6">-->
    <!--            <div class="form-group row">-->
    <!--              <label for="city" class="col-md-4 col-form-label">حدد المدينة</label>-->
    <!--              <div class="col-md-8">-->
    <!--                <select class="custom-select"-->
    <!--                        required name="city"-->
    <!--                        [(ngModel)]="newAddData.city"-->
    <!--                        id="city">-->
    <!--                  <option value="" disabled selected>اختر المدينة...</option>-->
    <!--                  <option *ngFor="let city of cities" [value]="city?.name">{{city?.name}}</option>-->
    <!--                </select>-->
    <!--              </div>-->
    <!--            </div>-->
    <!--          </div>-->

    <!--          <div class="col-md-6">-->
    <!--            <div class="form-group row">-->
    <!--              <label for="price" class="col-md-4 col-form-label">السعر</label>-->
    <!--              <div class="col-md-8 price">-->
    <!--                <input type="text"-->
    <!--                       class="form-control mb-3"-->
    <!--                       name="price"-->
    <!--                       [(ngModel)]="newAddData.price"-->
    <!--                       id="price"-->
    <!--                       inputmode="numeric"-->
    <!--                       pattern="[0-9]*"-->
    <!--                       onkeypress="validateN(event)"-->
    <!--                       required>-->
    <!--                <span class="ryal">ر.س</span>-->
    <!--              </div>-->
    <!--            </div>-->
    <!--          </div>-->

    <!--          <div class="col-md-6">-->
    <!--            <div class="form-group row">-->
    <!--              <label for="runningKilos" class="col-md-4 col-form-label">الممشي</label>-->
    <!--              <div class="col-md-8 price">-->
    <!--                <input type="text"-->
    <!--                       name="runningKilos"-->
    <!--                       id="runningKilos"-->
    <!--                       [(ngModel)]="newAddData.runningKilos"-->
    <!--                       class="form-control mb-3"-->
    <!--                       inputmode="numeric"-->
    <!--                       pattern="[0-9]*"-->
    <!--                       onkeypress="validateN(event)"-->
    <!--                       required>-->
    <!--                <span class="ryal">كيلو</span>-->
    <!--              </div>-->
    <!--            </div>-->
    <!--          </div>-->

    <!--          <div class="col-md-6">-->
    <!--            <div class="form-group row">-->
    <!--              <label for="phone" class="col-md-4 col-form-label">رقم التواصل</label>-->
    <!--              <div class="col-md-8">-->
    <!--                <input type="text"-->
    <!--                       name="phone"-->
    <!--                       [(ngModel)]="newAddData.contactNumber"-->
    <!--                       id="phone"-->
    <!--                       inputmode="numeric"-->
    <!--                       pattern="[0-9]*"-->
    <!--                       onkeypress="validateN(event)"-->
    <!--                       class="form-control mb-3"-->
    <!--                       required>-->
    <!--              </div>-->
    <!--            </div>-->
    <!--          </div>-->

    <!--          <div class="col-md-6">-->
    <!--            <div class="form-group row">-->
    <!--              <label for="warrantyStatus" class="col-md-4 col-form-label">حالة الضمان</label>-->
    <!--              <div class="col-md-8">-->
    <!--                <select class="custom-select"-->
    <!--                        name="warrantyStatus"-->
    <!--                        required-->
    <!--                        [(ngModel)]="newAddData.warrantyStatus"-->
    <!--                        id="warrantyStatus">-->
    <!--                  <option value="" disabled selected>اخترنوع الضمان...</option>-->
    <!--                  <option value="ساري">ساري</option>-->
    <!--                  <option value="منتهي">منتهي</option>-->
    <!--                </select>-->
    <!--              </div>-->
    <!--            </div>-->
    <!--          </div>-->

    <!--          <div class="col-12">-->
    <!--            <div class="action mt-4">-->
    <!--              <button class="btn submit btn-primary" type="submit" [disabled]="addInfoForm?.invalid">التالي</button>-->
    <!--              <button class="btn btn-secondary ml-2" type="button" (click)="openFifthScreen()">العودة</button>-->
    <!--            </div>-->
    <!--          </div>-->
    <!--        </div>-->
    <!--      </form>-->
    <!--    </div>-->
  </section>

  <!--  Seven screen - Add Images -->
  <section class="seven-screen" *ngIf="sevenScreen">
    <!--    <header class="card-title mb-4">-->
    <!--      <h5 class="font-weight-bold">إضافة صور</h5>-->
    <!--    </header>-->
    <!--    <div class="options">-->
    <!--      <form #uploadForm="ngForm" (ngSubmit)="openEightScreen()">-->
    <!--        <div class="form-group row">-->
    <!--          <div class="col-md-4 mb-3">-->
    <!--            <label class="drag-area d-flex flex-column align-items-center justify-content-center"-->
    <!--                   disabled-->
    <!--                   for="images">-->

    <!--              <div class="mini-loader" *ngIf="isUploading">-->
    <!--                <div class="icon d-flex align-items-center justify-content-center">-->
    <!--                  <div uk-spinner></div>-->
    <!--                </div>-->
    <!--              </div>-->

    <!--              <i class="fa fa-cloud-upload-alt" aria-hidden="true"></i>-->
    <!--              <p>أنقر للاختيار يدويا</p>-->
    <!--              <input type="file" id="images"-->
    <!--                     (change)="uploadImage($event)"-->
    <!--                     [required]="imageList.length === 0"-->
    <!--                     name="images"-->
    <!--                     accept="image/*"-->
    <!--                     ngModel-->
    <!--                     multiple-->
    <!--                     *ngIf="!isUploading"-->
    <!--                     class="d-none">-->
    <!--            </label>-->
    <!--            <div class="action mt-4">-->
    <!--              <button class="btn submit btn-primary" type="submit" [disabled]="uploadForm?.invalid">التالي</button>-->
    <!--              <button class="btn btn-secondary ml-2" type="button" (click)="openSixScreen()">العودة</button>-->
    <!--            </div>-->
    <!--          </div>-->
    <!--          <div class="col-md-8">-->
    <!--            <div class="image-list">-->

    <!--              <div class="single-image p-3 d-flex align-items-center justify-content-start"-->
    <!--                   *ngFor="let image of imageList; index as i">-->
    <!--                <div class="image-area">-->
    <!--                  <img [src]="image?.path" alt="image" class="img-fluid">-->
    <!--                </div>-->

    <!--                <div class="desc-area">-->
    <!--                  <p class="image-name">{{image?.name}}</p>-->
    <!--                </div>-->

    <!--                <a class="ml-auto dismiss" (click)="deleteImage(i)">&times;</a>-->
    <!--              </div>-->

    <!--            </div>-->
    <!--          </div>-->
    <!--        </div>-->
    <!--      </form>-->
    <!--    </div>-->
  </section>

  <!--  Eight Screen - Add. Preview -->

  <section class="eight-screen" *ngIf="eightScreen">
    <header class="card-title mb-4">
      <h5 class="font-weight-bold">هل تفاصيل الإعلان صحيحة؟</h5>
    </header>
    <div class="row">
      <div class="col-lg-4 mb-2">
        <swiper [config]="config">
          <div class="swiper-wrapper">
            <div class="swiper-slide" *ngFor="let slide of imageList">
              <img [src]="slide.path" [alt]="slide?.name">
            </div>
          </div>
          <!-- Add Pagination -->
          <div class="swiper-pagination"></div>
          <!-- Add Arrows -->
          <!--          <div class="swiper-button-next slide-control"></div>-->
          <!--          <div class="swiper-button-prev slide-control"></div>-->
        </swiper>
        <div class="desc mt-3">
          <div class="row">
            <div class="col-lg-4">
              <p class="font-weight-bold">الفئة</p>
            </div>
            <div class="col-lg-8">
              <p class="value">{{newAddData?.typeOfAd}}</p>
            </div>
            <div class="col-lg-4">
              <p class="font-weight-bold">القسم الفرعي</p>
            </div>
            <div class="col-lg-8">
              <p class="value">{{subCatName}}</p>
            </div>
            <div class="col-lg-4">
              <p class="font-weight-bold">السعر</p>
            </div>
            <div class="col-lg-8">
              <p class="value">{{newAddData?.price}} ريال </p>
            </div>
            <div class="col-lg-4">
              <p class="font-weight-bold">رقم التواصل</p>
            </div>
            <div class="col-lg-8">
              <p class="value">{{newAddData?.contactNumber}}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="row">
          <div class="col-md-3">
            <p class="font-weight-bold">عنوان الإعلان</p>
          </div>
          <div class="col-md-9">
            <p class="value">{{newAddData?.title}}</p>
          </div>
          <div class="col-md-3">
            <p class="font-weight-bold">نص الإعلان</p>
          </div>
          <div class="col-md-9 mb-2">
            <p class="value">{{newAddData?.text}}</p>
          </div>
          <div class="col-12 uk-overflow-auto" *ngIf="category.name === 'سيارات'">
            <table class="uk-table uk-table-striped">
              <thead>
              <tr>
                <th>اسم الصانع</th>
                <th>الموديل</th>
                <th>الطراز</th>
                <th>سنة الصنع</th>
                <th>نوع المواصفات</th>
                <th>الوكيل</th>
                <th>نوع الوقود</th>
                <th>ناقل الحركة</th>
                <th>هيكل السيارة</th>
                <th class="uk-table-expand">عدد سرعات ناقل الحركة</th>
                <th>اللون</th>
                <th>اللون الداخلي</th>
                <th>عدد السلندرات</th>
                <th>المسافة المقطوعة</th>
                <th>نوع الضمان</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>{{brandName}}</td>
                <td>{{modelName}}</td>
                <td>{{styleName}}</td>
                <td>{{newAddData?.manufacturingYear}}</td>
                <td>{{newAddData?.typeOfSpecifications}}</td>
                <td>{{newAddData?.agent}}</td>
                <td>{{newAddData?.fuelType}}</td>
                <td>{{newAddData?.movementController}}</td>
                <td>{{newAddData?.carBody}}</td>
                <td>{{newAddData?.speedCount}}</td>
                <td>{{newAddData?.color}}</td>
                <td>{{newAddData?.innerColor}}</td>
                <td>{{newAddData?.cylinderCount}}</td>
                <td>{{newAddData?.runningKilos}} كيلو</td>
                <td>{{newAddData?.warrantyStatus}}</td>
              </tr>
              </tbody>
            </table>
          </div>

          <div class="col-12 uk-overflow-auto" *ngIf="category.name === 'قطع غيار'">
            <table class="uk-table uk-table-striped">
              <thead>
              <tr>
                <th>اسماء الصانعون</th>
                <th>الموديلات</th>
                <th>الطرازات</th>
                <th>سنوات الصنع</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>
                  <span *ngFor="let brand of spareBrandList">{{brand?.name + '، '}}</span>
                </td>
                <td>
                  <span *ngFor="let model of spareModelList">{{model?.name + '، '}}</span>
                </td>
                <td>
                  <span *ngFor="let style of spareStyleList">{{style?.name + '، '}}</span>
                </td>
                <td>
                  <span *ngFor="let year of newAddData.manufacturingYears">{{year + ', '}}</span>
                </td>
              </tr>
              </tbody>
            </table>
          </div>

          <div class="col-12">
            <div class="action mt-4">
              <button class="btn submit btn-primary" type="submit" (click)="addNewAddv()" [disabled]="postingAdd">
                <i class="fa fa-spinner fa-spin" *ngIf="postingAdd" aria-hidden="true"></i>
                نشر
              </button>
              <button class="btn btn-secondary ml-2" type="button" [disabled]="postingAdd" (click)="openSevenScreen()">
                العودة
              </button>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>

</div>
