@import "../../../../../assets/variables";
.card {
  position: relative;
  transition: 0.2s height;
  min-height: 200px;

  .loader {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    //bottom: 0;
    background-color: $background-color;
    z-index: 10;

    .icon {
      height: 100%;
    }
  }
}

swiper {
  height: auto;
  width: 100%;
}

.options {
  .form-group {

    input, textarea, select {
      color: #000;
      font-weight: 600;
      border: 1px solid rgba(black, 0.04);
      box-shadow: 0 0 3px rgba(black, 0.1);
      background-color: rgba(black, 0.03);

      &:focus {
        border: 1px solid $main-color;
        box-shadow: 0 0 5px rgba($main-color, 0.6);
      }
    }

    label {
      font-weight: bold;
      cursor: pointer;
    }

    .price {
      position: relative;

      input {
        padding-left: 3rem;
      }

      .ryal {
        position: absolute;
        top: 30%;
        left: 30px;
        transform: translateY(-50%);
        font-weight: bold;
        color: rgba(black, 0.5);
      }
    }

    .drag-area {
      position: relative;
      padding: 3rem;
      border-radius: 5px;
      border: 2px dashed black;

      .mini-loader {
        //display: none;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: white;
        z-index: 20;

        .icon {
          height: 100%;
        }
      }


      i {
        font-size: 5em;
        margin-bottom: 1rem;
      }

      &:hover {
        i {
          animation: upAndDown 0.8s infinite ease-out;
        }
      }
    }

    .image-list {
      .single-image {
        background-color: rgba(black, 0.02);
        border-radius: 4px;
        box-shadow: 0 2px 4px rgba(black, 0.04);

        &:hover {
          background-color: rgba(black, 0.04);
        }

        .image-area {
          width: 20%;
          margin-left: 1rem;
          img {
            box-shadow: 0 2px 10px rgba(black, 0.1);
            border-radius: 4px;
          }
        }

        .desc-area {
          display: inline-flex;
          flex-direction: column;
          .image-name {
            font-weight: 600;
          }
        }

        .dismiss {
          user-select: none;
          font-size: 2em;
          color: rgba(black, 0.6);
          transition: 0.2s;
          &:active {
            transform: scale(0.9);
          }
        }
      }
    }
  }
}

.action {
  .btn {
    border-radius: 4px;
    border: none;
    padding: 0.5rem 1.5rem;
    box-shadow: none;
    transition: 0.2s;

    &:not(:disabled) {
      cursor: pointer;

      &:hover {
        opacity: 0.9;
      }

      &:active {
        transform: scale(0.9);
      }
    }
  }

  .submit {
    background-color: $btn-color;
  }
}

.custom-select {
  &:disabled {
    background-color: rgba(black, 0.1) !important;
    background-image: url("../../../../../assets/lock-input.svg");
    border-bottom: 2px solid rgba($secondary-color, 0.03) !important;
  }
}

.slide-control {
  background-color: $main-color;
  color: white;
  padding: 0.7rem 1.3rem;

  &:after {
    font-size: 1.3em;
  }
}

.desc {
  .value {
    font-weight: 600;
  }
}

.input-group-append {
  .add {
    background-color: $main-color;
    box-shadow: none;
    transition: 0.2s;
    font-weight: 600;
    border: 0;
    &:active {
      transform: scale(0.9);
      box-shadow: none;
    }
  }
}

.brand-list {
  .brand {
    padding: 0.3rem 1rem 0.3rem 0.3rem;
    background-color: rgba($main-color, 0.1);
    transition: 0.2s;
    color: $main-color;
    font-weight: 600;
    .del {
      line-height: 2px;
      user-select: none;
      font-size: 1.5em;
      transition: 0.2s;
      &:active {
        transform: scale(0.9);
        color: red;
      }
    }
    &:hover {
      background-color: rgba($main-color, 0.2);
    }
  }
}

@keyframes upAndDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0);
  }
}
