@import "../../../assets/variables";
.card {
  .side-item {
    padding: 0.6rem 0.8rem;
    transition: 0.1s background-color;

    word-break: break-all;
    cursor: pointer;
    .side-link {
      font-size: 0.7em;
      font-weight: bold;
      white-space: nowrap;
      color: #000;
    }
    &:hover {
      background-color: rgba($main-color, 0.2);
    }
  }
}

.side-active {
  border-right: 5px solid $secondary-color;
  background-color: rgba($main-color, 0.2);
}

.btn_ {
  display: none;
}

@media only screen and (max-width: 767px) {
  .website_ {
    display: none;
    margin-top: 67px;
  }
  .btn_ {
    display: block;
  }
}

.btn_ {
  width: 100%;
  background-color: #2699fb;
  margin-top: 60px;
  color: white;
  padding: 10px 0px;
  text-align: center;
  font-weight: bold;
  border: none;
  border-radius: 5px;
}
.uk-offcanvas-bar {
  background: #fff !important;
}

.uk-offcanvas-close {
  color: #111 !important;
}
