<button class="btn_" uk-toggle="target: #offcanvas-flip">خيارات</button>

<div class="card website_">
  <ul class="list-unstyled ">
    <li class="side-item" routerLink="/admin/advertisement-management" routerLinkActive="side-active"><a
        class="side-link text-decoration-none">إدارة اعلاناتي</a></li>
    <li class="side-item" *ngIf="(profile?.isAdmin || profile?.isModerator)" routerLink="/admin/advertisements"
      routerLinkActive="side-active"><a class="side-link text-decoration-none">إدارة اعلانات الموقع</a></li>
    <li class="side-item" *ngIf="(profile?.isAdmin || profile?.isModerator)" routerLink="/admin/users"
      routerLinkActive="side-active"><a class="side-link text-decoration-none">إدارة المستخدمين</a></li>
    <li class="side-item" *ngIf="(profile?.isAdmin || profile?.isModerator)" routerLink="/admin/new-model-style"
      routerLinkActive="side-active"><a class="side-link text-decoration-none">إضافة (موديل - طراز - صانع)</a></li>
    <li class="side-item" *ngIf="(profile?.isAdmin || profile?.isModerator)" routerLink="/admin/comments"
      routerLinkActive="side-active"><a class="side-link text-decoration-none">إدارة التعليقات</a></li>
    <li class="side-item" *ngIf="(profile?.isAdmin || profile?.isModerator)" routerLink="/admin/edit-subCategory"
      routerLinkActive="side-active"><a class="side-link text-decoration-none"> إدارة الفئات الفرعية</a></li>
    <li class="side-item" routerLink="/admin/new-advertisement" routerLinkActive="side-active"><a
        class="side-link text-decoration-none">إضافة إعلان</a></li>
    <li class="side-item" routerLink="/admin/settings" routerLinkActive="side-active"><a
        class="side-link text-decoration-none">إعدادات الحساب</a></li>
    <li class="side-item" [routerLink]="['/admin/user/', profile?.profileContainer?.user?._id]"
      routerLinkActive="side-active"><a class="side-link text-decoration-none">عرض الملف الشخصي</a></li>
    <li hidden class="side-item"><a class="side-link text-decoration-none">العضويات</a></li>
    <li class="side-item" routerLink="/admin/following-list" routerLinkActive="side-active"><a
        class="side-link text-decoration-none">قائمة المتابعة</a></li>
    <li class="side-item" routerLink="/admin/statistics" routerLinkActive="side-active"><a
        class="side-link text-decoration-none">إحصائيات</a></li>
    <li class="side-item" routerLink="/admin/notifications" routerLinkActive="side-active"><a
        class="side-link text-decoration-none">الإشعارات</a></li>
    <li class="side-item" routerLink="/admin/my-chats" routerLinkActive="side-active"><a class="side-link">الرسائل</a>
    </li>
  </ul>
</div>

<div id="offcanvas-flip" uk-offcanvas="overlay: true">
  <div class="uk-offcanvas-bar">
    
    <button class="uk-offcanvas-close" type="button" uk-close></button>

    <div class="card mt-4">
      <ul class="list-unstyled ">
        <li (click)="close()" class="side-item" routerLink="/admin/advertisement-management" routerLinkActive="side-active"><a
            class="side-link text-decoration-none">إدارة اعلاناتي</a></li>
        <li (click)="close()" class="side-item" *ngIf="(profile?.isAdmin || profile?.isModerator)" routerLink="/admin/advertisements"
          routerLinkActive="side-active"><a class="side-link text-decoration-none">إدارة اعلانات الموقع</a></li>
        <li (click)="close()" class="side-item" *ngIf="(profile?.isAdmin || profile?.isModerator)" routerLink="/admin/users"
          routerLinkActive="side-active"><a class="side-link text-decoration-none">إدارة المستخدمين</a></li>
        <li (click)="close()" class="side-item" *ngIf="(profile?.isAdmin || profile?.isModerator)" routerLink="/admin/new-model-style"
          routerLinkActive="side-active"><a class="side-link text-decoration-none">إضافة (موديل - طراز - صانع)</a></li>
        <li (click)="close()" class="side-item" *ngIf="(profile?.isAdmin || profile?.isModerator)" routerLink="/admin/comments"
          routerLinkActive="side-active"><a class="side-link text-decoration-none">إدارة التعليقات</a></li>
        <li (click)="close()" class="side-item" *ngIf="(profile?.isAdmin || profile?.isModerator)" routerLink="/admin/edit-subCategory"
          routerLinkActive="side-active"><a class="side-link text-decoration-none"> إدارة الفئات الفرعية</a></li>
        <li (click)="close()" class="side-item" routerLink="/admin/new-advertisement" routerLinkActive="side-active"><a
            class="side-link text-decoration-none">إضافة إعلان</a></li>
        <li (click)="close()" class="side-item" routerLink="/admin/settings" routerLinkActive="side-active"><a
            class="side-link text-decoration-none">إعدادات الحساب</a></li>
        <li (click)="close()" class="side-item" [routerLink]="['/admin/user/', profile?.profileContainer?.user?._id]"
          routerLinkActive="side-active"><a class="side-link text-decoration-none">عرض الملف الشخصي</a></li>
        <li (click)="close()" hidden class="side-item"><a class="side-link text-decoration-none">العضويات</a></li>
        <li (click)="close()" class="side-item" routerLink="/admin/following-list" routerLinkActive="side-active"><a
            class="side-link text-decoration-none">قائمة المتابعة</a></li>
        <li (click)="close()" class="side-item" routerLink="/admin/statistics" routerLinkActive="side-active"><a
            class="side-link text-decoration-none">إحصائيات</a></li>
        <li (click)="close()" class="side-item" routerLink="/admin/notifications" routerLinkActive="side-active"><a
            class="side-link text-decoration-none">الإشعارات</a></li>
        <li (click)="close()" class="side-item" routerLink="/admin/my-chats" routerLinkActive="side-active"><a
            class="side-link">الرسائل</a>
        </li>
      </ul>
    </div>

  </div>
</div>