@import "../../../../../assets/variables";

.searchbar-con {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -9%;
  width: 70%;
  margin: auto;
  display: inline-flex;
  flex-direction: column;
  border-radius: 10px;

  &.active {
    bottom: -42%;
    @media screen and (max-width: 570px) {
      bottom: -78%;
    }
    @media screen and (max-width: 400px) {
      bottom: -164%;
    }
  }

  &.relative {
    position: relative;
    bottom: 0;
    width: 100%;
  }

  .top-bar {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background-color: #ffffff;
    font-size: 14px;
    line-height: 1.5;
    color: #2699fb;
    padding: 0.5% 2.5%;
    display: inline-flex;
    width: fit-content;
  }

  .fotter-bar {
    margin-right: auto;
    background-color: #f0f0f0;
    color: #313131;
    font-size: 14px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.5% 2.5%;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    cursor: pointer;
  }

  .bot-bar {
    display: inline-flex;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    height: 60px;
    border-radius: 10px;
    flex-wrap: wrap;
    flex-direction: row;
    flex: 0 0 100%;
    background-color: white;
    overflow: hidden;

    .search-item {
      padding: 19px 14px;
      border: none;
      border-right: 1px solid #eaeaea;
      border-left: 1px solid #eaeaea;

      &.group {
        padding: 0;
        display: inline-flex;
        flex-direction: row;
        background: white;
        align-items: center;

        span {
          color: #9b9b9b;
          font-size: 12px;
          padding: 2px;
          margin-left: 10px;
        }

        input {
          height: 100%;

          &::placeholder {
            color: #9b9b9b;
          }
        }
      }

      &.hide {
        display: none;
      }
    }

    .search-item:nth-child(1),
    .search-item:nth-child(6) {
      flex: 0 0 23%;
      @media screen and (max-width: 768px) {
        flex: 0 0 33.3%;
        max-width: 33.3%;
      }
      @media screen and (max-width: 570px) {
        flex: 0 0 50%;
        max-width: 50%;
      }
      @media screen and (max-width: 400px) {
        flex: 0 0 100%;
        max-width: 100%;
      }
    }

    .search-item:nth-child(1) {
      border-bottom-right-radius: 10px !important;
    }

    .search-item:nth-child(2),
    .search-item:nth-child(3),
    .search-item:nth-child(4),
    .search-item:nth-child(5) {
      flex: 0 0 18%;
      max-width: 18%;
      @media screen and (max-width: 768px) {
        flex: 0 0 33.3%;
        max-width: 33.3%;
      }
      @media screen and (max-width: 570px) {
        flex: 0 0 50%;
        max-width: 50%;
      }
      @media screen and (max-width: 400px) {
        flex: 0 0 100%;
        max-width: 100%;
      }
    }

    button {
      background-color: #9b9b9b;
      flex: 0 0 5%;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      padding: 1%;
      border: none;
      border-top-left-radius: 10px;
      @media screen and (max-width: 768px) {
        flex: 0 0 12%;
      }
      @media screen and (max-width: 400px) {
        flex: 0 0 24%;
      }

      svg {
        width: 50%;
        fill: white;
      }

      &:hover {
        background-color: #fdcb74;

        svg {
          fill: black;
        }
      }
    }

    &.active {
      button {
        border-top-left-radius: 0;
        margin-right: auto;
      }

      .search-item {
        border-bottom: 1px solid #eaeaea;
      }

      .search-item:nth-child(1),
      .search-item:nth-child(6),
      .search-item:nth-child(11),
      .search-item:nth-child(16) {
        flex: 0 0 25%;
        @media screen and (max-width: 768px) {
          flex: 0 0 33.3%;
          max-width: 33.3%;
        }
        @media screen and (max-width: 570px) {
          flex: 0 0 50%;
          max-width: 50%;
        }
        @media screen and (max-width: 400px) {
          flex: 0 0 100%;
          max-width: 100%;
        }
        border-bottom-right-radius: 0 !important;
      }

      .search-item:nth-child(5) {
        border-top-left-radius: 10px;
        @media screen and (max-width: 768px) {
          border-top-left-radius: 0;
        }
      }

      @media screen and (max-width: 768px) {
        .search-item:nth-child(4) {
          border-top-left-radius: 10px;
        }
      }

      .search-item:nth-child(2),
      .search-item:nth-child(3),
      .search-item:nth-child(4),
      .search-item:nth-child(5),
      .search-item:nth-child(7),
      .search-item:nth-child(8),
      .search-item:nth-child(9),
      .search-item:nth-child(10),
      .search-item:nth-child(12),
      .search-item:nth-child(13),
      .search-item:nth-child(14),
      .search-item:nth-child(15),
      .search-item:nth-child(17) {
        flex: 0 0 18.75%;
        max-width: 18.75%;
        @media screen and (max-width: 768px) {
          flex: 0 0 33.3%;
          max-width: 33.3%;
        }
        @media screen and (max-width: 570px) {
          flex: 0 0 50%;
          max-width: 50%;
        }
        @media screen and (max-width: 400px) {
          flex: 0 0 100%;
          max-width: 100%;
        }
      }
    }

    input {
      border: none;
    }

    select {
      -moz-appearance: none;
      -webkit-appearance: none;
      appearance: none;
      color: #9b9b9b;
      background: white url(../../../../../assets/images/arrow.svg) no-repeat 6px;
    }
  }
}

.loader {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $background-color;
  z-index: 10;

  .icon {
    height: 100%;
  }
}

.full_w {
  width: 100%;
}

.full_center_ {
  position: relative;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  font-size: 18px;
}

.btn_modal {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -2%;
  width: 85%;
  margin: auto;
  display: none;
  flex-direction: column;
  border-radius: 10px;
  background-color: white;
  height: 50px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.search-item {
  padding: 19px 14px;
  border: none;
  border-right: 1px solid #eaeaea;
  border-left: 1px solid #eaeaea;

  &.group {
    padding: 0;
    display: inline-flex;
    flex-direction: row;
    background: white;
    align-items: center;

    span {
      color: #9b9b9b;
      font-size: 12px;
      padding: 2px;
      margin-left: 10px;
    }

    input {
      height: 100%;

      &::placeholder {
        color: #9b9b9b;
      }
    }
  }

  &.hide {
    display: none;
  }
}

.search-item:nth-child(1),
.search-item:nth-child(6) {
  flex: 0 0 23%;
  @media screen and (max-width: 768px) {
    flex: 0 0 33.3%;
    max-width: 33.3%;
  }
  @media screen and (max-width: 570px) {
    flex: 0 0 50%;
    max-width: 50%;
  }
  @media screen and (max-width: 400px) {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

.search-item:nth-child(1) {
  border-bottom-right-radius: 10px !important;
}

.search-item:nth-child(2),
.search-item:nth-child(3),
.search-item:nth-child(4),
.search-item:nth-child(5) {
  flex: 0 0 18%;
  max-width: 18%;
  @media screen and (max-width: 768px) {
    flex: 0 0 33.3%;
    max-width: 33.3%;
  }
  @media screen and (max-width: 570px) {
    flex: 0 0 50%;
    max-width: 50%;
  }
  @media screen and (max-width: 400px) {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

.search-item {
  border-bottom: 1px solid #eaeaea;
}

.search-item:nth-child(1),
.search-item:nth-child(6),
.search-item:nth-child(11),
.search-item:nth-child(16) {
  flex: 0 0 25%;
  @media screen and (max-width: 768px) {
    flex: 0 0 33.3%;
    max-width: 33.3%;
  }
  @media screen and (max-width: 570px) {
    flex: 0 0 50%;
    max-width: 50%;
  }
  @media screen and (max-width: 400px) {
    flex: 0 0 100%;
    max-width: 100%;
  }
  border-bottom-right-radius: 0 !important;
}

.search-item:nth-child(5) {
  border-top-left-radius: 10px;
  @media screen and (max-width: 768px) {
    border-top-left-radius: 0;
  }
}

@media screen and (max-width: 768px) {
  .search-item:nth-child(4) {
    border-top-left-radius: 10px;
  }
}

.search-item:nth-child(2),
.search-item:nth-child(3),
.search-item:nth-child(4),
.search-item:nth-child(5),
.search-item:nth-child(7),
.search-item:nth-child(8),
.search-item:nth-child(9),
.search-item:nth-child(10),
.search-item:nth-child(12),
.search-item:nth-child(13),
.search-item:nth-child(14),
.search-item:nth-child(15),
.search-item:nth-child(17) {
  flex: 0 0 18.75%;
  max-width: 18.75%;
  @media screen and (max-width: 768px) {
    flex: 0 0 33.3%;
    max-width: 33.3%;
  }
  @media screen and (max-width: 570px) {
    flex: 0 0 50%;
    max-width: 50%;
  }
  @media screen and (max-width: 400px) {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

.btn_search {
  margin-top: 10px;
  width: 100%;
  border: none;
  text-align: center;
  background-color: #fdcb74;
  color: white;
  font-size: 17px;
  padding: 15px 0px;
}

/*responsive*********************************************/

/*
[Table of Contents]
1. 1600px
2. 1440px
3. 1280px
4. 1199px
5. 1024px ipad pro
6. 991px
7. 959px
8. 880px
9. 768px
10. 767px microsoft Lomia 550
11. 539px
12. 479px
13. 400px
*/

@media only screen and (max-width: 1920px) {
}

@media only screen and (max-width: 1600px) {
}

@media only screen and (max-width: 1440px) {
}

@media only screen and (max-width: 1380px) {
}

@media only screen and (max-width: 1280px) {
}

@media only screen and (max-width: 1199px) {
}

@media only screen and (max-width: 1100px) {
}

@media only screen and (max-width: 1024px) {
}

@media only screen and (max-width: 991px) {
}

@media only screen and (max-width: 959px) {
}

@media only screen and (max-width: 880px) {
}

@media only screen and (max-width: 768px) {
}

@media only screen and (max-width: 767px) {
  .searchbar-con {
    display: none;
  }
  .btn_modal {
    display: inline-flex;
  }
}

@media only screen and (max-width: 575px) {
}

@media only screen and (max-width: 539px) {
}

@media only screen and (max-width: 480px) {
}

@media only screen and (max-width: 479px) {
}

@media only screen and (max-width: 400px) {
}
