<div class="searchbar-con" [class.active]="search.advanced" [class.relative]="relative">
  <div class="top-bar">
    <div>البحث في السيارات</div>
  </div>
  <div class="bot-bar" [formGroup]="searchGroup" [class.active]="search.advanced">

    <input class="search-item" type="text" placeholder="ابحث في موتور اكتور..." formControlName="title">

    <select class="search-item" name="style" formControlName="brand" (ngModelChange)="getModelsByBrand($event)">
      <option value="" disabled selected>اختر الماركة</option>
      <option *ngFor="let brand of brandList" [ngValue]="brand._id">{{brand.name}}</option>

    </select>

    <select class="search-item" name="model" (ngModelChange)="getStylesByModel($event)" formControlName="model"
      [disabled]="searchGroup.get('brand').value !== ''">
      <option value="" disabled selected>{{searchGroup.get('brand').value === '' ? 'اختر الموديل' : modelList.length > 0
        ? 'اختر الموديل' : 'لا يوجد موديلات '}}</option>
      <option *ngFor="let model of modelList" [ngValue]="model._id">{{model?.name}}</option>
    </select>

    <div class=" search-item group" [ngClass]="{'hide':innerWidth<400&&!search.advanced}">
      <input type="text" class="form-control" formControlName="minPrice" placeholder="السعر من" aria-label="السعر من"
        aria-describedby="السعر من">
      <span>SAR</span>
    </div>

    <div class=" search-item group" [ngClass]="{'hide':innerWidth<400&&!search.advanced}">
      <input type="text" class="form-control" formControlName="maxPrice" placeholder="السعر الى" aria-label="السعر الى"
        aria-describedby="السعر الى">
      <span>SAR</span>
    </div>

    <select class="search-item" name="city" [class.hide]="!search.advanced" formControlName="place" id="city">
      <option selected value="">كل السعودية</option>
      <option *ngFor="let city of cities" [value]="city?.name">{{city?.name}}</option>
    </select>

    <select class="search-item" name="manufacturingYear" [class.hide]="!search.advanced" formControlName="startYear"
      id="manufacturingYearfrom">
      <option disabled value="">السنه من</option>
      <option *ngFor="let year of years()" [ngValue]="year">{{year}}</option>
    </select>

    <select class="search-item" name="manufacturingYear" [class.hide]="!search.advanced" formControlName="finishYear"
      id="manufacturingYearto">
      <option disabled value="">السنه من</option>
      <option *ngFor="let year of years()" [ngValue]="year">{{year}}</option>
    </select>

    <div class=" search-item group" [class.hide]="!search.advanced">
      <input type="text" class="form-control" formControlName="minRunningKilos" placeholder="كيلومترات من"
        aria-label="كيلومترات  من" aria-describedby="كيلومترات من">
      <span>KM</span>
    </div>

    <div class=" search-item group" [class.hide]="!search.advanced">
      <input type="text" class="form-control" formControlName="maxRunningKilos" placeholder="كيلومترات الى"
        aria-label="كيلومترات الى" aria-describedby="كيلومترات الى">
      <span>KM</span>
    </div>

    <select class="search-item" name="body Shpae" [class.hide]="!search.advanced" formControlName="carBody" id=" body">
      <option disabled value="">هيكل السيارة</option>
      <option *ngFor="let  body of bodyShpae" value="{{ body}}">{{ body}}</option>
    </select>

    <select class="search-item" name="style" [class.hide]="!search.advanced" formControlName="condition">
      <option disabled value="">حاله السيارة</option>
      <option value="جديدة">جديدة</option>
      <option value="مستعملة">مستعملة</option>
      <option value="استيراد">استيراد</option>
      <option value="تاجير">تاجير</option>

    </select>

    <select class="search-item" name="movementController" [class.hide]="!search.advanced"
      formControlName="movementController" id="movementController">
      <option value="" disabled selected> ناقل الحركة</option>
      <option value="يدوي">يدوي</option>
      <option value="اوتوماتيك">اوتوماتيك</option>
    </select>

    <select class="search-item" name="wheeldrive" [class.hide]="!search.advanced" formControlName="wheeldrive"
      id="wheeldrive">
      <option value="" disabled selected> نوع الجر</option>
      <option value="الأمامي">الدفع الأمامي</option>
      <option value="الخلفي">الدفع الخلفي</option>
      <option value="الرابعي">الدفع الرابعي</option>
    </select>

    <select class="search-item" name="color" [class.hide]="!search.advanced" formControlName="color" id="color">
      <option value="" disabled selected>اللون</option>
      <option value="بيج">بيج</option>
      <option value="أسود">أسود</option>
      <option value="أزرق">أزرق
      </option>
      <option value="بني">بني</option>
      <option value="ذهبي">ذهبي</option>
      <option value="أخضر">أخضر
      </option>
      <option value="رمادي">رمادي</option>
      <option value="برتقالي">برتقالي</option>
      <option value="بنفسجي">بنفسجي</option>
      <option value="أحمر">أحمر
      </option>
      <option value="فضي">فضي</option>
      <option value="أبيض">أبيض</option>
      <option value="أصفر">أصفر
      </option>
      <option value="آخر">آخر</option>
    </select>

    <select class="search-item" name="cylinder" [class.hide]="!search.advanced" formControlName="cylinder"
      id="cylinder">
      <option value="" disabled selected> عدد السلندرات</option>
      <option value="كهرباء">كهرباء</option>
      <option value="2">2
      </option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6
      </option>
      <option value="8">8</option>
      <option value="10">10</option>
      <option value="12">12
      </option>
      <option value="16">16</option>
    </select>

    <select class="search-item" name="engine" [class.hide]="!search.advanced" formControlName="engine" id="engine">
      <option value="" disabled selected>المحرك (سي سي)</option>
      <option value="الكل">الكل</option>
      <option value="1.0">1.0</option>

      <option value="1.1">1.1</option>

      <option value="1.2">1.2</option>

      <option value="1.3">1.3</option>

      <option value="1.4">1.4</option>

      <option value="1.5">1.5</option>

      <option value="1.6">1.6</option>

      <option value="1.7">1.7</option>

      <option value="1.8">1.8</option>

      <option value="1.9">1.9</option>

      <option value="2.0">2.0</option>

      <option value="2.1">2.1</option>

      <option value="2.2">2.2</option>

      <option value="2.3">2.3</option>

      <option value="2.4">2.4</option>

      <option value="2.5">2.5</option>

      <option value="2.6">2.6</option>

      <option value="2.7">2.7</option>

      <option value="2.8">2.8</option>

      <option value="2.9">2.9</option>

      <option value="3.0">3.0</option>

      <option value="3.1">3.1</option>

      <option value="3.2">3.2</option>

      <option value="3.3">3.3</option>

      <option value="3.4">3.4</option>

      <option value="3.5">3.5</option>

      <option value="3.6">3.6</option>

      <option value="3.7">3.7</option>

      <option value="3.8">3.8</option>

      <option value="3.9">3.9</option>

      <option value="4.0">4.0</option>

      <option value="4.1">4.1</option>

      <option value="4.2">4.2</option>

      <option value="4.3">4.3</option>

      <option value="4.4">4.4</option>

      <option value="4.5">4.5</option>

      <option value="4.6">4.6</option>

      <option value="4.7">4.7</option>

      <option value="4.8">4.8</option>

      <option value="4.9">4.9</option>

      <option value="5.0">5.0</option>

      <option value="5.1">5.1</option>

      <option value="5.2">5.2</option>

      <option value="5.3">5.3</option>

      <option value="5.4">5.4</option>

      <option value="5.5">5.5</option>

      <option value="5.6">5.6</option>

      <option value="5.7">5.7</option>

      <option value="5.8">5.8</option>

      <option value="5.9">5.9</option>

      <option value="6.0">6.0</option>

      <option value="6.1">6.1</option>

      <option value="6.2">6.2</option>

      <option value="6.3">6.3</option>

      <option value="6.4">6.4</option>

      <option value="6.5">6.5</option>

      <option value="6.6">6.6</option>

      <option value="6.7">6.7</option>

      <option value="6.8">6.8</option>

      <option value="6.9">6.9</option>

      <option value="7.0">7.0</option>

      <option value="7.1">7.1</option>

      <option value="7.2">7.2</option>

      <option value="7.3">7.3</option>

      <option value="7.4">7.4</option>

      <option value="7.5">7.5</option>

      <option value="7.6">7.6</option>

      <option value="7.7">7.7</option>

      <option value="7.8">7.8</option>

      <option value="7.9">7.9</option>

      <option value="8.0">8.0</option>

      <option value="8.1">8.1</option>

      <option value="8.2">8.2</option>

      <option value="8.3">8.3</option>

      <option value="8.4">8.4</option>

      <option value="8.5">8.5</option>

      <option value="8.6">8.6</option>

      <option value="8.7">8.7</option>

      <option value="8.8">8.8</option>

      <option value="8.9">8.9</option>

      <option value="9.0">9.0</option>
    </select>

    <button (click)="getSearchDataFromDB()">
      <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
        x="0px" y="0px" viewBox="0 0 512.005 512.005" style="enable-background:new 0 0 512.005 512.005;"
        xml:space="preserve">
        <g>
          <g>
            <path
              d="M505.749,475.587l-145.6-145.6c28.203-34.837,45.184-79.104,45.184-127.317c0-111.744-90.923-202.667-202.667-202.667
			S0,90.925,0,202.669s90.923,202.667,202.667,202.667c48.213,0,92.48-16.981,127.317-45.184l145.6,145.6
			c4.16,4.16,9.621,6.251,15.083,6.251s10.923-2.091,15.083-6.251C514.091,497.411,514.091,483.928,505.749,475.587z
			 M202.667,362.669c-88.235,0-160-71.765-160-160s71.765-160,160-160s160,71.765,160,160S290.901,362.669,202.667,362.669z" />
          </g>
        </g>
      </svg>
    </button>

  </div>
  <div class="fotter-bar" (click)="switch()">
    <ng-container *ngIf="!search.advanced">بحث مفصل</ng-container>
    <ng-container *ngIf="search.advanced">بحث عادي</ng-container>
  </div>
</div>

<div class="btn_modal" uk-toggle="target: #modal-search-car">

  <div class="full_center_">
    <p class="uk-margin-remove">
      انقر للبحث&nbsp;
      <i class="fas fa-search"></i>
    </p>

  </div>

</div>

<div class="loader">
  <div class="icon d-flex align-items-center justify-content-center">
    <img src="assets/loader.svg" width="50" alt="loading">
  </div>
</div>

<div id="modal-search-car" uk-modal>
  <div class="uk-modal-dialog uk-modal-body">
    <button class="uk-modal-close-default" type="button" uk-close></button>
    <h2 class="uk-modal-title">البحث في السيارات</h2>

    <div [formGroup]="searchGroup" [class.active]="search.advanced">

      <input class="search-item full_w" type="text" placeholder="ابحث في موتور اكتور..." formControlName="title">

      <select class="search-item full_w" name="style" formControlName="brand"
        (ngModelChange)="getModelsByBrand($event)">
        <option value="" disabled selected>اختر الماركة</option>
        <option *ngFor="let brand of brandList" [ngValue]="brand._id">{{brand.name}}</option>

      </select>

      <select class="search-item full_w" name="model" (ngModelChange)="getStylesByModel($event)" formControlName="model"
        [disabled]="searchGroup.get('brand').value !== ''">
        <option value="" disabled selected>{{searchGroup.get('brand').value === '' ? 'اختر الموديل' : modelList.length >
          0
          ? 'اختر الموديل' : 'لا يوجد موديلات '}}</option>
        <option *ngFor="let model of modelList" [ngValue]="model._id">{{model?.name}}</option>
      </select>

      <div class=" search-item group full_w">
        <input type="text" class="form-control" formControlName="minPrice" placeholder="السعر من" aria-label="السعر من"
          aria-describedby="السعر من">
        <span>SAR</span>
      </div>

      <div class=" search-item group full_w">
        <input type="text" class="form-control" formControlName="maxPrice" placeholder="السعر الى"
          aria-label="السعر الى" aria-describedby="السعر الى">
        <span>SAR</span>
      </div>

      <select class="search-item full_w" name="city" formControlName="place" id="city">
        <option selected value="">كل السعودية</option>
        <option *ngFor="let city of cities" [value]="city?.name">{{city?.name}}</option>
      </select>

      <select class="search-item full_w" name="manufacturingYear" formControlName="startYear"
        id="manufacturingYearfrom">
        <option disabled value="">السنه من</option>
        <option *ngFor="let year of years()" [ngValue]="year">{{year}}</option>
      </select>

      <select class="search-item full_w" name="manufacturingYear" formControlName="finishYear" id="manufacturingYearto">
        <option disabled value="">السنه من</option>
        <option *ngFor="let year of years()" [ngValue]="year">{{year}}</option>
      </select>

      <div class=" search-item group full_w">
        <input type="text" class="form-control" formControlName="minRunningKilos" placeholder="كيلومترات من"
          aria-label="كيلومترات  من" aria-describedby="كيلومترات من">
        <span>KM</span>
      </div>

      <div class=" search-item group full_w">
        <input type="text" class="form-control" formControlName="maxRunningKilos" placeholder="كيلومترات الى"
          aria-label="كيلومترات الى" aria-describedby="كيلومترات الى">
        <span>KM</span>
      </div>

      <select class="search-item full_w" name="body Shpae" formControlName="carBody" id=" body">
        <option disabled value="">هيكل السيارة</option>
        <option *ngFor="let  body of bodyShpae" value="{{ body}}">{{ body}}</option>
      </select>

      <select class="search-item full_w" name="style" formControlName="condition">
        <option disabled value="">حاله السيارة</option>
        <option value="جديدة">جديدة</option>
        <option value="مستعملة">مستعملة</option>
        <option value="استيراد">استيراد</option>
        <option value="تاجير">تاجير</option>

      </select>

      <select class="search-item full_w" name="movementController" formControlName="movementController"
        id="movementController">
        <option value="" disabled selected> ناقل الحركة</option>
        <option value="يدوي">يدوي</option>
        <option value="اوتوماتيك">اوتوماتيك</option>
      </select>

      <select class="search-item full_w" name="wheeldrive" formControlName="wheeldrive" id="wheeldrive">
        <option value="" disabled selected> نوع الجر</option>
        <option value="الأمامي">الدفع الأمامي</option>
        <option value="الخلفي">الدفع الخلفي</option>
        <option value="الرابعي">الدفع الرابعي</option>
      </select>

      <select class="search-item full_w" name="color" formControlName="color" id="color">
        <option value="" disabled selected>اللون</option>
        <option value="بيج">بيج</option>
        <option value="أسود">أسود</option>
        <option value="أزرق">أزرق
        </option>
        <option value="بني">بني</option>
        <option value="ذهبي">ذهبي</option>
        <option value="أخضر">أخضر
        </option>
        <option value="رمادي">رمادي</option>
        <option value="برتقالي">برتقالي</option>
        <option value="بنفسجي">بنفسجي</option>
        <option value="أحمر">أحمر
        </option>
        <option value="فضي">فضي</option>
        <option value="أبيض">أبيض</option>
        <option value="أصفر">أصفر
        </option>
        <option value="آخر">آخر</option>
      </select>

      <select class="search-item full_w" name="cylinder" formControlName="cylinder" id="cylinder">
        <option value="" disabled selected> عدد السلندرات</option>
        <option value="كهرباء">كهرباء</option>
        <option value="2">2
        </option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6
        </option>
        <option value="8">8</option>
        <option value="10">10</option>
        <option value="12">12
        </option>
        <option value="16">16</option>
      </select>

      <select class="search-item full_w" name="engine" formControlName="engine" id="engine">
        <option value="" disabled selected>المحرك (سي سي)</option>
        <option value="الكل">الكل</option>
        <option value="1.0">1.0</option>

        <option value="1.1">1.1</option>

        <option value="1.2">1.2</option>

        <option value="1.3">1.3</option>

        <option value="1.4">1.4</option>

        <option value="1.5">1.5</option>

        <option value="1.6">1.6</option>

        <option value="1.7">1.7</option>

        <option value="1.8">1.8</option>

        <option value="1.9">1.9</option>

        <option value="2.0">2.0</option>

        <option value="2.1">2.1</option>

        <option value="2.2">2.2</option>

        <option value="2.3">2.3</option>

        <option value="2.4">2.4</option>

        <option value="2.5">2.5</option>

        <option value="2.6">2.6</option>

        <option value="2.7">2.7</option>

        <option value="2.8">2.8</option>

        <option value="2.9">2.9</option>

        <option value="3.0">3.0</option>

        <option value="3.1">3.1</option>

        <option value="3.2">3.2</option>

        <option value="3.3">3.3</option>

        <option value="3.4">3.4</option>

        <option value="3.5">3.5</option>

        <option value="3.6">3.6</option>

        <option value="3.7">3.7</option>

        <option value="3.8">3.8</option>

        <option value="3.9">3.9</option>

        <option value="4.0">4.0</option>

        <option value="4.1">4.1</option>

        <option value="4.2">4.2</option>

        <option value="4.3">4.3</option>

        <option value="4.4">4.4</option>

        <option value="4.5">4.5</option>

        <option value="4.6">4.6</option>

        <option value="4.7">4.7</option>

        <option value="4.8">4.8</option>

        <option value="4.9">4.9</option>

        <option value="5.0">5.0</option>

        <option value="5.1">5.1</option>

        <option value="5.2">5.2</option>

        <option value="5.3">5.3</option>

        <option value="5.4">5.4</option>

        <option value="5.5">5.5</option>

        <option value="5.6">5.6</option>

        <option value="5.7">5.7</option>

        <option value="5.8">5.8</option>

        <option value="5.9">5.9</option>

        <option value="6.0">6.0</option>

        <option value="6.1">6.1</option>

        <option value="6.2">6.2</option>

        <option value="6.3">6.3</option>

        <option value="6.4">6.4</option>

        <option value="6.5">6.5</option>

        <option value="6.6">6.6</option>

        <option value="6.7">6.7</option>

        <option value="6.8">6.8</option>

        <option value="6.9">6.9</option>

        <option value="7.0">7.0</option>

        <option value="7.1">7.1</option>

        <option value="7.2">7.2</option>

        <option value="7.3">7.3</option>

        <option value="7.4">7.4</option>

        <option value="7.5">7.5</option>

        <option value="7.6">7.6</option>

        <option value="7.7">7.7</option>

        <option value="7.8">7.8</option>

        <option value="7.9">7.9</option>

        <option value="8.0">8.0</option>

        <option value="8.1">8.1</option>

        <option value="8.2">8.2</option>

        <option value="8.3">8.3</option>

        <option value="8.4">8.4</option>

        <option value="8.5">8.5</option>

        <option value="8.6">8.6</option>

        <option value="8.7">8.7</option>

        <option value="8.8">8.8</option>

        <option value="8.9">8.9</option>

        <option value="9.0">9.0</option>
      </select>

      <button class="btn_search" (click)="getSearchDataFromDB()">
        بحث&nbsp;<i class="fas fa-search"></i>
      </button>

    </div>

  </div>
</div>