<footer>

  <div class="uk-container py-4">

    <div class="uk-grid-medium" uk-grid>

      <div class="uk-width-1-3@l">
        <div>

          <h2 class="m-0 head_line mb-2">من نحن</h2>
          <p class="m-0 describtion_">موقع موتور أكتور هو موقع مخصص في بيع سيارات جديدة أو مستعملة من
            حراج
            السيارات
            داخل المملكة
            العربية السعودية. حيث نوفر خدمة الإعلان عن السيارات والتواصل مباشرة لاتمام الاتفاق بين البائع
            والمشتري بدون وسيط من خلال تقديم المعلومات الخاصة بالبائع إلى المشتري لتتم عملية التواصل مباشرة
            وبأسرع وقت</p>

        </div>
      </div>

      <div class="uk-width-1-4@l">
        <div>

          <h2 class="m-0 head_line mb-2">أحدث المقالات </h2>
          <div class="uk-grid-small uk-child-width-1-1" uk-grid>

            <div class="card_blog_" *ngIf="blog" [routerLink]="['/blog/articles', blog?._id]">
              <div class="bg_">
                <img class="img_" [src]="blog?.image.path" alt="">

                <div class="black_screen">
                  <div class="content_ px-3">
                    <h3 class="m-0">جديد</h3>
                    <p class="m-0 header_ mb-1">{{blog?.name}}</p>

                    <div class="uk-flex">

                      <p class="option_ m-0">
                        <span uk-icon="calendar"></span>&nbsp;
                        <span>{{ blog?.createdAt| date: 'dd/MM/yyyy'}}</span>&nbsp;&nbsp;&nbsp;
                      </p>

                    </div>

                  </div>
                </div>

              </div>
            </div>

          </div>

        </div>
      </div>

      <div class="uk-width-1-5@l">
        <div>

          <h2 class="m-0 head_line mb-2">تابعنا</h2>

          <div class="card_social_ facebook_ mb-2">
            <a href="https://www.facebook.com/MotorActor-100748972015011/">
              <div class="full_left_">
                <div class="cercle_ full_center_">
                  <span uk-icon="facebook"></span>
                </div>
                <span>&nbsp;الفيسبوك</span>
              </div>
            </a>
          </div>

          <div class="card_social_ instagram_ mb-2">
            <a href="https://instagram.com/motoractorcars?igshid=40cxtlpc0035">
              <div class="full_left_">
                <div class="cercle_ full_center_">
                  <span uk-icon="instagram"></span>
                </div>
                <span class="f_Bold">&nbsp;انستغرام</span>
              </div>
            </a>
          </div>

          <div class="card_social_ twitter_ mb-2">
            <a href="">
              <div class="full_left_">
                <div class="cercle_ full_center_">
                  <span uk-icon="twitter"></span>
                </div>
                <span class="f_Bold">&nbsp;تويتر</span>
              </div>
            </a>
          </div>

          <div class="card_social_ youtube_ mb-2">
            <a href="">
              <div class="full_left_">
                <div class="cercle_ full_center_">
                  <span uk-icon="youtube"></span>
                </div>
                <span class="f_Bold">&nbsp;يوتيوب</span>
              </div>
            </a>
          </div>

        </div>
      </div>

      <div class="uk-width-expand@l">
        <div>

          <h2 class="m-0 head_line mb-2">معلومات الاتصال</h2>
          <p class="m-0 mb-2">
            <span uk-icon="receiver"></span>&nbsp; 0279 077 59 966+
          </p>
          <!-- +966 59 077 0279 -->
          <p class="m-0 mb-2">
            <span uk-icon="mail"></span>&nbsp;<a class="yellowC_"
              href="mailto:info@motor-actor.com">info@motor-actor.com</a>
          </p>

        </div>
      </div>

    </div>

    <div class="full_center_ footer_quick pt-3">

      <div>

        <a class="px-3 blackC_ " routerLink="/">الصفحة الرئيسية</a>
        <a class="px-3 blackC_ line_" routerLink="/about">معلومات عنا</a>
        <a class="px-3 blackC_ line_" routerLink="/privacy-police">سياسة الخصوصية</a>
        <a class="px-3 blackC_ line_" routerLink="/terms-condition">الشروط والاحكام</a>

      </div>

    </div>

  </div>
</footer>