.uk-container {
    max-width: 1331px !important;
}

footer {
    background-color: #f0f0f0;
}

footer .head_line {
    color: #2699fb;
    font-weight: bold;
    font-size: 20px;
}

footer .describtion_ {
    font-size: 16px;
    color: #8e8e8e;
    line-height: 25px;
}

footer .card_blog_ .bg_ {
    cursor: pointer;
    position: relative;
    width: 100%;
    height: 150px;
    border-radius: 10px;
    overflow: hidden;
}

footer .card_blog_ .bg_ .img_ {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

footer .card_blog_ .bg_ .black_screen {
    position: relative;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(0deg, #000, rgba(15, 15, 15, 0.5), transparent);
    z-index: 2;
}

footer .card_blog_ .bg_ .black_screen .content_ {
    width: 100%;
    position: absolute;
    bottom: 15px;
}

footer .card_blog_ .bg_ .black_screen .content_ h3 {
    font-weight: bold;
    color: #2699fb;
}

footer .card_blog_ .bg_ .black_screen .content_ .header_ {
    color: white;
    font-size: 16px;
    font-weight: bold;
}

footer .card_blog_ .bg_ .black_screen .content_ .describtion_ {
    color: #b3b3b3;
    font-size: 13px;
}

footer .card_blog_ .bg_ .black_screen .content_ .option_ {
    color: white;
    font-size: 10px;
}

.full_left_ {
    position: relative;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    z-index: 1000;
}

.full_center_ {
    position: relative;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

footer .icon_ {
    transition: 0.5s;
}

footer .icon_:hover {
    color: #f39c12 !important;
}

footer .cercle_ {
    width: 29px;
    height: 29px;
    background-color: #cccccc;
    padding: 6px;
    border-radius: 50%;
}

footer .card_social_ {
    border-radius: 5px;
    padding: 8px;
    background-color: #e0e0e0;
}

footer .card_social_ span {
    color: #666666 !important;
}

footer .card_social_ a {
    text-decoration: none;
}

footer .card_social_.facebook_:hover {
    background-color: #2d88ff;
}

footer .card_social_.facebook_:hover span {
    color: white !important;
}

footer .card_social_.facebook_:hover .cercle_ {
    background-color: #006cf8;
}

footer .card_social_.instagram_:hover {
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
}

footer .card_social_.instagram_:hover span {
    color: white !important;
}

footer .card_social_.instagram_:hover .cercle_ {
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
}

footer .card_social_.twitter_:hover {
    background-color: #00a2f3;
}

footer .card_social_.twitter_:hover span {
    color: white !important;
}

footer .card_social_.twitter_:hover .cercle_ {
    background-color: #0a91d4;
}

footer .card_social_.youtube_:hover {
    background-color: #FF0000;
}

footer .card_social_.youtube_:hover span {
    color: white !important;
}

footer .card_social_.youtube_:hover .cercle_ {
    background-color: #ff4a4a;
}

footer .links_ {
    font-size: 20px;
}

footer .links_ a {
    text-decoration: none;
}

.blueC_ {
    color: #0a91d4 !important;
}

.copyright {
    background-color: #eaeaea;
    font-weight: bold;
}

footer .footer_quick .line_ {
    border-right: 1px solid #263338;
}

footer .footer_quick a {
    font-weight: bold;
}
