@import "../../../assets/variables";

.login-nav {
  height: 38px;
  top: 0;
  justify-content: start;
  background-color: #f0f0f0;
  position: fixed;
  width: 100%;
  display: flex;
  padding: 0 10%;
  align-items: center;
  z-index: 1000;


  .signup-btn {
    font-size: 14px;
    line-height: 1.5;
    padding-left: 1%;
    border: none;
    border-left: 1px solid #c6c6c6;

    a {
      color: #ff654a;

    }
  }

  .signin-btn {
    border: none;
    padding-right: 1%;
    font-size: 14px;

    a {
      color: #313131;

    }
  }
}

.navbar {
  background-color: transparent;
  position: fixed;
  width: 100%;
  z-index: 1000;


  .container {
    position: relative;
  }

  .search-toggler {
    color: white;
  }

  &.navbar-dark {
    top: 38px;
  }

  .navbar-brand {
    width: 12%;
    @media screen and (max-width: 577px) {
      width: 32%;
    }

    svg {
      width: 100%;
    }
  }

  .navbar-nav {
    width: 100%;


    .nav-item {
      display: inline-flex;

      .nav-link {
        font-weight: bold;
        color: white;
        position: relative;
        display: inline-flex;
        align-items: center;
        padding: 0 !important;


        svg, i {
          width: 20px;
          height: 20px;
          font-size: 20px;
          margin-left: 2px;
          fill: white;
        }

        &.blog {
          svg {
            width: 15px;
          }
        }


        &.active-nav {
          color: white;
          padding-right: 0.8rem;
          padding-left: 0.8rem;
          border-radius: 20px;
          //&:after {
          //  content: '';
          //  position: absolute;
          //  top: 100%;
          //  left: 0;
          //  right: 0;
          //  background-color: $secondary-color;
          //  height: 3px;
          //}
        }


        &.avatar {
          border-radius: 6px;
          box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
          border: solid 1px #ffffff;
          padding: 4px 8px !important;

          svg {
            .cls-1 {
              fill: white;
            }
          }
        }
      }

      &.newAd {
        padding: 6px 28px;
        border-radius: 6px;
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
        background-color: #ffffff;

        .nav-link {
          font-size: 16px;
          font-weight: 500;
          line-height: 1.44;
          color: #ff654a;
        }
      }

    }


  }

  &.active {
    background-color: white;
    border-bottom: 1px solid #e2e2e2;

    .navbar-brand {
      svg {
        .cls-1 {
          fill: #2699fb;
        }

      }
    }

    .nav-item {
      .nav-link {
        color: #2699fb !important;

        svg, i {
          fill: #2699fb !important;
          color: #2699fb;
        }

        &.blog {
          svg {
            .cls-1 {
              fill: #2699fb;
            }
          }
        }

        &.avatar {
          svg {
            .cls-1 {
              fill: #2699fb !important;
            }
          }
        }

        &.newAd {
          background-color: #2699fb;

          .nav-link {
            color: white;
          }
        }
      }
    }


  }
}

.uk-nav-divider a svg {
  width: 18px;
  height: 18px;

  .cls-1 {
    fill: #999;
  }

  &:hover {
    .cls-1 {
      fill: #666;
    }

  }
}

.new-message {
  height: 10px;
  width: 10px;
  position: absolute;
  top: 8px;
  left: 5px;
}

.side-link {
  position: relative;

  .new-message-m {
    top: 4px !important;
    right: 0px !important;
    height: 10px;
    width: 10px;
    position: absolute;
  }
}

.search-bar {
  position: absolute;
  bottom: -60px;
  right: 0;
}

.search-bar, .search-bar-m {

  width: 100% !important;
  background-color: white;
  border-radius: 0;
  box-shadow: 0 3px 10px rgba(black, 0.1);

  form {
    width: 100%;

    input {
      font-weight: 600;
      border: none;

      &:focus {
        box-shadow: inset 0 0 10px rgba($main-color, 0.1);
        border: none;
      }
    }
  }
}


// side bar

.sidebar-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(black, 0.3);
  z-index: 1010;
  cursor: pointer;
  display: none;

  .sidebar {
    width: 270px;
    background-color: white;
    height: 100%;
    //transition: 0.1s cubic-bezier(.01, .01, 1, .47);
    transition: 0.1s cubic-bezier(0, .01, 0, 1.21);
    cursor: default;
    transform: translate(270px);

    .close-sidebar {
      height: 5rem;

      span {
        padding: 2rem;
        cursor: pointer;
      }
    }

    .side-items {

      .sign {
        .left {
          background-color: $secondary-color;
        }

        .right {
          background-color: $main-color;
        }

        .left, .right {
          padding: 1rem 0;

          .btn {
            box-shadow: none;
            text-align: center;
            color: white;
            font-weight: 600;
          }
        }
      }

      .side-item {
        cursor: pointer;
        padding: 1rem 2rem;
        transition: 0.2s;

        i {
          color: $main-color;
        }

        .side-link {
          font-weight: bold;
          color: #000;
          position: relative;
        }

        &.user {
          margin-bottom: 2rem;
          background-color: rgba($main-color, 0.2);

          .avatar {
            width: 40px;
            height: 40px;
            background-color: white;
            padding: 0.1rem;
            border: 3px solid $main-color;
            border-radius: 50%;

            img {
              width: 40px;
              border-radius: 50%;
              box-shadow: 0 0 6px rgba($main-color, 0.3);
            }
          }

          .user-name {
            .text {
              font-weight: bold;
              color: $main-color;
            }
          }

          &:hover {
            background-color: rgba($main-color, 0.4);
          }

        }

        &:hover {
          &:not(.user) {
            background-color: rgba(black, 0.1);
          }
        }

        &.sign-out {
          &:hover {
            background-color: rgba(red, 1);

            .side-link {
              color: white;
            }
          }
        }
      }
    }
  }
}

.side-active {
  background-color: rgba(black, 0.1);
  border-right: 6px solid $main-color;
}


@media screen and (max-width: 992px) {
  .navbar-collapse {
    display: none;
  }
}


.facebook-bg {
  background-color: #4867AA;
  color: #fff;
}

.twitter-bg {
  background-color: #3DC5F3;
  color: #fff;
}

.g-mail-bg {
  background-color: #DB4437;
  color: #fff;
}
.btn_forgot_password {
  background-color: transparent;
  border: none;
}
