<div class="login-nav">
  <!--  <li class="nav-item sign-btn px-2" *ngIf="!auth.isLoggedIn()">-->
  <!--  </li>-->

  <!--  <li class="nav-item sign-btn px-2" *ngIf="!auth.isLoggedIn()">-->

  <!--  </li>-->
  <button class=" signup-btn " *ngIf="!auth.isLoggedIn()">
    <a class="" href="#register-modal" style="outline: none" uk-toggle>حساب جديد</a>

  </button>
  <button class=" signin-btn " *ngIf="!auth.isLoggedIn()">
    <a class="" href="#login-modal" uk-toggle style="outline: none">دخول</a>
  </button>
  <div *ngIf="auth.isLoggedIn()">اهلا {{profile?.profileContainer?.user?.fullName}}!</div>
</div>
<nav class="navbar navbar-expand-md navbar-dark" (scroll)="onWindowScroll($event);"
  [class.active]="router.url !=='/cars'">
  <div class="container">
    <div class="d-flex align-items-center px-2 d-md-none" (click)="toggleSidebar()">
      <i class="fa fa-bars" aria-hidden="true"></i>
    </div>
    <a class="navbar-brand d-flex align-items-center" style="color: white">
      <svg routerLink="/" xmlns="http://www.w3.org/2000/svg" id="Component_4_1" viewBox="0 0 161.469 32">
        <defs>
          <style>
            .cls-1 {
              fill: #fff
            }
          </style>
        </defs>
        <g id="Group_1730" transform="translate(0 2.25)">
          <path id="Path_2098" d="M1352.443-1327.764l-10.606 27.878h-9.091l10.606-27.878z" class="cls-1"
            transform="translate(-1317.898 1327.764)" />
          <path id="Path_2099"
            d="M1463.035-1299.908l-9.085.009-10.615.012 3.224-8.5 4.157-.006-4.035-10.607-7.273 19.117h-9.091l10.606-27.878h11.515l7.366 19.363z"
            class="cls-1" transform="translate(-1400.319 1327.764)" />
          <path id="Path_2100" d="M1256.822-1327.764l-10.606 27.878h-9.09l10.606-27.878z" class="cls-1"
            transform="translate(-1237.126 1327.764)" />
        </g>
        <g id="Group_1733" transform="translate(74.805)">
          <g id="Group_1731" transform="translate(.2 22.199)">
            <path id="Path_2101"
              d="M1724.771-1190.339l-2.7-8.067h-1.913v9.526h1.06v-8.4h.193l2.767 8.053h1.184l2.767-8.053h.193v8.4h1.06v-9.526h-1.913z"
              class="cls-1" transform="translate(-1720.159 1198.544)" />
            <path id="Path_2102"
              d="M1798.118-1198.763a4.066 4.066 0 0 0-2.216-.53 4.066 4.066 0 0 0-2.216.53 2.925 2.925 0 0 0-1.184 1.611 9.1 9.1 0 0 0-.358 2.8 9.058 9.058 0 0 0 .351 2.788 2.793 2.793 0 0 0 1.177 1.562 4.254 4.254 0 0 0 2.244.509 4.309 4.309 0 0 0 2.237-.5 2.739 2.739 0 0 0 1.17-1.542 9.031 9.031 0 0 0 .351-2.795 9.048 9.048 0 0 0-.365-2.829 2.957 2.957 0 0 0-1.191-1.604zm.22 6.731a2.078 2.078 0 0 1-.805 1.218 2.875 2.875 0 0 1-1.617.385 2.906 2.906 0 0 1-1.631-.392 2.091 2.091 0 0 1-.819-1.239 8.908 8.908 0 0 1-.234-2.292 8.918 8.918 0 0 1 .241-2.312 2.238 2.238 0 0 1 .819-1.28 2.731 2.731 0 0 1 1.611-.413 2.7 2.7 0 0 1 1.611.42 2.275 2.275 0 0 1 .819 1.287 9.014 9.014 0 0 1 .241 2.326 8.83 8.83 0 0 1-.236 2.293z"
              class="cls-1" transform="translate(-1780.966 1199.293)" />
            <path id="Path_2103" d="M1844.979-1197.456h2.932v8.576h1.046v-8.576h2.9v-.95h-6.883z" class="cls-1"
              transform="translate(-1825.598 1198.544)" />
            <path id="Path_2104"
              d="M1899.711-1198.763a4.066 4.066 0 0 0-2.216-.53 4.065 4.065 0 0 0-2.216.53 2.923 2.923 0 0 0-1.184 1.611 9.084 9.084 0 0 0-.358 2.8 9.053 9.053 0 0 0 .351 2.788 2.793 2.793 0 0 0 1.177 1.562 4.255 4.255 0 0 0 2.244.509 4.309 4.309 0 0 0 2.237-.5 2.739 2.739 0 0 0 1.17-1.542 9.036 9.036 0 0 0 .351-2.795 9.063 9.063 0 0 0-.365-2.829 2.956 2.956 0 0 0-1.191-1.604zm.221 6.731a2.079 2.079 0 0 1-.806 1.218 2.876 2.876 0 0 1-1.617.385 2.906 2.906 0 0 1-1.631-.392 2.09 2.09 0 0 1-.819-1.239 8.918 8.918 0 0 1-.234-2.292 8.928 8.928 0 0 1 .241-2.312 2.238 2.238 0 0 1 .819-1.28 2.731 2.731 0 0 1 1.611-.413 2.7 2.7 0 0 1 1.61.42 2.273 2.273 0 0 1 .819 1.287 9.01 9.01 0 0 1 .241 2.326 8.854 8.854 0 0 1-.234 2.293z"
              class="cls-1" transform="translate(-1866.784 1199.293)" />
            <path id="Path_2105"
              d="M1961.3-1195.515a2.856 2.856 0 0 0-.757-2.182 3.238 3.238 0 0 0-2.285-.709h-3.524v9.526h1.06v-3.648h2.7l1.721 3.648h1.17l-1.831-3.868a2.549 2.549 0 0 0 1.746-2.767zm-3.029 2.051h-2.478v-4.006h2.464a1.747 1.747 0 0 1 1.955 2 1.747 1.747 0 0 1-1.945 2.006z"
              class="cls-1" transform="translate(-1918.305 1198.543)" />
            <path id="Path_2106"
              d="M2026.048-1198.406l-2.615 9.526h1.046l.688-2.45h4.075l.688 2.45h1.047l-2.615-9.526zm-.647 6.126l1.445-5.218h.716l1.446 5.218z"
              class="cls-1" transform="translate(-1976.34 1198.543)" />
            <path id="Path_2107"
              d="M2080.36-1197.958a2.828 2.828 0 0 1 1.624-.385 13.963 13.963 0 0 1 2.4.248l.041-.895a12.848 12.848 0 0 0-2.574-.3 3.758 3.758 0 0 0-2.2.544 2.787 2.787 0 0 0-1.053 1.6 10.745 10.745 0 0 0-.289 2.76 10.725 10.725 0 0 0 .289 2.767 2.745 2.745 0 0 0 1.073 1.59 3.913 3.913 0 0 0 2.244.544 12.717 12.717 0 0 0 2.505-.289l-.041-.908a12.6 12.6 0 0 1-2.272.248 3.053 3.053 0 0 1-1.748-.406 1.939 1.939 0 0 1-.764-1.2 10.1 10.1 0 0 1-.186-2.2 11.592 11.592 0 0 1 .2-2.478 1.988 1.988 0 0 1 .751-1.24z"
              class="cls-1" transform="translate(-2022.695 1199.293)" />
            <path id="Path_2108" d="M2122.455-1197.456h2.932v8.576h1.046v-8.576h2.9v-.95h-6.883z" class="cls-1"
              transform="translate(-2059.986 1198.544)" />
            <path id="Path_2109"
              d="M2177.187-1198.763a4.066 4.066 0 0 0-2.216-.53 4.066 4.066 0 0 0-2.216.53 2.927 2.927 0 0 0-1.184 1.611 9.089 9.089 0 0 0-.358 2.8 9.044 9.044 0 0 0 .351 2.788 2.79 2.79 0 0 0 1.177 1.562 4.256 4.256 0 0 0 2.244.509 4.309 4.309 0 0 0 2.237-.5 2.74 2.74 0 0 0 1.17-1.542 9.026 9.026 0 0 0 .351-2.795 9.053 9.053 0 0 0-.365-2.829 2.956 2.956 0 0 0-1.191-1.604zm.22 6.731a2.079 2.079 0 0 1-.805 1.218 2.877 2.877 0 0 1-1.617.385 2.906 2.906 0 0 1-1.631-.392 2.089 2.089 0 0 1-.819-1.239 8.936 8.936 0 0 1-.234-2.292 8.912 8.912 0 0 1 .241-2.312 2.235 2.235 0 0 1 .819-1.28 2.73 2.73 0 0 1 1.61-.413 2.7 2.7 0 0 1 1.611.42 2.276 2.276 0 0 1 .819 1.287 9.037 9.037 0 0 1 .241 2.326 8.836 8.836 0 0 1-.235 2.293z"
              class="cls-1" transform="translate(-2101.174 1199.293)" />
            <path id="Path_2110"
              d="M2237.022-1192.748a2.548 2.548 0 0 0 1.748-2.767 2.855 2.855 0 0 0-.757-2.182 3.239 3.239 0 0 0-2.285-.709h-3.528v9.526h1.06v-3.648h2.7l1.721 3.648h1.17zm-1.28-.716h-2.478v-4.006h2.464a1.746 1.746 0 0 1 1.955 2 1.747 1.747 0 0 1-1.941 2.006z"
              class="cls-1" transform="translate(-2152.694 1198.543)" />
          </g>
          <g id="Group_1732">
            <path id="Path_2111"
              d="M1721.34-1297.29a3.193 3.193 0 0 1-.374 1.684 1.244 1.244 0 0 1-1.135.6q-.2 0-.96-.061v1.036l.32.031c.1.01.221.02.358.03s.287.015.45.015q2.514 0 2.514-3.627v-7.772h-1.173z"
              class="cls-1" transform="translate(-1718.871 1311.082)" />
            <path id="Rectangle_1163" d="M0 0H1.158V1.28H0z" class="cls-1" transform="translate(14.69 3.017)" />
            <path id="Rectangle_1164" d="M0 0H1.158V1.28H0z" class="cls-1" transform="translate(16.595 3.017)" />
            <path id="Path_2112"
              d="M1776.231-1322.487h-3.688l.579-1.128q.289-.563.64-1.135t1.052-1.623l-.838-.473q-.564.686-1.12 1.471a10.641 10.641 0 0 0-.83 1.333l-.792 1.554.777 1.052h4.13a1.208 1.208 0 0 1 1.135.686 3.438 3.438 0 0 1 .343 1.585v2.21h-12.923v-6.568h-1.173v6.568h-4.145v-6.568q-.564-.106-1.425-.2a14.258 14.258 0 0 0-1.47-.091 3.651 3.651 0 0 0-2 .465 2.394 2.394 0 0 0-.99 1.356 8.035 8.035 0 0 0-.274 2.309 5.966 5.966 0 0 0 .541 2.728 2.237 2.237 0 0 0 2.2 1.051h2.24a5.875 5.875 0 0 1-.2 1.752 1.359 1.359 0 0 1-.526.785 1.708 1.708 0 0 1-.861.19 15.91 15.91 0 0 1-2.225-.214v1.036a18.525 18.525 0 0 0 2.3.228 2.164 2.164 0 0 0 1.943-.93 5.737 5.737 0 0 0 .709-2.85h19.445v-3.246a4.278 4.278 0 0 0-.617-2.408 2.165 2.165 0 0 0-1.937-.925zm-18.028 5.532h-1.8a1.64 1.64 0 0 1-1.615-.77 4.338 4.338 0 0 1-.4-1.989 5.852 5.852 0 0 1 .206-1.7 1.8 1.8 0 0 1 .724-1.006 2.609 2.609 0 0 1 1.448-.343 11.362 11.362 0 0 1 1.433.107z"
              class="cls-1" transform="translate(-1747.886 1329.237)" />
            <path id="Rectangle_1165" d="M0 0H1.173V9.631H0z" class="cls-1" transform="translate(33.191 3.703)" />
            <path id="Path_2113"
              d="M1926.894-1339.966a.827.827 0 0 1-.351-.7.849.849 0 0 1 .252-.61.863.863 0 0 1 .648-.259 1.119 1.119 0 0 1 .419.076 1.1 1.1 0 0 1 .282.152l.152-.579a1.859 1.859 0 0 0-.457-.244 1.749 1.749 0 0 0-.655-.122 1.367 1.367 0 0 0-1.021.4 1.332 1.332 0 0 0-.4.968 1.341 1.341 0 0 0 .518 1.082l-.732.2.137.488 3.109-.61-.168-.7z"
              class="cls-1" transform="translate(-1893.459 1342.252)" />
            <path id="Path_2114"
              d="M1976.991-1297.29a3.2 3.2 0 0 1-.373 1.684 1.246 1.246 0 0 1-1.136.6q-.2 0-.96-.061v1.036l.32.031c.1.01.221.02.358.03s.287.015.449.015q2.514 0 2.514-3.627v-7.772h-1.173z"
              class="cls-1" transform="translate(-1934.824 1311.082)" />
            <path id="Rectangle_1166" d="M0 0H1.158V1.28H0z" class="cls-1" transform="translate(62.007 3.017)" />
            <path id="Rectangle_1167" d="M0 0H1.158V1.28H0z" class="cls-1" transform="translate(63.912 3.017)" />
            <path id="Path_2115"
              d="M2026.791-1300.456h-11.765v-6.568q-.564-.106-1.425-.2a14.242 14.242 0 0 0-1.471-.092 3.649 3.649 0 0 0-2 .465 2.391 2.391 0 0 0-.99 1.356 8.039 8.039 0 0 0-.274 2.309 5.965 5.965 0 0 0 .541 2.728 2.236 2.236 0 0 0 2.2 1.051h2.24a5.875 5.875 0 0 1-.2 1.753 1.361 1.361 0 0 1-.525.785 1.7 1.7 0 0 1-.861.19 15.94 15.94 0 0 1-2.225-.213v1.036a18.517 18.517 0 0 0 2.3.229 2.165 2.165 0 0 0 1.943-.93 5.736 5.736 0 0 0 .708-2.85h12.969v-7.62h-1.173zm-12.938 0h-1.8a1.64 1.64 0 0 1-1.615-.77 4.336 4.336 0 0 1-.4-1.989 5.86 5.86 0 0 1 .205-1.7 1.8 1.8 0 0 1 .724-1.006 2.606 2.606 0 0 1 1.448-.343 11.338 11.338 0 0 1 1.433.107z"
              class="cls-1" transform="translate(-1963.839 1312.739)" />
            <path id="Path_2116"
              d="M2163.441-1306.262a3.662 3.662 0 0 0-2.743-.914 8.152 8.152 0 0 0-1.479.13 5.541 5.541 0 0 0-1.066.282 14.339 14.339 0 0 0-.275 1.623 16.743 16.743 0 0 0-.121 2.019 16.529 16.529 0 0 0 .213 2.667h-8.2v-6.568q-.564-.106-1.425-.2a14.23 14.23 0 0 0-1.471-.092 3.648 3.648 0 0 0-2 .465 2.39 2.39 0 0 0-.99 1.356 8.017 8.017 0 0 0-.275 2.309 5.966 5.966 0 0 0 .541 2.728 2.236 2.236 0 0 0 2.2 1.051h2.24a5.873 5.873 0 0 1-.2 1.753 1.363 1.363 0 0 1-.526.785 1.7 1.7 0 0 1-.861.19 15.934 15.934 0 0 1-2.225-.213v1.036a18.51 18.51 0 0 0 2.3.229 2.164 2.164 0 0 0 1.943-.93 5.736 5.736 0 0 0 .709-2.85h14.583v-3.81a4.3 4.3 0 0 0-.872-3.046zm-14.843 5.806h-1.8a1.64 1.64 0 0 1-1.615-.77 4.337 4.337 0 0 1-.4-1.989 5.846 5.846 0 0 1 .206-1.7 1.8 1.8 0 0 1 .723-1.006 2.608 2.608 0 0 1 1.448-.343 11.339 11.339 0 0 1 1.432.107zm14.553 0h-4.008q-.076-.442-.145-1.181t-.068-1.486a15.736 15.736 0 0 1 .244-2.85 5.241 5.241 0 0 1 1.326-.152 2.678 2.678 0 0 1 2 .67 3.117 3.117 0 0 1 .656 2.225z"
              class="cls-1" transform="translate(-2077.661 1312.739)" />
          </g>
        </g>
      </svg>
    </a>

    <!--    uk-toggle="target: .search-bar; animation:  uk-animation-slide-right, uk-animation-slide-bottom"-->

    <!--    <a class="d-md-none search-toggler" (click)="searchFocus(searchM)"><i class="far fa-search" aria-hidden="true"></i></a>-->

    <!--    <div class="w-100"-->
    <!--         uk-drop="animation: uk-animation-slide-top-small; offset: 0; pos: bottom-left; duration: 100; mode: click; boundary: .container; boundary-align: true">-->
    <!--      <div class=" search-bar-m my-2 p-0">-->

    <!--        <form class="uk-search uk-search-default" (ngSubmit)="searchInDb()">-->
    <!--          <span uk-search-icon></span>-->
    <!--          <input class="uk-search-input" [(ngModel)]="searchText" #searchM name="search" type="search"-->
    <!--                 placeholder="البحث ...">-->
    <!--        </form>-->
    <!--      </div>-->
    <!--    </div>-->


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav  d-flex align-items-md-center align-items-start">


        <li class="nav-item active">
          <a class="nav-link" routerLinkActive="active-nav" routerLink="/cars">
            <svg class="mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22.916 15">
              <g>
                <path
                  d="M21.5 13.252a.683.683 0 0 0-.047-.052l-.8-.775c.666-.151 1.383-.709 1.383-1.282 0-.667-.926-.9-1.716-.9-.826 0-.922.566-.932.966l-2.072-2a2.924 2.924 0 0 0-1.816-.745H7.422a2.925 2.925 0 0 0-1.816.745l-2.071 2c-.011-.4-.107-.966-.932-.966-.791 0-1.716.237-1.716.9 0 .572.717 1.13 1.383 1.282l-.8.775c-.018.017-.031.035-.047.052A4.5 4.5 0 0 0 0 16.336v2.937a2.679 2.679 0 0 0 .735 1.842v1.139a1.228 1.228 0 0 0 1.243 1.209h1.5a1.227 1.227 0 0 0 1.243-1.209v-.291h13.471v.291a1.227 1.227 0 0 0 1.243 1.209h1.5a1.227 1.227 0 0 0 1.243-1.209v-1.139a2.677 2.677 0 0 0 .735-1.842v-2.937a4.493 4.493 0 0 0-1.413-3.084zM6.367 10.1a2.072 2.072 0 0 1 1.055-.427H15.5a2.072 2.072 0 0 1 1.055.427l2.717 2.633H3.65zM.932 15.9A1.288 1.288 0 0 1 2.2 14.582c.7 0 2.98 1.34 2.98 2.063S2.9 17.2 2.2 17.2a1.286 1.286 0 0 1-1.268-1.308zm3.793 4.783H2.814a2.717 2.717 0 0 1-.874-.422 1.24 1.24 0 0 1-.237-.24.941.941 0 0 1-.133-.243 1.1 1.1 0 0 1 .189-.964H4.2l1.626 1.866zm10.24 0H7.952a1.325 1.325 0 0 1-1.325-1.324h9.662a1.325 1.325 0 0 1-1.324 1.317zm.308-2.228H7.644c-.8 0-1.441-.98-1.441-2.189h10.51c0 1.202-.645 2.182-1.44 2.182zm6.074 1.325a.947.947 0 0 1-.133.242 1.214 1.214 0 0 1-.237.24 2.693 2.693 0 0 1-.874.422h-3.011l1.627-1.866h2.438a1.1 1.1 0 0 1 .19.955zm-.627-2.58c-.7 0-2.98.167-2.98-.556s2.282-2.063 2.98-2.063a1.31 1.31 0 0 1 0 2.618z"
                  transform="translate(0 -8.463)" />
              </g>
            </svg>
            السيارات</a>
        </li>

        <!--        <li class="nav-item">-->
        <!--          <a class="nav-link" [routerLink]="['/spare-part']" routerLinkActive="active-nav"><i class="far fa-wrench mr-1" aria-hidden="true"></i> قطع الغيار</a>-->
        <!--        </li>-->
        <li class="nav-item">
          <a class="nav-link blog" [routerLink]="['/blog']" routerLinkActive="active-nav">
            <svg class="mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 15">
              <g id="writing_1_" transform="translate(-.5)">
                <path id="Path_2121" d="M273.879 63.685l-1.864-1.864-3.472 3.5 1.865 1.865zm0 0" class="cls-1"
                  transform="translate(-260.19 -60.009)" />
                <path id="Path_2122" d="M210.367 208.315a.44.44 0 0 0 .575.574l2.232-1.154-1.653-1.653zm0 0"
                  class="cls-1" transform="translate(-203.684 -200.044)" />
                <path id="Path_2123"
                  d="M411.179 1.993a.439.439 0 0 0 0-.622L409.936.129a.439.439 0 0 0-.622 0l-1.06 1.061 1.864 1.864zm0 0"
                  class="cls-1" transform="translate(-395.808)" />
                <path id="Path_2124"
                  d="M1.818 129.789h.439v2.227a.439.439 0 0 0 .75.311l2.537-2.537h5.121a1.32 1.32 0 0 0 1.318-1.318v-4.363l-1.383 1.385a1.306 1.306 0 0 1-.421.283l-2.516 1.3a1.388 1.388 0 0 1-.576.134 1.3 1.3 0 0 1-.379-.062H3.576a.439.439 0 0 1 0-.879H5.8a1.316 1.316 0 0 1 .07-.885l1.356-2.634a1.2 1.2 0 0 1 .255-.36L8.877 121H1.818A1.32 1.32 0 0 0 .5 122.318v6.152a1.32 1.32 0 0 0 1.318 1.319zm0 0"
                  class="cls-1" transform="translate(0 -117.455)" />
              </g>
            </svg>
            المدونة</a>
        </li>

        <!-- authenticated parts start -->
        <!--        <li class="nav-item ">-->
        <!--          <a class="nav-link" (click)="searchFocus(searchD)"><i-->
        <!--            class="far fa-search" aria-hidden="true"></i></a>-->

        <!--          &lt;!&ndash;    Start search  &ndash;&gt;-->

        <!--          <div-->
        <!--            uk-drop="animation: uk-animation-slide-top;pos: bottom-justify; boundary: .container; boundary-align: true; mode: click">-->
        <!--            <div class=" search-bar-m my-2 p-0">-->
        <!--              <form class="uk-search uk-search-default" (ngSubmit)="searchInDb()">-->
        <!--                <span uk-search-icon></span>-->
        <!--                <input class="uk-search-input" #searchD [(ngModel)]="searchText" name="searchTextName" type="search"-->
        <!--                       placeholder="البحث ...">-->
        <!--              </form>-->
        <!--            </div>-->
        <!--          </div>-->


        <!--          &lt;!&ndash;     End search     &ndash;&gt;-->

        <!--        </li>-->

        <li class="nav-item" *ngIf="auth.isLoggedIn()">
          <a class="nav-link" routerLink="/admin/notifications">
            <i class="far fa-bell" aria-hidden="true"></i>
            التنبيهات
          </a>
          <span class="new-message rounded-circle bg-danger" *ngIf="newNotification"></span>
        </li>
        <li class="nav-item" *ngIf="auth.isLoggedIn()" routerLink="/admin/my-chats">
          <a class="nav-link">
            <i class="far fa-comments mr-2" aria-hidden="true"></i>
            الرسائل
          </a>
          <span class="new-message rounded-circle bg-danger" *ngIf="newMessages"></span>

        <li class="nav-item  ml-auto newAd"
          *ngIf="router.url.includes('blog') && auth.isLoggedIn() && (profile?.isAdmin || profile?.isModerator)">
          <a class=" nav-btn d-flex align-items-center justify-content-center" routerLink="new-article">
            <i class="far fa-plus mr-2" aria-hidden="true"></i>
            <span>مقالة جديدة</span>
          </a>
        </li>
        <li class="nav-item active newAd" [ngClass]="{'ml-auto':!router.url.includes('blog')}">
          <a class="nav-link " routerLinkActive="active-nav"
            *ngIf="auth.isLoggedIn()&&profile?.profileContainer?.user?.activate" routerLink="/admin/new-advertisement">
            اضف اعلانك مجاناً</a>
          <a class="nav-link " href="#verify-modal" uk-toggle (click)="sendCode()"
            *ngIf="auth.isLoggedIn()&&!profile?.profileContainer?.user?.activate">
            اضف اعلانك مجاناً</a>
          <a class="nav-link " routerLinkActive="active-nav" *ngIf="!auth.isLoggedIn()" href="#login-modal" uk-toggle>
            اضف اعلانك مجاناً</a>
        </li>
        <li class="nav-item d-flex" *ngIf="auth.isLoggedIn()">
          <a class="nav-link avatar">
            <svg xmlns="http://www.w3.org/2000/svg" id="user_4_" width="12.514" height="15" viewBox="0 0 12.514 15">

              <path id="Path_3580"
                d="M90.644 7.226A3.5 3.5 0 0 0 93.2 6.167a3.5 3.5 0 0 0 1.058-2.554A3.5 3.5 0 0 0 93.2 1.058a3.612 3.612 0 0 0-5.109 0 3.5 3.5 0 0 0-1.058 2.554 3.5 3.5 0 0 0 1.057 2.555 3.5 3.5 0 0 0 2.554 1.059zm0 0"
                class="cls-1" transform="translate(-84.482)" />
              <path id="Path_3581"
                d="M12.484 251.605a8.923 8.923 0 0 0-.122-.948 7.467 7.467 0 0 0-.233-.953 4.706 4.706 0 0 0-.392-.889 3.354 3.354 0 0 0-.591-.77 2.6 2.6 0 0 0-.849-.533 2.933 2.933 0 0 0-1.083-.2 1.1 1.1 0 0 0-.587.249c-.176.115-.382.248-.612.394a3.505 3.505 0 0 1-.791.349 3.073 3.073 0 0 1-1.936 0 3.5 3.5 0 0 1-.791-.349c-.228-.145-.434-.278-.612-.395a1.1 1.1 0 0 0-.587-.249 2.929 2.929 0 0 0-1.083.2 2.6 2.6 0 0 0-.849.533 3.354 3.354 0 0 0-.591.77 4.716 4.716 0 0 0-.392.889 7.486 7.486 0 0 0-.233.953 8.892 8.892 0 0 0-.122.948c-.02.287-.03.585-.03.886a2.491 2.491 0 0 0 .74 1.884 2.663 2.663 0 0 0 1.906.7h7.225a2.662 2.662 0 0 0 1.906-.7 2.49 2.49 0 0 0 .74-1.884c-.001-.301-.015-.599-.031-.885zm0 0"
                class="cls-1" transform="translate(0 -240.071)" />
            </svg>
            حسابي
            <!--            <img [src]="profile?.profileContainer?.user?.profilePicture" alt="avatar"-->
            <!--                 *ngIf="profile?.profileContainer?.user?.profilePicture">-->
            <!--            <img src="../../../assets/user.png" alt="avatar" *ngIf="!profile?.profileContainer?.user?.profilePicture">-->
          </a>

          <div
            uk-dropdown="animation: uk-animation-slide-top-small, uk-animation-slide-top-small; duration: 200;mode: click; boundary: .container">
            <ul class="uk-nav uk-dropdown-nav">
              <li class="">
                <a class="font-weight-bold" [routerLink]="['/user', profile?.profileContainer?.user?._id]">
                  <i class="far fa-user mr-2" aria-hidden="true"></i>الملف الشخصي </a>
              </li>
              <li class="uk-nav-divider"></li>
              <li class="">
                <a class="font-weight-bold" routerLink="/admin/advertisement-management">
                  <i class="far fa-chart-pie mr-2" aria-hidden="true"></i> لوحة التحكم</a>
              </li>
              <li class="uk-nav-divider"></li>
              <li class="">
                <a class="font-weight-bold" routerLink="/admin/new-advertisement">
                  <i class="far fa-plus mr-2" aria-hidden="true"></i>إعلان جديد</a>
              </li>
              <li class="uk-nav-divider" *ngIf="profile?.isAdmin && auth?.isLoggedIn()"></li>
              <li class="" *ngIf="profile?.isAdmin && auth?.isLoggedIn()">
                <a class="font-weight-bold" routerLink="/dashboard/statistics">
                  <i class="far fa-chart-bar mr-2" aria-hidden="true"></i>إحصائيات الموقع</a>
              </li>
              <li class="uk-nav-divider" *ngIf="(profile?.isAdmin || profile?.isModerator) && auth?.isLoggedIn()"></li>
              <li class="" *ngIf="(profile?.isAdmin || profile?.isModerator) && auth?.isLoggedIn()">
                <a class="font-weight-bold" routerLink="/dashboard/advertisements">
                  <i class="far fa-cogs mr-2" aria-hidden="true"></i>إدارة الإعلانات</a>
              </li>
              <li class="uk-nav-divider" *ngIf="(profile?.isAdmin || profile?.isModerator) && auth?.isLoggedIn()">
                <a class="font-weight-bold" routerLink="/blog/article-approval">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 15">
                    <g id="writing_1_" transform="translate(-.5)">
                      <path id="Path_2121" d="M273.879 63.685l-1.864-1.864-3.472 3.5 1.865 1.865zm0 0" class="cls-1"
                        transform="translate(-260.19 -60.009)" />
                      <path id="Path_2122" d="M210.367 208.315a.44.44 0 0 0 .575.574l2.232-1.154-1.653-1.653zm0 0"
                        class="cls-1" transform="translate(-203.684 -200.044)" />
                      <path id="Path_2123"
                        d="M411.179 1.993a.439.439 0 0 0 0-.622L409.936.129a.439.439 0 0 0-.622 0l-1.06 1.061 1.864 1.864zm0 0"
                        class="cls-1" transform="translate(-395.808)" />
                      <path id="Path_2124"
                        d="M1.818 129.789h.439v2.227a.439.439 0 0 0 .75.311l2.537-2.537h5.121a1.32 1.32 0 0 0 1.318-1.318v-4.363l-1.383 1.385a1.306 1.306 0 0 1-.421.283l-2.516 1.3a1.388 1.388 0 0 1-.576.134 1.3 1.3 0 0 1-.379-.062H3.576a.439.439 0 0 1 0-.879H5.8a1.316 1.316 0 0 1 .07-.885l1.356-2.634a1.2 1.2 0 0 1 .255-.36L8.877 121H1.818A1.32 1.32 0 0 0 .5 122.318v6.152a1.32 1.32 0 0 0 1.318 1.319zm0 0"
                        class="cls-1" transform="translate(0 -117.455)" />
                    </g>
                  </svg>
                  إدارة المقالات</a>
              </li>
              <li class="uk-nav-divider" *ngIf="(profile?.isAdmin || profile?.isModerator) && auth?.isLoggedIn()"></li>
              <li class="" *ngIf="(profile?.isAdmin || profile?.isModerator) && auth?.isLoggedIn()">
                <a class="font-weight-bold" routerLink="/dashboard/comments">
                  <i class="far fa-comments mr-2" aria-hidden="true"></i>إدارة التعليقات</a>
              </li>
              <li class="uk-nav-divider" *ngIf="(profile?.isAdmin || profile?.isModerator) && auth?.isLoggedIn()"></li>
              <li class="" *ngIf="(profile?.isAdmin || profile?.isModerator) && auth?.isLoggedIn()">
                <a class="font-weight-bold" routerLink="/dashboard/users">
                  <i class="far fa-users mr-2" aria-hidden="true"></i>إدارة المستخدمين</a>
              </li>
              <li class="uk-nav-divider"></li>
              <li (click)="auth.logOut()" class="text-danger">
                <a class="font-weight-bold" href="">
                  <i class="far fa-sign-out-alt mr-2" aria-hidden="true"></i>
                  تسجيل الخروج </a>
              </li>
            </ul>
          </div>

        </li>

        <!--authenticated parts end-->

        <!--un-authenticated parts start-->

        <!--un-authenticated parts end-->
      </ul>
    </div>
    <div class=" search-bar my-2 p-0" hidden>

      <form class="uk-search uk-search-default">
        <span uk-search-icon></span>
        <input class="uk-search-input" name="searchNpt" type="search" placeholder="البحث ...">
      </form>

    </div>
  </div>
</nav>

<!-- sidebar -->

<div class="sidebar-wrapper" (click)="toggleSidebar()">
  <div class="sidebar" (click)="$event.stopPropagation();">

    <div class="close-sidebar">
      <span uk-close (click)="toggleSidebar()"></span>
    </div>

    <ul class="list-unstyled side-items">
      <li class="row sign no-gutters mb-4" *ngIf="!auth.isLoggedIn()">
        <div class="col-6 left" href="#login-modal" uk-toggle (click)="toggleSidebar()">
          <button class="btn btn-block p-0">تسجيل الدخول</button>
        </div>
        <div class="col-6 right" href="#register-modal" uk-toggle (click)="toggleSidebar()">
          <button class="btn btn-block p-0">إنشاء حساب</button>
        </div>
      </li>

      <li class="user side-item d-flex align-items-center" *ngIf="auth.isLoggedIn()"
        [routerLink]="['/user', profile?.profileContainer?.user?._id]" (click)="toggleSidebar()">
        <div class="avatar">
          <img [src]="profile?.profileContainer?.user?.profilePicture" alt="avatar"
            *ngIf="profile?.profileContainer?.user?.profilePicture">
          <img src="../../../assets/user.png" alt="avatar" *ngIf="!profile?.profileContainer?.user?.profilePicture">
        </div>
        <div class="user-name ml-3">
          <p class="text uk-margin-remove">{{profile?.profileContainer?.user?.fullName}}</p>
        </div>
      </li>
      <li class="side-item" routerLink="/admin/new-advertisement" routerLinkActive="side-active"
        *ngIf="auth.isLoggedIn()&&profile?.profileContainer?.user?.activate" (click)="toggleSidebar()">
        <a class="side-link text-decoration-none"> اضف اعلانك مجاناً</a>

      </li>
      <li class="side-item" href="#verify-modal" uk-toggle
        *ngIf="auth.isLoggedIn()&&!profile?.profileContainer?.user?.activate" (click)="toggleSidebar();sendCode()">
        <a class="side-link text-decoration-none" target="_blank"> اضف اعلانك مجاناً</a>

      </li>
      <li class="side-item" *ngIf="!auth.isLoggedIn()" href="#login-modal" uk-toggle (click)="toggleSidebar()">
        <a class="side-link text-decoration-none " routerLinkActive="active-nav" *ngIf="!auth.isLoggedIn()">
          اضف اعلانك مجاناً</a>
      </li>

      <li class="side-item" routerLink="/admin/my-chats" routerLinkActive="side-active" *ngIf="auth.isLoggedIn()"
        (click)="toggleSidebar()">
        <a class="side-link text-decoration-none"> <i class="far fa-comments mr-2" aria-hidden="true"></i>
          الرسائل
          <span class="new-message-m rounded-circle bg-danger" *ngIf="newMessages"></span>
        </a>
      </li>
      <li class="side-item" routerLink="/admin/notifications" routerLinkActive="side-active" *ngIf="auth.isLoggedIn()"
        (click)="toggleSidebar()">
        <a class="side-link text-decoration-none">
          <i class="far fa-bell mr-2" aria-hidden="true"></i>الإشعارات
          <span class="new-message-m rounded-circle bg-danger" *ngIf="newNotification"></span>
        </a>
      </li>
      <li class="side-item" routerLink="/admin/advertisement-management" routerLinkActive="side-active"
        *ngIf="auth.isLoggedIn()" (click)="toggleSidebar()">
        <a class="side-link text-decoration-none"> <i class="far fa-chart-pie mr-2" aria-hidden="true"></i> لوحة
          التحكم</a>
      </li>
      <li class="side-item" routerLink="/dashboard/users" routerLinkActive="side-active"
        *ngIf="auth.isLoggedIn() && (profile?.isAdmin || profile?.isModerator)" (click)="toggleSidebar()">
        <a class="side-link text-decoration-none"> <i class="far fa-users mr-2" aria-hidden="true"></i>إدارة
          المستخدمين</a>
      </li>
      <li class="side-item" routerLink="/dashboard/comments" routerLinkActive="side-active"
        *ngIf="auth.isLoggedIn() && (profile?.isAdmin || profile?.isModerator)" (click)="toggleSidebar()">
        <a class="side-link text-decoration-none"> <i class="far fa-comments mr-2" aria-hidden="true"></i>إدارة
          التعليقات</a>
      </li>
      <li class="side-item" routerLink="/cars" routerLinkActive="side-active" (click)="toggleSidebar()">
        <a class="side-link text-decoration-none"> <i class="far fa-car mr-2" aria-hidden="true"></i> السيارات</a>
      </li>
      <li hidden class="side-item" [routerLink]="['/spare-part']" routerLinkActive="side-active"
        (click)="toggleSidebar()">
        <a class="side-link text-decoration-none"> <i class="far fa-wrench mr-2" aria-hidden="true"></i> قطع الغيار</a>
      </li>
      <li class="side-item" [routerLink]="['/blog']" routerLinkActive="side-active" (click)="toggleSidebar()">
        <a class="side-link text-decoration-none"><i class="far fa-comment mr-2" aria-hidden="true"></i>
          المدونة</a>
      </li>
      <li class="side-item sign-out" (click)="auth.logOut(); toggleSidebar()" *ngIf="auth.isLoggedIn()">
        <a class="side-link text-decoration-none"> <i class="far fa-sign-out mr-2" aria-hidden="true"></i>تسجيل
          الخروج</a>
      </li>
    </ul>
  </div>
</div>


<!-- login modal -->
<div id="login-modal" class="uk-modal-container" uk-modal>
  <div class="uk-modal-dialog uk-modal-body">
    <button class="uk-modal-close-default" type="button" uk-close></button>
    <h2 class="uk-modal-title">تسجيل الدخول</h2>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 my-4">
          <form [formGroup]="loginForm" (ngSubmit)="loginThisUser()">
            <div class="form-group">
              <label
                [class.text-danger]="loginForm.controls.userName.touched && loginForm.controls.userName.invalid">رقم
                الهاتف</label>
              <input [class.border-danger]="loginForm.controls.userName.touched && loginForm.controls.userName.invalid"
                class="uk-input" type="tel" formControlName="userName" placeholder="ادخل رقم الهاتف الخاص بك">
              <small *ngIf="loginForm.controls.userName.touched && loginForm.controls.userName.invalid"
                class="text-danger"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> <span> رقم الهاتف مطلوب
                </span>
              </small>
            </div>
            <div class="form-group">
              <label
                [class.text-danger]="loginForm.controls.userPassword.touched && loginForm.controls.userPassword.invalid">كلمه
                المرور</label>
              <input
                [class.border-danger]="loginForm.controls.userPassword.touched && loginForm.controls.userPassword.invalid"
                class="uk-input" formControlName="userPassword" type="password" placeholder="ادخل كلمه المرور">
              <small *ngIf="loginForm.controls.userPassword.touched && loginForm.controls.userPassword.invalid"
                class="text-danger"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> <span> كلمه المرور
                  مطلوبه </span>
              </small>
            </div>
            <div class="form-group">
              <button class="uk-button uk-button-primary w-100"
                [disabled]="loginForm.status === 'INVALID' || sendRequest"> {{sendRequest ? 'تسجيل.. ' :
                'الدخــــــــــول'}}
                <i *ngIf="sendRequest" class="fa fa-spinner fa-spin mx-1" aria-hidden="true"></i></button>
            </div>
            <button type="button" class="btn_forgot_password uk-text-primary" href="#forget-modal" uk-toggle>هل نسيت
              كلمة السر؟
            </button>

          </form>
          <hr class="uk-divider-icon">
          <div>او سجل عن طريق</div>
          <div class="form-group mt-3">
            <div class="row">
              <div class="col-md-4 mb-2">
                <a class="uk-button facebook-bg w-100" href="{{ environment['apiWithUrl']}}/user/facebook">
                  <i class="fab fa-facebook-square mx-2"></i>
                  <span>Facebook </span>
                </a>
              </div>
              <!--              <div class="col-md-4 mb-2">-->
              <!--                <button class="uk-button twitter-bg w-100">-->
              <!--                  <i class="fab fa-twitter mx-2"></i>-->
              <!--                  <span>Twitter</span>-->
              <!--                </button>-->
              <!--              </div>-->
              <div class="col-md-4">
                <a class="uk-button g-mail-bg w-100" href="{{ environment['apiWithUrl']}}/user/google">
                  <i class="fab fa-google-plus-g mx-2"></i>
                  <span>Google</span>
                </a>
              </div>
            </div>
          </div>
          <div class="from-group text-center">
            <span>ليس لديك حساب ؟ <a class="text-primary" (click)="openRegModal()"> سجل الان </a></span>
          </div>
        </div>
        <div class="col-md-6">
          <div class="svg-img h-100 d-flex align-items-center justify-content-center">
            <img src="assets/login.svg" class="img-fluid" alt="login-img">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Register modal -->
<div id="register-modal" class="uk-modal-container" uk-modal>
  <div class="uk-modal-dialog uk-modal-body">
    <button class="uk-modal-close-default" type="button" uk-close></button>
    <h2 class="uk-modal-title">حساب جديد</h2>
    <div> سجل عن طريق</div>
    <div class="form-group mt-3">
      <div class="row">
        <div class="col-md-4 mb-2">
          <a class="uk-button facebook-bg w-100" href="{{ environment['apiWithUrl']}}/user/facebook">
            <i class="fab fa-facebook-square mx-2"></i>
            <span>Facebook </span>
          </a>
        </div>
        <!--              <div class="col-md-4 mb-2">-->
        <!--                <button class="uk-button twitter-bg w-100">-->
        <!--                  <i class="fab fa-twitter mx-2"></i>-->
        <!--                  <span>Twitter</span>-->
        <!--                </button>-->
        <!--              </div>-->
        <div class="col-md-4">
          <a class="uk-button g-mail-bg w-100" href="{{ environment['apiWithUrl']}}/user/google">
            <i class="fab fa-google-plus-g mx-2"></i>
            <span>Google</span>
          </a>
        </div>
      </div>
    </div>
    <div class="uk-divider-icon"></div>
    <div class="form-group">
      <h2 class="mb-3">سجل عن طريق الجوال</h2>
      <form [formGroup]="registerForm" (ngSubmit)="registerAccount()" *ngIf="!activateToken">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label
                [class.text-danger]="registerForm.controls.firstName.invalid && registerForm.controls.firstName.touched">الاسم
                الاول</label>
              <input
                [class.border-danger]="registerForm.controls.firstName.invalid && registerForm.controls.firstName.touched"
                class="uk-input" formControlName="firstName" type="text" placeholder="ادخل الاسم الاول">
              <small *ngIf="registerForm.controls.firstName.touched && registerForm.controls.firstName.invalid"
                class="text-danger"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> <span> الاسم الاول مطلوب
                </span>
              </small>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label
                [class.text-danger]="registerForm.controls.lastName.invalid && registerForm.controls.lastName.touched">الاسم
                الاخير</label>
              <input class="uk-input"
                [class.border-danger]="registerForm.controls.lastName.invalid && registerForm.controls.lastName.touched"
                formControlName="lastName" type="text" placeholder="ادخل الاسم الاخير">
              <small *ngIf="registerForm.controls.lastName.touched && registerForm.controls.lastName.invalid"
                class="text-danger"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> <span> الاسم الاخير
                  مطلوب </span>
              </small>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label
                [class.text-danger]="registerForm.controls.phone.invalid && registerForm.controls.phone.touched">رقم
                الجوال</label>
              <div class="input-group">
                <input class="uk-input form-control"
                  [class.border-danger]="registerForm.controls.phone.invalid && registerForm.controls.phone.touched"
                  formControlName="phone" type="number" placeholder="ادخل رقم جوالك">
                <span class="input-group-text" id="basic-addon1">966+</span>
              </div>

              <small *ngIf="registerForm.controls.phone.touched && registerForm.controls.phone.errors.required"
                class="text-danger"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> <span> رقم الجوال مطلوب
                </span>
              </small>
              <!--              <small *ngIf="registerForm.controls.phone.touched && registerForm.controls.phone.errors.pattern"-->
              <!--                     class="text-danger"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> <span> رقم الجوال غير صحيح </span>-->
              <!--              </small>-->
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <div class="form-group">
                <label
                  [class.text-danger]="registerForm.controls.password.invalid && registerForm.controls.password.touched">كلمه
                  المرور</label>
                <input class="uk-input" autocomplete="new-password"
                  [class.border-danger]="registerForm.controls.password.invalid && registerForm.controls.password.touched"
                  formControlName="password" type="password" placeholder="ادخل كلمه المرور">
                <small *ngIf="registerForm.controls.password.touched && registerForm.controls.password.invalid"
                  class="text-danger"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> <span> كلمه السر
                    مطلوبه و يجب ان لا تقل عن 4 رموز </span>
                </small>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="form-group">
              <button class="uk-button uk-button-primary w-100">{{sendRequest ? 'تســــــجيل..' : 'ســـــــجل الان'}}
                <i *ngIf="sendRequest" class="fa fa-spinner fa-spin mx-1" aria-hidden="true"></i></button>
            </div>
          </div>
        </div>
      </form>
      <div *ngIf="activateToken">
        <ng-container *ngTemplateOutlet="verify"></ng-container>

      </div>
    </div>
  </div>
</div>

<!-- forget password modal -->
<div id="forget-modal" class="uk-modal-container" uk-modal>
  <div class="uk-modal-dialog uk-modal-body">
    <button class="uk-modal-close-default" type="button" uk-close></button>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 my-4">
          <form [formGroup]="forgetForm">
            <ng-container *ngIf="!forgetPassword">
              <div class="form-group">
                <label [class.text-danger]="forgetForm.controls.phone.touched && forgetForm.controls.phone.invalid">رقم
                  الهاتف</label>
                <input [class.border-danger]="forgetForm.controls.phone.touched && forgetForm.controls.phone.invalid"
                  class="uk-input" type="tel" formControlName="phone" placeholder="ادخل رقم الهاتف الخاص بك">
                <small *ngIf="forgetForm.controls.phone.touched && forgetForm.controls.phone.invalid"
                  class="text-danger"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> <span> رقم الهاتف
                    مطلوب </span>
                </small>
              </div>
              <button class="uk-button uk-button-primary w-100" (click)="forgetPasswordcode()">
                ارسال كود التاكيد
              </button>
            </ng-container>
            <ng-container *ngIf="forgetPassword">
              <div class="form-group">
                <label [class.text-danger]="forgetForm.controls.code.touched && forgetForm.controls.code.invalid">الكود
                  المرسل</label>
                <input [class.border-danger]="forgetForm.controls.code.touched && forgetForm.controls.code.invalid"
                  class="uk-input" type="text" formControlName="code" placeholder="ادخل الكود">
                <small *ngIf="forgetForm.controls.code.touched && forgetForm.controls.code.invalid"
                  class="text-danger"><i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                  <span>الكود المرسل مطلوب </span>
                </small>
              </div>
              <div class="form-group">
                <label
                  [class.text-danger]="forgetForm.controls.password.touched && forgetForm.controls.password.invalid">كلمه
                  المرور</label>
                <input
                  [class.border-danger]="forgetForm.controls.password.touched && forgetForm.controls.password.invalid"
                  class="uk-input" formControlName="password" type="password" placeholder="ادخل كلمه المرور">
                <small *ngIf="forgetForm.controls.password.touched && forgetForm.controls.password.invalid"
                  class="text-danger"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> <span> كلمه المرور
                    مطلوبه </span>
                </small>
              </div>
              <div class="form-group">
                <label
                  [class.text-danger]="forgetForm.controls.password.touched && forgetForm.controls.password.invalid">تاكيد
                  كلمه
                  المرور</label>
                <input
                  [class.border-danger]="forgetForm.controls.confirmPassword.touched && forgetForm.controls.confirmPassword.invalid"
                  class="uk-input" formControlName="confirmPassword" type="password"
                  placeholder="ادخل تاكيد كلمه المرور">
                <small
                  *ngIf="forgetForm.controls.confirmPassword.touched && forgetForm.controls.confirmPassword.invalid"
                  class="text-danger"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> <span> تاكيد كلمه
                    المرور مطلوبه </span>
                </small> <small *ngIf="forgetForm.hasError('notSame')" class="text-danger"><i
                    class="fa fa-exclamation-circle" aria-hidden="true"></i> <span> تاكيد كلمه المرور غير مطابقة لكلمة
                    المرور </span>
                </small>
              </div>
              <button class="uk-button uk-button-primary w-100" (click)="resetPassword()">
                اعادة تعين كلمة السر
              </button>
            </ng-container>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<!--verify-->
<div id="verify-modal" class="uk-modal-container" uk-modal>
  <div class="uk-modal-dialog uk-modal-body">
    <button class="uk-modal-close-default" type="button" uk-close></button>
    <ng-container *ngTemplateOutlet="verify"></ng-container>
  </div>

</div>
<ng-template #verify>
  <div class="col-md-6">
    <h3>سيصلك كود التفعيل على رقم هاتفك </h3>
    <div class="form-group">
      <label>كود التفعيل </label>
      <input [(ngModel)]="token" class="uk-input" placeholder="ادخل كود التفعيل">

    </div>
  </div>
  <div class="col-12">
    <div class="form-group">
      <button class="uk-button uk-button-primary w-100" (click)="activateUser(true)">
        تاكيد الكود
      </button>
    </div>
  </div>
</ng-template>