<app-navbar></app-navbar>

<div class="content">
  <div class="container">
    <div class="wrapper">
      <div class="row">
        <div class="col-lg-2 mb-3">
          <!--   Sidebar       -->
          <app-admin-sidebar></app-admin-sidebar>

        </div>
        <div class="col-lg-10">
          <!--   router-outlet       -->
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>
