<aside class="card p-4">
  <header>
    <h4 class="font-weight-bold d-flex uk-margin-remove">
      <i class="far fa-bolt mr-3" aria-hidden="true"></i>
      <span>أحدث المقالات</span>
    </h4>
  </header>
  <hr>
  <div class="articles" *ngFor="let article of relatedContent" [routerLink]="['/blog/articles/', article?._id]">
    <a class="d-flex article">
      <img [src]="article?.image?.path" width="100">
      <p class="font-weight-bold ml-3 article-title">{{article?.name}}</p>
    </a>
    <hr>
  </div>
</aside>
