@import "src/assets/variables";
aside {
  header {
    h4 {
      color: $main-color;
    }
  }
  .articles {
    .article {
      transition: 0.2s;
      &:hover {
        color: $secondary-color;
      }
    }
  }
}
