@import "../../../../../assets/variables";

.content {
  background-color: #fff;
  padding: 1rem 0.5rem;
  .content-header {
  }

  .dv-management-card {
    border-radius: 5px;
    overflow: hidden;
    background-color: $cardColor;
    display: flex;
    align-items: center;
    flex-direction: row;
    position: relative;
    .dv-left {
      width: 27%;
      height: 120px;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }
    .dv-right {
      width: 80%;
      margin-left: 0.5rem;
      .dv-right-header {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        .header-status {
          font-size: 20px;
          display: flex;
          align-items: center;
        }
        .dv-status {
          margin: 0rem 0.5rem;
          display: flex;
          align-items: center;
          flex-direction: row;
        }
        .header-edit {
          z-index: 45;
        }
      }
      .dv-right-middle {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: wrap;
        .middle-price {
          font-weight: bold;
        }
        .middle-user {
          i {
            margin: 0rem 0.5rem !important;
          }
        }
        .middle-appearance {
          z-index: 45;
        }
      }
      .dv-right-bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: wrap;
        .bottom-delete {
          z-index: 45;
        }
      }
      .dv-right-latestupdate {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: wrap;
        .refresher {
          border: none;
          outline: none;
          background-color: transparent;
          padding: 0rem;
          z-index: 45;
          &:hover {
            cursor: pointer;
          }
        }
      }
    }
    //&:hover {
    //  background-color: rgba(black, 0.105);
    //}
  }
}

// modal part
.edit-dvertisement {
  position: relative;
  .form-control {
    border-radius: 0 !important;
  }
}

.uk-modal-body {
  position: relative;
  .modal-overlayer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(#fff, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media only screen and (max-width: 767px) {
  .content {
    .content-header {
    }

    .dv-management-card {
      flex-direction: column-reverse;
      .dv-right {
        width: 100%;
      }
      .dv-left {
        width: 50%;
        margin-bottom: 0.2rem;
      }
    }
  }
}

@media only screen and (max-width: 512px) {
  .content {
    .content-header {
    }

    .dv-management-card {
      .dv-right {
        .dv-right-header {
          justify-content: center;
          h5 {
            font-size: 15px;
          }
          .dv-status {
            margin: 0;
          }
        }
        .dv-right-middle {
          justify-content: center;
        }
        .dv-right-latestupdate {
          justify-content: center;
        }
      }
      .dv-left {
        width: 70%;
      }
    }
  }
}

.active-status {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  height: 10px;
  width: 10px;
  background-color: #08ff00;
  border-radius: 50%;
  margin: 0rem 0.3rem;
}

.in-active-status {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  height: 10px;
  width: 10px;
  background-color: #ff0000;
  border-radius: 50%;
  margin: 0rem 0.3rem;
}

.hidden-dv-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(#fff, 0.8);
  z-index: 40;
}

.btn_ {
  display: block;
  padding: 5px 10px;
  color: white !important;
  text-decoration: none;
  border-radius: 5px;
}

.blueBG_ {
  background-color: #2699fb;
}

.orangeBG_ {
  background-color: #e67e22;
}

.greenBG_ {
  background-color: #2ecc71;
}

.redBG_ {
  background-color: #e74c3c;
}

.yellowBG_ {
  background-color: #f1c40f;
}

.card_adv_ {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
}

.card_adv_ .bg_ {
  position: relative;
  width: 100%;
  // height: 120px;
  overflow: hidden;
}

.card_adv_ .bg_ img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card_adv_ .content_ h3 {
  font-size: 20px;
  font-weight: 600;
  color: #000;
}

.card_adv_ .content_ a {
  display: block;
  padding: 5px 0px;
  text-align: center;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.blueC_ {
  color: #2699fb;
}

.orangeC_ {
  color: #e67e22;
}

.greenC_ {
  color: #2ecc71;
}

.bold_ {
  font-weight: bold;
}

.full_h {
  height: 100%;
}

@media only screen and (max-width: 767px) {
  .card_adv_ .bg_ {
    height: 150px !important;
  }
}
