<section class="content" @fadeHide>
  <div class="container">
    <div class="content-header">
      <h5><b class="text-dark">اداره الاعلانات</b></h5>
    </div>

    <div class="uk-grid-small uk-child-width-1-1@l mb-2" uk-grid>

      <div *ngFor="let adv of advertisingContainer">
        <div>

          <div class="card_adv_">

            <div class="uk-grid-small" uk-grid>

              <div class="uk-width-1-3@l">
                <div class="full_h">
                  <div class="bg_ full_h">
                    <img [src]="adv.image" alt="">
                  </div>
                </div>
              </div>

              <div class="uk-width-expand">
                <div>

                  <div class="content_ p-2">
                    <h3 class="m-0">{{adv.title}}</h3>
                    <p class="m-0">حالة الإعلان: <span class="bold_"
                        [ngClass]="adv.active? 'greenC_' : 'orangeC_'">{{adv.active ? 'نشط' : 'غير نشط'}}</span> </p>
                    <p class="m-0">المدينه: <span class="bold_ blueC_">{{adv.city}}</span></p>
                    <p class="m-0">المسافة: <span class="bold_ blueC_">{{adv.runningKilos}} KM</span></p>
                    <p class="m-0">آخر تعديل: <span class="blueC_">{{advertising.timeAgo(adv.updatedAt)}}</span></p>
                    <h3 class="m-0 mt-1">السعر: <span class="bold_ blueC_">{{adv.price | currency: ' ':'code'}}</span>
                      ر.س</h3>

                    <div class="uk-grid-small uk-child-width-expand@l mt-2" uk-grid>

                      <div>
                        <div>
                          <a class="blueBG_" (click)="editAdv(adv?._id)">
                            <i class="fas fa-pencil-alt mr-1"></i>
                            <span>تعديل</span>
                          </a>
                        </div>
                      </div>

                      <div>
                        <div>
                          <a class="greenBG_" [routerLink]="['/products', adv?._id, adv?.title.split(' ').join('-')]">
                            <i class="fa fa-search-plus mr-1" aria-hidden="true"></i>
                            <span>عرض</span>
                          </a>
                        </div>
                      </div>

                      <div>
                        <div>
                          <a *ngIf="adv.show" class="orangeBG_" (click)="hideAdv(adv._id);adv.show = false">
                            <i class="fa fa-eye-slash mr-1" aria-hidden="true"></i>
                            <span>اخفاء</span>
                          </a>

                          <a *ngIf="!adv.show" class="orangeBG_" (click)="showAdv(adv._id);adv.show = true">
                            <i class="fa fa-eye mr-1" aria-hidden="true"></i>
                            <span>اظهار</span>
                          </a>

                        </div>
                      </div>

                      <div>
                        <div>
                          <a class="redBG_" (click)="deleteAdv(adv._id)">
                            <i class="fas fa-trash-alt mr-1"></i>
                            <span>حذف</span>
                          </a>
                        </div>
                      </div>

                      <div *ngIf="!adv?.active">
                        <div>
                          <a class="yellowBG_" (click)="activeAdv(adv._id)">
                            <i class="fas fa-sync-alt mr-1"></i>
                            <span>اعاده تنشيط</span>
                          </a>
                        </div>
                      </div>

                    </div>

                  </div>

                </div>
              </div>

            </div>

          </div>

        </div>
      </div>

    </div>

    <div hidden class="dv-management-card card mb-3" *ngFor="let adv of advertisingContainer">
      <div *ngIf="!adv.show" class="hidden-dv-layer"></div>
      <div hidden class="dv-left mb-3 mb-md-0 mr-4" [ngStyle]="{'background-image' : 'url('+adv.image+')'}"></div>

      <div class="bg_ dv-left mb-3 mb-md-0 mr-4">
        <img [src]="adv.image" alt="">
      </div>

      <div class="dv-right">
        <div class="dv-right-header mb-2">
          <h5 class="header-status uk-margin-remove"><b>{{adv.title}}</b>
            <span hidden [ngClass]="adv.active? 'active-status' : 'in-active-status'"></span>
          </h5>
          <div class="dv-status mx-3"><span class="dv-status-text">(حالة الإعلان :
              {{adv.active ? 'نشط' : 'غير نشط'}})</span>
          </div>
          <div class="header-edit">
            <a class="btn_ blueBG_" (click)="editAdv(adv?._id)">
              <i class="fas fa-pencil-alt mr-1"></i>
              <span>تعديل</span>
            </a>

            <a class="btn_ greenBG_ mt-2" [routerLink]="['/products', adv?._id, adv?.title.split(' ').join('-')]">
              <i class="fa fa-search-plus mr-1" aria-hidden="true"></i>
              <span>عرض</span>
            </a>

          </div>
        </div>
        <div class="dv-right-middle mb-2">
          <div class="middle-price d-flex mx-2">
            <span class="mr-1">{{adv.price | currency: ' ':'code'}}</span>
            <span class="ml-1">ر.س</span>
          </div>

          <div class="middle-appearance mx-2 mx-sm-0">

            <a *ngIf="!adv.show" class="btn_ orangeBG_" (click)="showAdv(adv._id);adv.show = true">
              <i class="fa fa-eye mr-1" aria-hidden="true"></i>
              <span>اظهار</span>
            </a>
            <a *ngIf="adv.show" class="btn_ orangeBG_" (click)="hideAdv(adv._id);adv.show = false">
              <i class="fa fa-eye-slash mr-1" aria-hidden="true"></i>
              <span>اخفاء</span>
            </a>
          </div>
        </div>
        <div class="dv-right-bottom mb-2">
          <div class="bottom-location">
            <i class="fas fa-map-marker-alt"></i>
            <span class="mx-2">{{adv.city}}</span>
          </div>
          <div class="bottom-distance">
            <span class="mx-2">{{adv.runningKilos}}</span>
            <span>KM</span>
          </div>
          <div class="bottom-delete">
            <a class="btn_ redBG_" (click)="deleteAdv(adv._id)">
              <i class="fas fa-trash-alt mr-1"></i>
              <span>حذف</span>
            </a>
          </div>
        </div>
        <div class="dv-right-latestupdate">
          <span>آخر تعديل : {{advertising.timeAgo(adv.updatedAt)}}</span>
          <button class="refresher" (click)="activeAdv(adv._id)" *ngIf="!adv?.active">
            <i class="fas fa-sync-alt mx-2"></i>
            <span>اعاده تنشيط</span>
          </button>
        </div>
      </div>
    </div>

    <div class="alert alert-primary mt-3" *ngIf="advertisingContainer.length === 0">
      <span><i class="fa fa-info-circle mx-2" aria-hidden="true"></i> لم تقم بإضافة اعلانات حتي الآن ، <a
          class="text-decoration-none" routerLink="/admin/new-advertisement"><b>اضغط هنا لإضافة إعلان
            جديد</b></a></span>
    </div>
  </div>
  <!-- loader part  -->
  <div class="dash-preloader">
    <div class="loader-img">
      <img src="assets/loader.svg" alt="loader">
    </div>
  </div>
</section>

<!-- edit advertisement modal -->
<div id="modal-overflow" uk-modal>
  <div class="uk-modal-dialog">

    <button class="uk-modal-close-default" type="button" uk-close></button>

    <div class="uk-modal-header">
      <h2 class="uk-modal-title">تعديل الاعلان</h2>
    </div>

    <div class="uk-modal-body" uk-overflow-auto>
      <form class="edit-dvertisement" (ngSubmit)="editMyProduct()">
        <div class="form-group">
          <label>اسم الاعلان</label>
          <input type="text" [(ngModel)]="productEditContainer.title" placeholder="اسم الاعلان" class="form-control"
            name="adv-name">
        </div>
        <div class="form-group">
          <label>وصف الاعلان</label>
          <input type="text" [(ngModel)]="productEditContainer.text" placeholder="وصف الاعلان" class="form-control"
            name="dv-desc">
        </div>
        <div class="form-group">
          <label>اسم المدينه</label>
          <input type="text" [(ngModel)]="productEditContainer.city" placeholder="اسم المدينه" class="form-control"
            name="dv-city">
        </div>
        <div class="form-group">
          <label>السعر</label>
          <input type="text" [(ngModel)]="productEditContainer.price" placeholder="السعر" class="form-control"
            name="dv-price">
        </div>
        <div class="form-group">
          <label>رقم التواصل</label>
          <input type="text" [(ngModel)]="productEditContainer.contactNumber" placeholder="رقم التواصل"
            class="form-control" name="dv-city">
        </div>
        <div class="form-group">
          <label>حاله الضمان</label>
          <input type="text" [(ngModel)]="productEditContainer.warrantyStatus" placeholder="حاله الضمان"
            class="form-control" name="dv-warranty">
        </div>
        <div class="form-group">
          <label>القسط</label>
          <select name="dv-installment" [(ngModel)]="productEditContainer.installment"
            class="form-control custom-select">
            <option [value]="true">بضمان</option>
            <option [value]="false">بدون ضمان</option>
          </select>
        </div>
        <div class="form-group">
          <label>مكان السياره</label>
          <input type="text" [(ngModel)]="productEditContainer.carPlace" placeholder="مكان السياره" class="form-control"
            name="dv-place">
        </div>
        <div class="form-group">
          <label>السائق</label>
          <select name="dv-driver" [(ngModel)]="productEditContainer.driver" class="form-control custom-select">
            <option [value]="true">نعم</option>
            <option [value]="false">لا</option>
          </select>
        </div>
        <div class="form-group">
          <label>حاله البيع</label>
          <select name="dv-forSell" [(ngModel)]="productEditContainer.forSell" class="form-control custom-select">
            <option [value]="true">للبيع</option>
            <option [value]="false">ليست للبيع</option>
          </select>
        </div>
        <div class="form-group">
          <label>عدد الكيلو مترات</label>
          <input type="text" [(ngModel)]="productEditContainer.runningKilos" placeholder="الكيلو مترات"
            class="form-control" name="dv-runkilos">
        </div>
        <div class="form-group">
          <label>اسم الصانع</label>
          <input type="text" [(ngModel)]="productEditContainer.brand" placeholder="البراند" class="form-control"
            name="dv-brand">
        </div>
        <div class="form-group">
          <label>الموديل</label>
          <input type="text" [(ngModel)]="productEditContainer.model" placeholder="الموديل" class="form-control"
            name="dv-model">
        </div>
        <div class="form-group">
          <label>الطراز</label>
          <input type="text" [(ngModel)]="productEditContainer.style" placeholder="الطراز" class="form-control"
            name="dv-style">
        </div>
        <div class="form-group">
          <label>سنه الصنع</label>
          <input type="text" [(ngModel)]="productEditContainer.manufacturingYear" placeholder="سنه الصنح"
            class="form-control" name="dv-manufacturerYear">
        </div>
        <div class="form-group">
          <label>نوع المواصفات</label>
          <input type="text" [(ngModel)]="productEditContainer.typeOfSpecifications" placeholder="نوع المواصفات"
            class="form-control" name="dv-specifications">
        </div>
        <div class="form-group">
          <label>الوكيل</label>
          <input type="text" [(ngModel)]="productEditContainer.agent" placeholder="الوكيل" class="form-control"
            name="dv-agent">
        </div>
        <div class="form-group">
          <label>تحكم الحركه</label>
          <input type="text" [(ngModel)]="productEditContainer.movementController" placeholder="تحكم الحركه"
            class="form-control" name="dv-controller">
        </div>
        <div class="form-group">
          <label>عداد السرعه</label>
          <input type="text" [(ngModel)]="productEditContainer.speedCount" placeholder="عداد السرعه"
            class="form-control" name="dv-speedCount">
        </div>
        <div class="form-group">
          <label>اللون</label>
          <input type="text" [(ngModel)]="productEditContainer.color" placeholder="اللون" class="form-control"
            name="dv-color">
        </div>
        <div class="form-group">
          <label>اللون الداخلي</label>
          <input type="text" [(ngModel)]="productEditContainer.innerColor" placeholder="اللون الداخلي"
            class="form-control" name="dv-innerColor">
        </div>
        <div class="form-group">
          <label>عدد السلندرات</label>
          <input type="text" [(ngModel)]="productEditContainer.cylinderCount" placeholder="عدد السلندرات"
            class="form-control" name="dv-cylinderCount">
        </div>
        <div class="form-group">
          <label>نوع الوقود</label>
          <input type="text" [(ngModel)]="productEditContainer.fuelType" placeholder="نوع الوقود" class="form-control"
            name="dv-fuelType">
        </div>
        <div class="uk-modal-footer uk-text-right">
          <button class="uk-button uk-button-default uk-modal-close" type="button">اغلق</button>
          <button class="uk-button uk-button-primary mx-2" [disabled]="sendRequest">{{sendRequest ? 'انتظر' : 'تعديل'}}
            <i *ngIf="sendRequest" class="fa fa-spinner fa-spin" aria-hidden="true"></i>
          </button>
        </div>
      </form>
      <div class="modal-overlayer">
        <i class="fa fa-spinner fa-spin text-dark" aria-hidden="true"></i>
      </div>
    </div>

  </div>
</div>