<section class="content" @fadeHide>
  <div class="container">
    <div class="content-header">
      <h5><b class="text-dark">قائمه المتابعه</b></h5>
    </div>
    <div class="col-12" *ngIf="favouritesContainer.length === 0">
      <div class="alert alert-warning">
        <span><i class="fa fa-exclamation-triangle mx-2" aria-hidden="true"></i> لم يتم متابعه اي اعلان في الوقت الحالي</span>
      </div>
    </div>
    <div class="adv-management-card card mb-2" *ngFor="let favourite of favouritesContainer"
         [routerLink]="['/products', favourite._id, favourite?.title.split(' ').join('-')]">
      <div class="adv-right">
        <div class="adv-right-header mb-2">
          <h5><b>{{favourite.title}}</b></h5>
        </div>
        <div class="adv-right-middle mb-2">
          <div class="middle-price"><span class="mr-2">{{favourite.price}}</span><span>ريال سعودي</span></div>
          <div class="middle-user">
            <i class="fa fa-user mr-2" aria-hidden="true"></i>
            <span>{{favourite.supplier.fullName}}</span>
          </div>
        </div>
        <div class="adv-right-bottom mb-2">
          <div class="bottom-location">
            <i class="fas fa-map-marker-alt"></i>
            <span class="mx-2">{{favourite.city}}</span>
          </div>
          <div class="bottom-distance">
            <span class="mx-2">{{favourite.runningKilos}}</span>
            <span>KM</span>
          </div>
          <div class="adv-right-latestupdate">
            <span>آخر تعديل : {{fav.timeAgo(favourite.updatedAt)}}</span>
          </div>
        </div>
      </div>
      <div class="adv-left" [ngStyle]="{'background-image' : 'url('+favourite.image+')'}"></div>
    </div>
  </div>
  <!-- loader part  -->
  <div class="dash-preloader">
    <div class="loader-img">
      <img src="assets/loader.svg" alt="loader">
    </div>
  </div>
</section>
