@import "../../../../../assets/variables";

.content {
  .chat-list {
    background-color: #fff;
    padding: 1rem;
    border-radius: 7px;
    box-shadow: $shadow;
    position: relative;
    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      background-color: white;
      height: 100%;
      width: 100%;
    }

    .chat-search {
      .search-form {
        position: relative;

        .chatsapp-form-control {
          width: 100%;
          border: none;
          color: $semiGray;
          background-color: transparent;
          padding: 0.7rem 2rem 0.7rem 0.7rem;
          border-bottom: 2px solid $semiGray;
          transition: 0.2s;
          outline: none;

          &:focus {
            border-color: $main-color;
            outline: none;
          }
        }

        .search-icon {
          color: $semiGray;
          position: absolute;
          top: 35%;
          left: 2%;
        }
      }
    }

    .chat-contacts {
      margin-top: 1rem;
      height: 70vh;

      .friends {
        display: flex;
        align-items: center;
        padding: 0.7rem;
        border-bottom: 1px solid rgba(#000, 0.1);

        .friends-imgs {
          margin-left: 0.5rem;

          .img {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 60px;
            height: 60px;
            border-radius: 50%;
            box-shadow: $shadow;
          }
        }

        .friends-chat {
          width: 90%;

          .friend-name {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .f-name {
              color: #000;
              font-weight: 600;
            }

            .f-time {
              color: $semiGray;
            }
          }

          .friend-message {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .m-caption {
              .mark-icon {
                color: $main-color;
                margin-right: 0.5rem;
              }

              .m-text {
                color: $semiGray;
              }
            }

            .new-message {
              .message-alert {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 15px;
                width: 15px;
                background-color: $main-color;
                border-radius: 50%;
                color: #fff;
              }
            }
          }
        }

        &:hover {
          background-color: rgba(black, 0.1);
          cursor: pointer;
        }
      }
    }
  }
}

.unread {
  color: $main-color !important;
  font-weight: bold;
}

@media only screen and (max-width: 667px) {
  .content {
    .chat-list {
      .chat-contacts {
        .friends {
          .friends-imgs {
            .img {
              width: 40px;
              height: 40px;
            }
          }

          .friends-chat {
            .friend-name {
              .f-name {
                font-size: 12px;
              }

              .f-time {
                font-size: 12px;
              }
            }

            .friend-message {
              .m-caption {
                .mark-icon {
                  font-size: 12px;
                }

                .m-text {
                  font-size: 12px;
                }
              }
            }
          }
        }
      }
    }
  }
}

.friends-imgs {
  position: relative !important;
  width: 70px !important;
  height: 70px !important;
  overflow: hidden !important;
}

.friends-imgs .img {
  position: absolute !important;
  width: 100% !important;
  height: 100% !important;
  object-fit: cover !important;
}
