<section class="content" @scaleIn>
  <div class="chat-list">
    <div class="overlay" *ngIf="loading">
      <div class="h-100 d-flex align-items-center justify-content-center">
        <span uk-spinner></span>
      </div>
    </div>
    <div class="chat-search" hidden>
      <form class="search-form">
        <input name="searchInChats" type="text" class="chatsapp-form-control"
          placeholder="ابحث عن صديق او ابدأ محادثه جديده">
        <i class="fa fa-search search-icon" aria-hidden="true"></i>
      </form>
    </div>
    <div class="col-12 my-3">
      <div class="alert alert-warning" *ngIf="chatListContainer?.length === 0 && !loading">
        <span><i class="fa fa-exclamation-circle mx-2" aria-hidden="true"></i><span>لا يوجد رسائل في الوقت
            الحالي</span></span>
      </div>
    </div>
    <div class="chat-contacts">
      <ng-container *ngFor="let list of chatListContainer;trackBy:socket?.trackByFn let i = index">
        <a class="friends text-decoration-none" [routerLink]="['/admin/my-chats', list?._id]"
          (click)="openNewChat(profile?.profileContainer?.user?._id === list?.userOne?._id ? list?.userTwo?._id : list?.userOne?._id)"
          @scaleUp *ngIf="list?.lastMessage">
          <div class="friends-imgs">
            <img *ngIf="profile?.profileContainer?.user?._id === list?.userOne?._id"
              [src]="list?.userTwo?.profilePicture" class="img" alt="friends-images">
            <img *ngIf="profile?.profileContainer?.user?._id === list?.userTwo?._id"
              [src]="list?.userOne?.profilePicture" class="img" alt="friends-images">
          </div>
          <div class="friends-chat">
            <div class="friend-name">
              <span class="f-name">{{profile?.profileContainer?.user?._id === list?.userOne?._id ?
                list?.userTwo?.fullName : list?.userOne?.fullName | titlecase}}</span>
              <span class="f-time">{{list?.lastMessageDate | date:'shortTime'}}</span>
            </div>
            <div class="friend-message">
              <div class="m-caption">
                <!--              <i *ngIf="socket.allChatListContainer.userId === list.lastMessage.from" [ngClass]="list.lastMessage.seen ? ['fa-check-double', 'mark-icon'] : ['fa-check','text-muted']" class="fas mr-1"></i>-->
                <span class="m-text"
                  [class.unread]="!list?.lastMessageRead && list?.userOne._id !== profile?.profileContainer?.user?._id">{{list?.lastMessage}}</span>
              </div>
              <div class="new-message"
                *ngIf="!list?.lastMessageRead && list?.userOne._id !== profile?.profileContainer?.user?._id">
                <span class="message-alert"></span>
              </div>
            </div>
          </div>
        </a>
      </ng-container>
    </div>
  </div>
</section>