
<section class="blog-contact">
  <div class="blog-container">
    <div class="row">
      <div class="col-md-8">
        <div class="contact-right card">
          <div class="contact-header">
            <i class="fa fa-comment" aria-hidden="true"></i>
            <span>اتصل بنا</span>
          </div>
          <div class="divider"></div>
          <p class="text-muted mt-2">اذا كان لديك أي استفسار لا تتردد في الاتصال بنا عبر ملئ المنوذد ادناه, وسةف نقوم بالرد علي استفسارك في اقرب وقت ممكن.</p>
          <div class="contact-form">
            <form [formGroup]="contactForm" (ngSubmit)="submitContactForm()">
              <div class="form-group">
                <label [class.text-danger]="contactForm?.controls?.userName?.invalid && contactForm?.controls?.userName?.touched">اسم الكريم (مطلوب)</label>
                <input type="text" [class.border-danger]="contactForm?.controls?.userName?.invalid && contactForm?.controls?.userName?.touched" formControlName="userName" class="contact-control" ngModel name="contactName" required>
                <small class="text-danger" *ngIf="contactForm?.controls?.userName?.invalid && contactForm?.controls?.userName?.touched"><i class="fa fa-exclamation-triangle mr-2" aria-hidden="true"></i> <span>هذا الحقل مطلوب</span></small>
              </div>
              <div class="form-group">
                <label [class.text-danger]="contactForm?.controls?.userMail?.invalid && contactForm?.controls?.userMail?.touched">بريدك الالكتروني (مطلوب)</label>
                <input type="email" [class.border-danger]="contactForm?.controls?.userMail?.invalid && contactForm?.controls?.userMail?.touched" formControlName="userMail" ngModel name="contactEmail" class="contact-control">
                <small class="text-danger" *ngIf="contactForm?.controls?.userMail?.invalid && contactForm?.controls?.userMail?.touched"><i class="fa fa-exclamation-triangle mr-2" aria-hidden="true"></i> <span>هذا الحقل مطلوب</span></small>
              </div>
              <div class="form-group">
                <label [class.text-danger]="contactForm.controls.userAddress.invalid && contactForm.controls.userAddress.touched">العنوان</label>
                <input type="text" [class.border-danger]="contactForm.controls.userAddress.invalid && contactForm.controls.userAddress.touched" formControlName="userAddress" ngModel name="contactAddress" class="contact-control">
                <small class="text-danger" *ngIf="contactForm.controls.userAddress.invalid && contactForm.controls.userAddress.touched"><i class="fa fa-exclamation-triangle mr-2" aria-hidden="true"></i> <span>هذا الحقل مطلوب</span></small>
              </div>
              <div class="form-group">
                <label [class.text-danger]="contactForm.controls.userMessage.invalid && contactForm.controls.userMessage.touched">رساتلك</label>
                <textarea type="text" [class.border-danger]="contactForm.controls.userMessage.invalid && contactForm.controls.userMessage.touched" formControlName="userMessage" name="contactMessage" ngModel class="contact-control" cols="30" rows="10"></textarea>
                <small class="text-danger" *ngIf="contactForm.controls.userMessage.invalid && contactForm.controls.userMessage.touched"><i class="fa fa-exclamation-triangle mr-2" aria-hidden="true"></i> <span>هذا الحقل مطلوب</span></small>
              </div>
              <div class="form-group">
                <button [disabled]="contactForm.invalid || sendRequest" class="contact-btn"> <i class="fa fa-paper-plane mr-2" aria-hidden="true"></i><span>ارسال</span></button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="contact-left card">
          <app-latest-articles [relatedContent]="blogsContainer?.latestBlogs"></app-latest-articles>
        </div>
      </div>
    </div>
  </div>
</section>
