@import "../../../../../assets/variables";

section {
  padding-top: 1.5rem;
  background-color: $background-color;
  .blog-container
  {
    .contact-right
    {
      padding: 0.7rem 2rem;
      .contact-header
      {
        span, i
        {
          color: $main-color;
          font-size: 1.5em;
        }
        span
        {

          margin: 0rem 0.5rem;
        }
      }
    }

    .contact-left
    {

    }
  }
}

.divider
{
  height: 1.5px;
  width: 100%;
  margin: 0.7rem 0rem;
  background-color: rgba(black,0.04);
}

.contact-control
{
  border: 1px solid rgba(black,0.06);
  background-color: #f5f5f5;
  width: 100%;
  padding: 0.5rem 0.8rem;
  color: rgba(black,0.5);
}

.contact-btn
{
  background-color: $btn-color;
  outline: none;
  border: none;
  color: #fff;
  padding: 0.4rem 1.5rem;
  transition: 0.1s;
  &:active
  {
    transform: scale(0.9);
  }

  &:disabled
  {
    cursor: not-allowed;
    background-color: rgba($btn-color,0.7);
  }
}

