<form @fadeHide>
    <section class="free-settings-content card mb-3">
        <div class="container-fluid">
            <div class="row">
                <!--personal information-->
                <div class="col-12">
                    <div class="personal-information">
                        <h5 class="personal-heading">معلومات شخصيه</h5>
                    </div>
                </div>
                <!--personal form-->
                <div class="col-12">
                    <div class="personal-form">

                        <div class="col-12 uk-padding-remove">
                            <div class="row justify-content-center">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>الاسم</label>
                                        <div class="form-input">
                                            <input type="text" class="form-control" placeholder="خالد عبد الرحمن">
                                            <span class="edit-content">
                                                <i class="fas fa-pen edit-icon"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>المدينه</label>
                                        <div class="form-input">
                                            <input type="text" class="form-control" placeholder="مكه المكرمه">
                                            <span class="edit-content">
                                                <i class="fas fa-pen edit-icon"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>رقم الجوال</label>
                                        <div class="form-input">
                                            <input type="tel" class="form-control" placeholder="0534188859">
                                            <span class="edit-content">
                                                <i class="fas fa-pen edit-icon"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>البريد الالكتروني</label>
                                        <div class="form-input">
                                            <input type="email" class="form-control" placeholder="kalid@gmail.com">
                                            <span class="edit-content">
                                                <i class="fas fa-pen edit-icon"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>السجل التجاري</label>
                                        <div class="form-input">
                                            <input type="text" class="form-control" id="commercialId"
                                                   placeholder="4268762648344">
                                            <label for="commercialId" class="edit-content">
                                                <i class="fas fa-pen edit-icon"></i>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="password-reset">
                                        <button class="harag-primary" type="button">
                                            تغيير كلمه المرور
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="notification-settings card">
        <div class="container-fluid">
            <div class="row">
                <!--notification information-->
                <div class="col-12 mb-2">
                    <div class="notification-information">
                        <h5 class="notification-heading">إشعارات البريد الالكتروني</h5>
                    </div>
                </div>
                <!--notification radio selection-->
                <div class="col-12">
                    <div class="radio-selection">
                        <form>
                            <div class="custom-control custom-checkbox mr-sm-2">
                                <input type="checkbox" class="custom-control-input" id="customControlAutosizing1">
                                <label class="custom-control-label" for="customControlAutosizing1">الإشعار عن الردود عن
                                    الإعلانات</label>
                            </div>
                            <div class="custom-control custom-checkbox mr-sm-2">
                                <input type="checkbox" class="custom-control-input" id="customControlAutosizing2">
                                <label class="custom-control-label" for="customControlAutosizing2">الإشعار عن الرسائل
                                    الخاصة الجديدة</label>
                            </div>
                            <div class="custom-control custom-checkbox mr-sm-2">
                                <input type="checkbox" class="custom-control-input" id="customControlAutosizing3">
                                <label class="custom-control-label" for="customControlAutosizing3">الإشعار بوجود سلعه
                                    جديدة تقوم بمتابتعها</label>
                            </div>
                            <div class="form-group mt-2">
                                <button class="harag-primary">
                                    حفظ الإعدادات
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</form>
