@import "../../../../../assets/variables";

.free-settings-content
{
  padding: 1rem 0.5rem;
  // personal information
  .personal-information
  {
    .personal-heading
    {
      font-weight: bold;
    }
  }

  // personal form
  .personal-form
  {
    .form-input
    {
      position: relative;
      .form-control
      {
        padding-left: 40px;
      }
      .edit-content
      {
        position: absolute;
        top: 20%;
        left: 5%;
        .edit-icon
        {
          color: #707070;
        }
        &:hover
        {
          cursor: pointer;
          .edit-icon
          {
            color: #505050;
          }
        }
      }
    }

    .password-reset
    {

    }
  }
}


.notification-settings
{
  padding: 1rem 0.5rem;
  .notification-information
  {
    .notification-heading
    {
      font-weight: bold;
    }
  }
}
