@import "../../../../../assets/variables";

.card {
  position: relative;
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 10;
    background-color: white;
    width: 100%;
  }
}

.logo {
  .image {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(black, 0.1);
    position: relative;
    overflow: hidden;

    .upload-pic {
      width: 150px;
      height: 66px;
      background: gray;
      display: flex;
      position: absolute;
      flex-direction: column;
      bottom: -17px;
      justify-content: flex-start;
      align-items: center;
      opacity: 0.7;
      color: white;

      input {
        opacity: 0;
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }

      svg {
        width: 20px;
        height: 20px;
        fill: white;
      }

    }
  }
}

.premium-settings-content {
  padding: 1rem 0.5rem;
  // personal information
  .personal-information {
    .personal-heading {
      font-weight: bold;
    }
  }

  // personal form
  .personal-form {
    .form-input {
      position: relative;

      .form-control {
        padding-left: 40px;
      }

      .edit-content {
        position: absolute;
        top: 20%;
        left: 5%;

        .edit-icon {
          color: #707070;
        }

        &:hover {
          cursor: pointer;

          .edit-icon {
            color: #505050;
          }
        }
      }
    }

    .password-reset {

    }
  }
}


.notification-settings {
  padding: 1rem 0.5rem;

  .notification-information {
    .notification-heading {
      font-weight: bold;
    }
  }
}
