<main @fadeHide>
  <section class="premium-settings-content card mb-3">
    <div class="overlay" *ngIf="isLoading">
      <div class="h-100 d-flex align-items-center justify-content-center">
        <span uk-spinner></span>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row">
        <!--permium header-->
        <div class="col-12">
          <div class="personal-information">
            <h5 class="personal-heading">معلومات شخصيه</h5>
          </div>
        </div>
        <!--personal form-->
        <div class="col-12">
          <div class="logo d-flex p-4 align-items-center justify-content-center">
            <div class="mini-loader" *ngIf="isUploading">
              <div class="icon d-flex align-items-center justify-content-center">
                <div uk-spinner></div>
              </div>
            </div>
            <ng-container *ngIf="!isUploading">
              <div class="image " *ngIf="profileContainer?.user?.profilePicture"
                   [ngStyle]="{'background-image': 'url('+profileContainer?.user?.profilePicture+')'}">
                    <span class="upload-pic">
                      تغير الصورة الشخصية
                      <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                           xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                           y="0px"
                           viewBox="0 0 36.174 36.174"
                           style="enable-background:new 0 0 36.174 36.174;"
                           xml:space="preserve">
<g>
	<path d="M23.921,20.528c0,3.217-2.617,5.834-5.834,5.834s-5.833-2.617-5.833-5.834s2.616-5.834,5.833-5.834
		S23.921,17.312,23.921,20.528z M36.174,12.244v16.57c0,2.209-1.791,4-4,4H4c-2.209,0-4-1.791-4-4v-16.57c0-2.209,1.791-4,4-4h4.92
		V6.86c0-1.933,1.566-3.5,3.5-3.5h11.334c1.934,0,3.5,1.567,3.5,3.5v1.383h4.92C34.383,8.244,36.174,10.035,36.174,12.244z
		 M26.921,20.528c0-4.871-3.963-8.834-8.834-8.834c-4.87,0-8.833,3.963-8.833,8.834s3.963,8.834,8.833,8.834
		C22.958,29.362,26.921,25.399,26.921,20.528z"/>
</g>
</svg>
<input type="file" #upload (change)="uploadImage($event)"
       accept="image/*"
>
                </span>
              </div>
              <div class="image " *ngIf="!profileContainer?.user?.profilePicture"
                   [ngStyle]="{'background-image': 'url(assets/user.png)'}">
                                   <span class="upload-pic">
                      تغير الصورة الشخصية
                      <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                           xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                           y="0px"
                           viewBox="0 0 36.174 36.174"
                           style="enable-background:new 0 0 36.174 36.174;"
                           xml:space="preserve">
<g>
	<path d="M23.921,20.528c0,3.217-2.617,5.834-5.834,5.834s-5.833-2.617-5.833-5.834s2.616-5.834,5.833-5.834
		S23.921,17.312,23.921,20.528z M36.174,12.244v16.57c0,2.209-1.791,4-4,4H4c-2.209,0-4-1.791-4-4v-16.57c0-2.209,1.791-4,4-4h4.92
		V6.86c0-1.933,1.566-3.5,3.5-3.5h11.334c1.934,0,3.5,1.567,3.5,3.5v1.383h4.92C34.383,8.244,36.174,10.035,36.174,12.244z
		 M26.921,20.528c0-4.871-3.963-8.834-8.834-8.834c-4.87,0-8.833,3.963-8.833,8.834s3.963,8.834,8.833,8.834
		C22.958,29.362,26.921,25.399,26.921,20.528z"/>
</g>
</svg>
<input type="file" #upload (change)="uploadImage($event)"
       accept="image/*"
>
                </span>

              </div>
            </ng-container>
          </div>

          <div class="personal-form">
            <form (ngSubmit)="updateProfileSubmition()">
              <div class="col-12 uk-padding-remove">
                <div class="row justify-content-center">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>الاسم الاول</label>
                      <div class="form-input">
                        <input [(ngModel)]="profileData.firstName" name="firstName" type="text" class="form-control"
                               placeholder="ادخل الاسم الاول">
                        <span class="edit-content">
                            <i class="fas fa-pen edit-icon"></i>
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>الاسم الاخير</label>
                      <div class="form-input">
                        <input [(ngModel)]="profileData.lastName" name="lasttName" type="text" class="form-control"
                               placeholder="ادخل الاسم الاخير">
                        <span class="edit-content">
                                                <i class="fas fa-pen edit-icon"></i>
                                            </span>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>رقم الجوال</label>
                      <div class="form-input">
                        <input [(ngModel)]="profileData.phone" name="phone" type="tel" class="form-control"
                               placeholder="ادخل رقم الجوال">
                        <span class="edit-content">
                            <i class="fas fa-pen edit-icon"></i>
                        </span>
                      </div>
                    </div>
                  </div>
                  <!--                                    <div class="col-md-6">-->
                  <!--                                        <div class="form-group">-->
                  <!--                                            <label>خدمه العملاء</label>-->
                  <!--                                            <div class="form-input">-->
                  <!--                                                <input type="text" class="form-control" placeholder="0534188859">-->
                  <!--                                                <span class="edit-content">-->
                  <!--                                                <i class="fas fa-pen edit-icon"></i>-->
                  <!--                                            </span>-->
                  <!--                                            </div>-->
                  <!--                                        </div>-->
                  <!--                                    </div>-->
                  <div class="col-12">
                    <button class="harag-primary" [disabled]="sendRequest">
                      تعديل
                      <i *ngIf="sendRequest" class="fa fa-spinner fa-spin mx-2" aria-hidden="true"></i>
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>


  <!--notification part-->
  <!--    <section class="notification-settings card">-->
  <!--        <div class="container-fluid">-->
  <!--            <div class="row">-->
  <!--                &lt;!&ndash;notification information&ndash;&gt;-->
  <!--                <div class="col-12 mb-2">-->
  <!--                    <div class="notification-information">-->
  <!--                        <h5 class="notification-heading">إشعارات البريد الالكتروني</h5>-->
  <!--                    </div>-->
  <!--                </div>-->
  <!--                &lt;!&ndash;notification radio selection&ndash;&gt;-->
  <!--                <div class="col-12">-->
  <!--                    <div class="radio-selection">-->
  <!--                        <form>-->
  <!--                            <div class="custom-control custom-checkbox mr-sm-2">-->
  <!--                                <input type="checkbox" class="custom-control-input" id="customControlAutosizing1">-->
  <!--                                <label class="custom-control-label" for="customControlAutosizing1">الإشعار عن الردود عن الإعلانات</label>-->
  <!--                            </div>-->
  <!--                            <div class="custom-control custom-checkbox mr-sm-2">-->
  <!--                                <input type="checkbox" class="custom-control-input" id="customControlAutosizing2">-->
  <!--                                <label class="custom-control-label" for="customControlAutosizing2">الإشعار عن الرسائل الخاصة الجديدة</label>-->
  <!--                            </div>-->
  <!--                            <div class="custom-control custom-checkbox mr-sm-2">-->
  <!--                                <input type="checkbox" class="custom-control-input" id="customControlAutosizing3">-->
  <!--                                <label class="custom-control-label" for="customControlAutosizing3">الإشعار بوجود سلعه جديدة تقوم بمتابتعها</label>-->
  <!--                            </div>-->
  <!--                            <div class="form-group mt-2">-->
  <!--                                <button class="harag-primary">-->
  <!--                                    حفظ الإعدادات-->
  <!--                                </button>-->
  <!--                            </div>-->
  <!--                        </form>-->
  <!--                    </div>-->
  <!--                </div>-->
  <!--            </div>-->
  <!--        </div>-->
  <!--    </section>-->
</main>
