.uk-container {
  max-width: 1331px !important;
}
.blog_header_hot .card_blog_ .bg_ {
  position: relative;
  width: 100%;
  height: 555px;
  overflow: hidden;
}

.blog_header_hot .card_blog_ .bg_ .img_ {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.blog_header_hot .card_blog_ .bg_ .black_screen {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(0deg, #000, rgba(15, 15, 15, 0.5), transparent);
  z-index: 2;
}

.blog_header_hot .card_blog_ .bg_ .black_screen .content_ {
  width: 100%;
  position: absolute;
  bottom: 15px;
}

.blog_header_hot .card_blog_ .bg_ .black_screen .content_ h3 {
  font-weight: bold;
  color: white;
}

.blog_header_hot .card_blog_ .bg_ .black_screen .content_ .header_ {
  color: white;
  font-size: 30px;
  font-weight: bold;
}

.blog_header_hot .card_blog_ .bg_ .black_screen .content_ .describtion_ {
  color: #b3b3b3;
  font-size: 13px;
}

.blog_header_hot .card_blog_ .bg_ .black_screen .content_ .option_ {
  color: white;
}

.blog_header_hot .card_blog_ .bg_ .black_screen .content_ .option_ {
  color: white;
}

.blog_header_hot .card_blog_ .bg_ .black_screen .content_ .tag_ {
  background-color: #fdcb74;
  padding: 2px 15px 5px;
  border-radius: 10px;
}

.header_ {
  position: relative;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: left;
  z-index: 888;
}

.header_ .line_ {
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
  width: 7px;
  background-color: #fdcb74;
  height: 51px;
}

.header_ p {
  font-weight: bold;
  color: #2699fb;
  font-size: 25px;
}

.blog_popular .card_blog_pop .bg_ {
  position: relative;
  width: 100%;
  height: 360px;
  border-radius: 10px;
  overflow: hidden;
}

.blog_popular .card_blog_pop .bg_ .img_ {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.blog_popular .card_blog_pop .bg_ .black_screen {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(0deg, #000, rgba(15, 15, 15, 0.5), transparent);
  z-index: 2;
}

.blog_popular .card_blog_pop .bg_ .black_screen .content_ {
  width: 100%;
  position: absolute;
  bottom: 15px;
}

.blog_popular .card_blog_pop .bg_ .black_screen .content_ h3 {
  font-weight: bold;
  color: #2699fb;
}

.blog_popular .card_blog_pop .bg_ .black_screen .content_ .header_ {
  color: white;
  font-size: 16px;
  font-weight: bold;
}

.blog_popular .card_blog_pop .bg_ .black_screen .content_ .describtion_ {
  color: #b3b3b3;
  font-size: 13px;
}

.blog_popular .card_blog_pop .bg_ .black_screen .content_ .option_ {
  color: white;
  font-size: 10px;
}

.full_center_ {
  position: relative;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 888;
}

.blog_describtion {
  border-radius: 5px;
  overflow: hidden;
  width: 100%;
  background-image: url(https://images.pexels.com/photos/266044/pexels-photo-266044.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-position: center;
  background-size: cover;
}

.blog_describtion .black_screen {
  width: 100%;
  height: 100%;
  background-color: rgba($color: #000000, $alpha: 0.6);
}

.blog_describtion .black_screen p {
  color: white;
}

.blog_describtion .black_screen h3 {
  color: #e6e6e6;
}

.blog_weekly .card_big_image .bg_ {
  position: relative;
  border-radius: 5px;
  width: 100%;
  height: 501px;
  overflow: hidden;
}

.blog_weekly .card_big_image .bg_ .img_ {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.blog_weekly .card_big_image .bg_ .black_screen {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(0deg, #000, rgba(15, 15, 15, 0.5), transparent);
  z-index: 2;
}

.blog_weekly .card_big_image .bg_ .black_screen .content_ {
  width: 100%;
  position: absolute;
  bottom: 15px;
}

.blog_weekly .card_big_image .bg_ .black_screen .content_ h3 {
  font-weight: bold;
  color: #2699fb;
}

.blog_weekly .card_big_image .bg_ .black_screen .content_ .header_ {
  color: white;
  font-size: 16px;
  font-weight: bold;
}

.blog_weekly .card_big_image .bg_ .black_screen .content_ .describtion_ {
  color: #b3b3b3;
  font-size: 13px;
}

.blog_weekly .card_big_image .bg_ .black_screen .content_ .option_ {
  color: white;
  font-size: 10px;
}

/************/
.blog_weekly .card_blog_ .bg_ {
  position: relative;
  width: 100%;
  height: 242.9px;
  border-radius: 5px;
  overflow: hidden;
}

.blog_weekly .card_blog_ .bg_ .img_ {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.blog_weekly .card_blog_ .bg_ .black_screen {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(0deg, #000, rgba(15, 15, 15, 0.5), transparent);
  z-index: 2;
}

.blog_weekly .card_blog_ .bg_ .black_screen .content_ {
  width: 100%;
  position: absolute;
  bottom: 15px;
}

.blog_weekly .card_blog_ .bg_ .black_screen .content_ h3 {
  font-weight: bold;
  color: #2699fb;
}

.blog_weekly .card_blog_ .bg_ .black_screen .content_ .header_ {
  color: white;
  font-size: 16px;
  font-weight: bold;
}

.blog_weekly .card_blog_ .bg_ .black_screen .content_ .describtion_ {
  color: #b3b3b3;
  font-size: 13px;
}

.blog_weekly .card_blog_ .bg_ .black_screen .content_ .option_ {
  color: white;
  font-size: 10px;
}

/*******************************************************/
@import "src/assets/variables";
.home {
  background-color: $background-color;

  .page-header {
    .article {
      position: relative;
      padding-top: 50%;
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;

      .overlay {
        padding: 1rem;
        background: rgb(0, 0, 0);
        background: linear-gradient(
          0deg,
          rgba(0, 0, 0, 0.7735294801514356) 0%,
          rgba(0, 0, 0, 0.3113446062018558) 23%,
          rgba(0, 0, 0, 0) 100%
        );
      }
    }
  }

  .page-articles {
    article {
      .uk-card-media-left {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        padding-top: 30%;
      }

      .uk-card-body {
        height: 100%;
        width: 100%;
        display: inline-flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;

        .uk-text-muted {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          width: 100%;
        }
      }

      .uk-button {
        font-weight: 600;
        transition: 0.2s;

        &:hover {
          transform: translateY(-1px);
          box-shadow: 0 2px 10px rgba(black, 0.2);
        }
      }
    }
  }
}

@media screen and (max-width: 640px) {
  .page-articles {
    article {
      .uk-card-media-left {
        padding-top: 60% !important;
      }
    }
  }
}
