<!--<section hidden class="home pt-3">-->
<!--  <div class="blog-container">-->
<!--    &lt;!&ndash;  start home header &ndash;&gt;-->

<!--    <div class="card p-3 page-header mb-3">-->
<!--      <div class="row">-->
<!--        <div class="col-lg-4">-->
<!--          <div class="article mb-3" *ngFor="let article of blogsContainer.gallery"-->
<!--               [routerLink]="['/blog/articles', article?._id]"-->
<!--               style="cursor: pointer" [ngStyle]="{'background-image': 'url('+article?.image+')'}">-->
<!--            <div class="uk-overlay overlay uk-position-cover"></div>-->
<!--            <div class="uk-overlay overlay uk-position-bottom">-->
<!--              <p class="font-weight-bold text-white">{{article?.name}}</p>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="col-lg-8">-->
<!--          <div class="article mb-lg-0 mb-3" [routerLink]="['/blog/articles', blogsContainer?.gallery[1]?._id]"-->
<!--               style="cursor: pointer" [ngStyle]="{'background-image': 'url('+blogsContainer?.gallery[1]?.image+')'}">-->
<!--            <div class="uk-overlay overlay uk-position-cover"></div>-->
<!--            <div class="uk-overlay overlay uk-position-bottom">-->
<!--              <p class="font-weight-bold text-white">{{blogsContainer?.gallery[1]?.name}}</p>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="row">-->
<!--        <div class="col-lg-4" *ngFor="let article of threeContainer" [routerLink]="['/blog/articles', article?._id]"-->
<!--             style="cursor: pointer">-->
<!--          <div class="article mb-lg-0 mb-3" [ngStyle]="{'background-image': 'url('+article?.image+')'}">-->
<!--            <div class="uk-overlay overlay uk-position-cover"></div>-->
<!--            <div class="uk-overlay overlay uk-position-bottom">-->
<!--              <p class="font-weight-bold text-white">{{article?.name}}</p>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->


<!--  </div>-->
<!--  &lt;!&ndash;  End home header&ndash;&gt;-->

<!--  &lt;!&ndash;  Start Home articles &ndash;&gt;-->
<!--  <div class="blog-container">-->
<!--    <div class="row">-->
<!--      <div class="col-lg-8 mb-3">-->
<!--        <div class="card p-4 page-articles">-->
<!--          <article *ngFor="let article of blogsContainer?.homeBlogs"-->
<!--                   class="uk-card uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>-->
<!--            <div class="uk-card-media-left uk-cover-container" [routerLink]="['/blog/articles/', article?._id]"-->
<!--                 style="cursor: pointer" [ngStyle]="{'background-image': 'url('+article?.image?.path+')'}">-->
<!--            </div>-->
<!--            <div>-->
<!--              <div class="uk-card-body">-->
<!--                <h3 class="uk-card-title font-weight-bold">{{article?.name}}</h3>-->
<!--                <p class="uk-text-muted">{{article?.body}}</p>-->
<!--                <button class="uk-button main-color" [routerLink]="['/blog/articles/', article?._id]">-->
<!--                  <span>اكمل القراءة</span>-->
<!--                  <i class="fa fa-arrow-left ml-2" aria-hidden="true"></i>-->
<!--                </button>-->
<!--              </div>-->
<!--            </div>-->
<!--            <hr/>-->
<!--          </article>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="col-lg-4">-->
<!--        <app-latest-articles [relatedContent]="blogsContainer?.latestBlogs"></app-latest-articles>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->


<!--  &lt;!&ndash;  End Home articles &ndash;&gt;-->
<!--</section>-->

<section class="sec_blog py-5" style="padding-top: 6.3rem!important;">

  <div class="uk-container" *ngIf="blogsContainer">

    <div class="blog_header_hot mb-3">

      <div class="uk-grid-small uk-child-width-1-2@l" uk-grid>

        <div>
          <div>

            <div class="uk-grid-small uk-child-width-1-1@l" uk-grid>

              <div>
                <div>

                  <div class="card_blog_" [routerLink]="['/blog/articles', blogsContainer.gallery[0]?._id]">
                    <div class="bg_" style="height: 270px;">
                      <img class="img_"
                           [src]=" blogsContainer.gallery[0]?.image"
                           alt="">
                      <div class="black_screen">
                        <div class="content_ px-3">
                          <h3 class="m-0 mb-1">جديد</h3>
                          <p class="m-0 header_ mb-3">{{ blogsContainer.gallery[0]?.name}}</p>
                          <p class="describtion_">
                            {{ blogsContainer.gallery[0]?.body}}
                          </p>

                          <!--                          <div class="uk-flex">-->

                          <!--                            <p class="option_ m-0">-->
                          <!--                              <span uk-icon="calendar"></span>&nbsp;-->
                          <!--                              <span>July 23, 2021</span>&nbsp;&nbsp;&nbsp;-->
                          <!--                            </p>-->

                          <!--                            <p class="tag_">جديد</p>-->

                          <!--                          </div>-->

                        </div>
                      </div>

                    </div>
                  </div>

                </div>
              </div>

              <div>
                <div>

                  <div class="card_blog_" [routerLink]="['/blog/articles', blogsContainer.gallery[1]?._id]">
                    <div class="bg_" style="height: 270px;">
                      <img class="img_"
                           [src]=" blogsContainer.gallery[1]?.image"
                           alt="">

                      <div class="black_screen">
                        <div class="content_ px-3">
                          <h3 class="m-0 mb-1">جديد</h3>
                          <p class="m-0 header_ mb-3">{{ blogsContainer.gallery[1]?.name}}</p>
                          <p class="describtion_">
                            {{ blogsContainer.gallery[1]?.body}}
                          </p>

                          <!--                          <div class="uk-flex">-->

                          <!--                            <p class="option_ m-0">-->
                          <!--                              <span uk-icon="calendar"></span>&nbsp;-->
                          <!--                              <span>July 23, 2021</span>&nbsp;&nbsp;&nbsp;-->
                          <!--                            </p>-->

                          <!--                            <p class="tag_">جديد</p>-->

                          <!--                          </div>-->

                        </div>
                      </div>

                    </div>
                  </div>

                </div>
              </div>

            </div>

          </div>
        </div>

        <div>
          <div>

            <div class="card_blog_" [routerLink]="['/blog/articles', blogsContainer.gallery[3]?._id]"
            >
              <div class="bg_">
                <img class="img_"
                     [src]="blogsContainer.gallery[2]?.image"
                     alt="">

                <div class="black_screen">
                  <div class="content_ px-3">
                    <h3 class="m-0 mb-1">جديد</h3>
                    <p class="m-0 header_ mb-3">{{blogsContainer.gallery[2]?.name}}</p>
                    <p class="describtion_">
                      {{blogsContainer.gallery[2]?.body}}
                    </p>

                    <!--                    <div class="uk-flex">-->

                    <!--                      <p class="option_ m-0">-->
                    <!--                        <span uk-icon="calendar"></span>&nbsp;-->
                    <!--                        <span>July 23, 2021</span>&nbsp;&nbsp;&nbsp;-->
                    <!--                      </p>-->

                    <!--                      <p class="tag_">جديد</p>-->

                    <!--                    </div>-->

                  </div>
                </div>

              </div>
            </div>

          </div>
        </div>

      </div>

    </div>

    <div class="blog_popular mb-3">

      <div class="header_">
        <div class="line_"></div>
        <p class="m-0 pl-1">الصور</p>
      </div>

      <div class="uk-grid-small uk-child-width-1-4@l mt-3" uk-grid>

        <div *ngFor="let item of blogsContainer.homeBlogs |slice:0:4">
          <div>

            <div class="card_blog_pop">
              <div class="bg_">
                <img class="img_" [src]="item.image?.path" alt="">
                <div class="black_screen">
                  <div class="content_ px-3">
                    <p class="m-0 header_ mb-1">{{item.name}}</p>
                    <p class="describtion_">
                      {{item.body}}
                    </p>

                  </div>
                </div>

              </div>
            </div>

          </div>
        </div>

      </div>

    </div>

    <div class="blog_describtion my-4"
         [ngStyle]="{ 'background-image': 'url(' + blogsContainer.homeBlogs[4].image.path + ')' }">
      <div class="black_screen py-5">

        <div class="full_center_ py-4">

          <div class="uk-width-2-3">
            <p class="text-center uk-heading-small m-0">{{blogsContainer.homeBlogs[4].name}}</p>
            <h3 class="text-center m-0 mt-3">{{blogsContainer.homeBlogs[4].body}}</h3>
          </div>

        </div>

      </div>
    </div>

    <div class="blog_weekly">

      <div class="header_">
        <div class="line_"></div>
        <p class="m-0 pl-1">أحدث المدونات</p>
      </div>

      <div class="uk-grid-small mt-3" uk-grid>

        <div class="uk-width-expand@l">
          <div>

            <div class="uk-grid-small uk-child-width-1-3@l" uk-grid>

              <div *ngFor="let item of blogsContainer.latestBlogs |slice:0:blogsContainer.latestBlogs.length -1">
                <div>

                  <div class="card_blog_">
                    <div class="bg_">
                      <img class="img_" [src]="item.image.path" alt="">

                      <div class="black_screen">
                        <div class="content_ px-3">
                          <h3 class="m-0">جديد</h3>
                          <p class="m-0 header_ mb-1">{{item.name}}</p>
                          <p class="describtion_">
                            {{item.body}}                          </p>

                          <!--                          <div class="uk-flex">-->

                          <!--                            <p class="option_ m-0">-->
                          <!--                              <span uk-icon="calendar"></span>&nbsp;-->
                          <!--                              <span>July 23, 2021</span>&nbsp;&nbsp;&nbsp;-->
                          <!--                            </p>-->

                          <!--                          </div>-->

                        </div>
                      </div>

                    </div>
                  </div>

                </div>
              </div>

            </div>

          </div>
        </div>

        <div class="uk-width-1-3@l" *ngIf="blogsContainer.latestBlogs[blogsContainer.latestBlogs.length -1]">
          <div>

            <div class="card_big_image">
              <div class="bg_">
                <img class="img_"
                     [src]="blogsContainer.latestBlogs[blogsContainer.latestBlogs.length -1].image.path"
                     alt="">

                <div class="black_screen">
                  <div class="content_ px-3">
                    <h3 class="m-0">جديد</h3>
                    <p
                      class="m-0 header_ mb-1">{{blogsContainer.latestBlogs[blogsContainer.latestBlogs.length - 1].name}}</p>
                    <p class="describtion_">
                      {{blogsContainer.latestBlogs[blogsContainer.latestBlogs.length - 1].body}}                    </p>

                    <!--                    <div class="uk-flex">-->

                    <!--                      <p class="option_ m-0">-->
                    <!--                        <span uk-icon="calendar"></span>&nbsp;-->
                    <!--                        <span>July 23, 2021</span>&nbsp;&nbsp;&nbsp;-->
                    <!--                      </p>-->

                    <!--                    </div>-->

                  </div>
                </div>

              </div>
            </div>

          </div>
        </div>

      </div>

    </div>

  </div>

</section>
