<header class="header"></header>
<section class="content">
  <div class="wrapper">
    <div class="container">
      <div class="card p-4" @fadeHide>
        <div class="overlay" *ngIf="isLoading">
          <div class="h-100 d-flex align-items-center justify-content-center">
            <span uk-spinner></span>
          </div>
        </div>
        <div>
          <h4 class="font-weight-bold">اداره التعليقات</h4>
        </div>
        <div class="comments-table uk-overflow-auto">
          <table class="uk-table uk-table-divider">
            <thead>
            <tr>
              <th class="uk-table-shrink">#</th>
              <th class="uk-table-expand">اسم المعلِق</th>
              <th class="uk-table-expand">التعليق</th>
              <th class="uk-table-expand">العنوان</th>
              <th class="uk-width-small text-center">اختيارات</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let comment of commentsContainer;let i = index;trackBy:admin.trackByFn">
              <td>{{i + 1}}</td>
              <td><a class="text-decoration-none text-primary"
                     [routerLink]="['/user', comment?.owner?._id]">{{comment.owner?.fullName}}</a></td>
              <td>{{comment.body}}</td>
              <td>{{comment.product?.title ? comment.product?.title : '-'}}</td>
              <td class="d-flex align-items-center justify-content-around uk-table-expand">
                <button class="h-success" [disabled]="sendRequest" (click)="approveComment(comment._id)">
                  <i class="far fa-check"></i>
                </button>
                <button class="h-danger" data-toggle="modal" data-target="#rejectComments"
                        (click)="passCommentId(comment._id)">
                  <i class="fal fa-times"></i>
                </button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="pagination d-flex align-items-center justify-content-around mt-2">
          <button class="btn" [disabled]="currentPage === 1" (click)="first()"><i
            class="far fa-1x fa-lg fa-arrow-to-right" aria-hidden="true"></i></button>
          <button class="btn" [disabled]="currentPage === 1" (click)="previous()"><i
            class="far fa-1x fa-lg fa-chevron-right" aria-hidden="true"></i></button>
          <p class="mb-0">{{currentPage}} / {{lastPage}}</p>
          <button class="btn" (click)="next()" [disabled]="currentPage === lastPage"><i
            class="far fa-1x fa-chevron-left" aria-hidden="true"></i></button>
          <button class="btn" [disabled]="currentPage === lastPage" (click)="last()"><i
            class="far fa-1x fa-lg fa-arrow-to-left" aria-hidden="true"></i></button>

        </div>
      </div>
    </div>
  </div>
</section>


<!-- Modal -->
<div class="modal fade" id="rejectComments" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">رفض التعليق</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="deleteComment()" #myForm='ngForm'>
          <div class="form-group">
            <label>اترك السبب</label>
            <textarea [(ngModel)]="deleteCommentInterface.reason" class="form-control" name="leaveMessage" cols="30"
                      rows="10" required></textarea>
          </div>
          <div class="uk-modal-footer uk-text-right uk-padding-remove border-0">
            <button class="uk-button uk-button-primary" [disabled]="sendRequest || myForm.invalid">
              {{sendRequest ? 'انتظر' : 'ارسل'}}
              <i *ngIf="sendRequest" class="fa fa-spinner mx-2" aria-hidden="true"></i>
            </button>
            <button class="uk-button uk-button-default uk-modal-close ml-2" data-dismiss="modal" aria-label="Close" type="button">اغلق</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
