<header class="header"></header>
<div class="content">
  <div class="container">
    <div class="wrapper" @fadeHide>
      <div class="row">
        <!--        right section-->
        <div class="col-lg-6 right-section mb-2">
          <!--          add description-->
          <div class="card mb-1 mt-5">
            <div class="bg_product">
              <img class="cover " src="{{productDetailsContainer?.product?.images[0]?.path}}" alt="">
            </div>
          </div>
          <div class="card p-3 mb-3 mt-3">
            <div class="header">
              <h4 class="header-text font-weight-bold">{{productDetailsContainer?.product?.title}}</h4>
            </div>

            <div class="row mb-2">
              <div class="col-sm-4">
                <a class="font-weight-bold text-dark d-flex align-items-center" style="cursor:pointer;"
                  [routerLink]="['/user', productDetailsContainer?.product?.supplier?._id]">
                  <i class="fa fa-user " aria-hidden="true"></i>
                  <span class="px-2">{{productDetailsContainer?.product?.supplier?.fullName}}</span>
                </a>
              </div>
              <div class="col-sm-4 col-4 ">
                <div class="d-flex align-items-center">
                  <i class="fa fa-map-marker-alt" aria-hidden="true"></i>
                  <span class="px-1 font-weight-bold">{{productDetailsContainer?.product?.city}}</span>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="time">
                  <span class="font-weight-bold">{{timeAgo(productDetailsContainer?.product?.createdAt)}}</span>
                </div>
              </div>
            </div>

            <!--            <div class="row">-->
            <!--              <div class="col-sm-4 col-7 mb-2">-->
            <!--                <div class="distance">-->
            <!--                  <span class="font-weight-bold d-flex">-->
            <!--                    <span class="mx-1">{{productDetailsContainer?.product?.runningKilos | number}}</span>-->
            <!--                    <span>كم</span>-->
            <!--                  </span>-->
            <!--                </div>-->
            <!--              </div>-->
            <!--              <div class="col-sm-4">-->
            <!--                <div class="time">-->
            <!--                  <span class="font-weight-bold">{{timeAgo(productDetailsContainer?.product?.createdAt)}}</span>-->
            <!--                </div>-->
            <!--              </div>-->
            <!--            </div>-->

          </div>

          <!--          add data-->
          <div class="card  mb-3">
            <div class="data d-flex flex-wrap">

              <span class="  item p-3" *ngIf="!isSpare">
                <span class="value ">الوكيل: </span>
                <span class="font-weight-bold ">{{productDetailsContainer?.product?.agent}}</span>
              </span>
              <span class="  item p-3" *ngIf="!isSpare">
                <span class="value ">نوع السيارة: </span>
                <span class="font-weight-bold ">{{productDetailsContainer?.product?.brand.name}}</span>
              </span>
              <span class="  item p-3" *ngIf="!isSpare">
                <span class="value ">الموديل: </span>
                <span class="font-weight-bold ">{{productDetailsContainer?.product?.model.name}}</span>
              </span>

              <span class="  item p-3" *ngIf="!isSpare">
                <span class="value">سنه الصنع: </span>
                <span class=" font-weight-bold">{{productDetailsContainer?.product?.manufacturingYear}}</span>
              </span>
              <span class="  item p-3" *ngIf="!isSpare">
                <span class="value">الكيلومترات: </span>
                <span class=" font-weight-bold">{{productDetailsContainer?.product?.runningKilos}}</span>
              </span>

              <span class="  item p-3" *ngIf="isSpare">
                <span class=" value">سنوات الصنع: </span>
                <span class=" font-weight-bold "
                  *ngFor="let year of productDetailsContainer?.product?.manufacturingYears">
                  {{year + ' '}}</span>
              </span>

              <span class="  item p-3" *ngIf="!isSpare">
                <span class=" value ">نوع المواصفات: </span>
                <span class="font-weight-bold ">{{productDetailsContainer?.product?.typeOfSpecifications}}</span>
              </span>
              <span class="  item p-3" *ngIf="!isSpare">
                <span class=" value ">ناقل الحركه: </span>
                <span class="font-weight-bold ">{{productDetailsContainer?.product?.movementController}}</span>
              </span>

              <span class="  item p-3" *ngIf="!isSpare">
                <span class="value">عدد سرعات ناقل الحركة: </span>
                <span class="font-weight-bold ">{{productDetailsContainer?.product?.speedCount}}</span>
              </span>

              <span class="  item p-3" *ngIf="!isSpare">
                <span class=" value">اللون: </span>
                <span class="font-weight-bold">{{productDetailsContainer?.product?.color}}</span>
              </span>
              <span class="  item p-3" *ngIf="!isSpare">
                <span class=" value">هيكل السيارة: </span>
                <span class="font-weight-bold">{{productDetailsContainer?.product?.carBody}}</span>
              </span>

              <span class="  item p-3" *ngIf="!isSpare">
                <span class=" value ">اللون الداخلي: </span>
                <span class="font-weight-bold">{{productDetailsContainer?.product?.innerColor}}</span>
              </span>

              <span class="  item p-3" *ngIf="!isSpare">
                <span class="value">عدد السلندرات: </span>
                <span class="  font-weight-bold">{{productDetailsContainer?.product?.cylinderCount}}</span>
              </span>

              <span class="  item p-3">
                <span class=" value " *ngIf="!isSpare">نوع الوقود: </span>
                <span class="font-weight-bold ">{{productDetailsContainer?.product?.fuelType}}</span>
              </span>

            </div>
          </div>

          <!--          add images-->
          <div class="card  pt-3 mb-3 pb-0">

            <div class=" px-3 images mb-4" uk-grid="masonry: true" uk-lightbox>
              <carousel>
                <slide *ngFor="let img of productDetailsContainer?.product?.images">
                  <div class="uk-card uk-flex uk-flex-center uk-flex-middle">
                    <a [href]="img?.path" style="display: block; width: 100%;">
                      <div class="bg_slide_">
                        <img [src]="img?.path" alt="image">
                      </div>
                    </a>
                  </div>
                </slide>

              </carousel>


            </div>

            <div class="add-description mb-3 px-3">
              <p class="text">
                {{productDetailsContainer?.product?.text}}
              </p>
            </div>

            <div class="contact overflow-hidden">

              <div class="row no-gutters flex-lg-nowrap">

                <div class="col-3 icon text-decoration-none" (click)="openNewChat()" *ngIf="auth?.isLoggedIn()">
                  <div class="d-flex justify-content-center align-items-center py-3">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                  </div>
                </div>

                <div class="col-3 icon text-decoration-none" (click)="toggleLove()" *ngIf="auth?.isLoggedIn()">
                  <div class="d-flex justify-content-center align-items-center py-3">
                    <i [ngClass]="likeAdv ? 'text-danger' : 'text-white'"
                      [class.text-danger]="productDetailsContainer?.product?.isFavorited" class="fa fa-heart"
                      aria-hidden="true"></i>
                  </div>
                </div>

                <a class="col-3 icon text-decoration-none" href="https://twitter.com/" target="_blank">
                  <div class="d-flex justify-content-center align-items-center py-3">
                    <i class="fab fa-twitter" aria-hidden="true"></i>
                  </div>
                </a>

                <a class="col-3 icon text-decoration-none"
                   (click)="showWhatsapp()"

                  target="_blank">
                  <div class="d-flex justify-content-center align-items-center py-3">
                    <i class="fab fa-whatsapp" aria-hidden="true"></i>
                  </div>
                </a>

                <div class="col-sm-2 icon text-decoration-none" hidden>
                  <div class="d-flex justify-content-center align-items-center py-3">
                    <i class="fa fa-flag" aria-hidden="true"></i>
                  </div>

                </div>
              </div>


            </div>

          </div>

          <!-- add a reply  -->
          <div class="card p-3 mb-3" *ngIf="auth?.isLoggedIn()">
            <div class="header">
              <h4 class="header-text font-weight-bold">اضف رد</h4>
            </div>

            <form class="form-group" (ngSubmit)="addCommentToProduct(comment)" #comment='ngForm'>
              <textarea name="comment" [(ngModel)]="addComment.body" class="form-control mb-3" rows="4"></textarea>
              <button class="btn btn-primary" type="submit" [disabled]="sendCommentVar">
                إرسال
                <i *ngIf="sendCommentVar" class="fa fa-spinner fa-spin text-light mx-2" aria-hidden="true"></i>
              </button>
            </form>
          </div>


          <!--  Ad comments   -->

          <div class="uk-card card mb-3" *ngFor="let comment of productDetailsContainer?.product?.comments">
            <div class="uk-card-header">
              <div class="uk-grid-small uk-flex-middle" uk-grid>
                <div class="uk-width-auto">
                  <img *ngIf="comment?.owner?.profilePicture?.path" class="uk-border-circle" width="40" height="40"
                    [src]="comment?.owner?.profilePicture?.path">
                  <img *ngIf="!comment?.owner?.profilePicture?.path" class="uk-border-circle" width="40" height="40"
                    src="assets/user.png">
                </div>
                <div class="uk-width-expand">
                  <h5 class="uk-card-title uk-margin-remove-bottom font-weight-bold">{{comment?.owner?.fullName}}</h5>
                  <p class="uk-text-meta uk-margin-remove-top">
                    <time>{{timeAgo(comment?.createdAt)}}</time>
                  </p>
                </div>
              </div>
            </div>
            <div class="uk-card-body pt-1">
              <p>
                {{comment?.body}}
              </p>
            </div>
            <!--              <div class="uk-card-footer">-->
            <!--                <a href="#" class="uk-button uk-button-text">Read more</a>-->
            <!--              </div>-->
          </div>

        </div>
        <!--        left section - Similar-->
        <div class="col-lg-6 left-section">
          <div>
            <div class="card p-3 mb-3">
              <h5 class="header-text font-weight-bold price">
                السعر: {{productDetailsContainer?.product?.price | currency: ' ': 'code'}} <span>ر.س</span>
              </h5>

            </div>
          </div>
          <a class="card p-3 mb-3 phone" (click)="showNumer()"
            >
            <span>
              <i class="fa fa-phone ng-tns-c57-0"></i>
              {{number}}</span>
            <span *ngIf="number === '05x xxx xxxx'">أظهر الرقم</span>
          </a>
          <div class="card p-3 mb-3">
            <h4>سلامتك تهمنا</h4>
            <ol>
              <li>لأن سلامتك تهمنا نبغي تكون دائماً بأمان وأنت مع البائع</li>
              <li>قابل البائع بمكان عام لتكون أكثر أمان مثل المولات أو محطات البنزين</li>
              <li>اجعل معك مرافق وأنت بالطريق</li>
              <li>افحص السيارة زين وتأكد أن أن سعره مناسب وما تدفع أي شئ إلا في حالة التأكد التام من المنتج</li>
            </ol>
          </div>
          <div>
            <div class="card p-3">
              <div class="header">
                <h4 class="header-text font-weight-bold">إعلانات مشابهه</h4>
              </div>

              <!--            add -->
              <div [routerLink]="['/products', adv._id, adv?.title.split(' ').join('-')]"
                *ngFor="let adv of productDetailsContainer?.similarProducts"
                class="ad d-flex align-items-center justify-content-start p-2 mb-2">
                <div class="text pr-3">

                  <div class="description">
                    <h6 class="text mb-md-3">{{adv?.title}}</h6>
                  </div>

                  <div class="footer d-flex align-items-center flex-wrap justify-content-between">

                    <div class="price d-flex">
                      <span class="font-weight-bold">{{adv?.price | currency: ' ':'code'}} </span>
                      <span class="ml-1"> ر.س </span>
                    </div>

                    <div class="location d-flex align-items-center">
                      <i class="fa fa-map-marker-alt" aria-hidden="true"></i>
                      <span class="px-1">{{adv?.city}}</span>
                    </div>

                    <div class="time">
                      <span>{{timeAgo(adv?.createdAt)}}</span>
                    </div>

                  </div>
                </div>
                <div class="ad-image mr-1" [ngStyle]="{'background-image': 'url(' + adv?.image + ')'}"></div>
              </div>

              <div class="alert alert-primary" role="alert"
                *ngIf="productDetailsContainer?.similarProducts?.length <= 0">
                <strong>لا يوجد اعلانات مشابهه</strong>
              </div>

            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <!-- loader part  -->
  <div class="preloader">
    <div class="loader-img">
      <img src="assets/loader.svg" alt="loader">
    </div>
  </div>
</div>
