@import "../../../../../assets/variables";

.bg_product {
  border-radius: 15px;
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 450px;
}

.bg_product .cover {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover !important;
}

.content {
  position: relative;

  .wrapper {
    margin-top: 12%;

    .left-section {
      .phone {
        display: flex;
        flex-direction: row;
        cursor: pointer;

        span:nth-child(1) {
          margin-left: 16px;
        }

        i {
          margin-left: 16px;
        }

        span:nth-child(2):hover {
          text-decoration: underline;
        }
      }

      .ad {
        cursor: pointer;
        background-color: rgba(black, 0.03);
        box-shadow: 0 3px 6px rgba(black, 0.1);
        transition: 0.2s transform;

        .ad-image {
          height: 80px;
          width: 30%;
          background-position: center center;
          background-repeat: no-repeat;
          background-size: cover;
          box-shadow: 0 3px 6px rgba(black, 0.1);
        }

        .text {
          width: 80%;

          .description {
            .text {
              font-size: 0.9em;
              font-weight: 600;
            }
          }

          .footer {
            color: rgba(black, 0.8);
            font-size: 0.8em;

            .price {
              font-weight: 600;
            }
          }
        }

        &:hover {
          background-color: rgba(black, 0.05);
        }

        &:active {
          transform: scale(0.95);
        }
      }
    }

    .right-section {
      .data {
        .item {
          flex: 0 0 33.33%;
        }
      }
      .cover {
        width: 100%;
        height: 500px;
        object-fit: contain;
      }
      .images {
        carousel {
          width: 100%;

          ::ng-deep {
            .carousel-control-prev-icon,
            .carousel-control-next-icon {
              width: 50px;
              height: 50px;
              outline: black;
              background-size: 100%, 100%;
              border-radius: 50%;
              background-image: none;
            }

            .carousel-control-next-icon:after {
              content: "";
              width: 50px;
              height: 50px;
              display: inline-flex;
              background-size: cover;
              background-image: url("../../../../../assets/images/right-arrow.png");
            }

            .carousel-control-prev-icon:after {
              content: "";
              width: 50px;
              height: 50px;
              display: inline-flex;
              background-image: url("../../../../../assets/images/left-arrow.png");
              background-size: cover;
            }
          }
        }

        img {
          box-shadow: 0 3px 6px rgba(black, 0.2);
        }
      }

      .contact {
        .phone {
          font-size: 0.8em;
          color: white;
          background-color: $secondary-color;

          a {
            color: white;
          }
        }

        .icon {
          background-color: rgba($main-color, 0.8);
          cursor: pointer;

          i {
            font-size: 1.2em;
            color: white;
          }

          &:hover {
            background-color: rgba($main-color, 1);
          }

          &:active {
            i {
              transform: scale(0.9);
            }
          }
        }
      }

      form {
        textarea {
          background-color: rgba(black, 0.02);
          border: none;
          font-weight: 700;

          &:focus {
            box-shadow: none;
          }
        }

        .btn {
          background-color: $main-color;
          border: none;
          border-radius: 0;
          padding: 0.5rem 1rem;
          font-weight: bold;

          &:focus {
            box-shadow: none;
          }

          &:active {
            transform: scale(0.95);
          }
        }
      }
    }
  }
}

.value {
  font-weight: 600 !important;
}

@media only screen and (max-width: 400px) {
  .ad {
    .ad-image {
      height: 60px !important;
    }

    .footer {
      font-size: 0.6em !important;
    }
  }

  .data {
    > span {
      font-size: 0.8em;
    }
  }
}

.bg_slide_ {
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden;
}

.bg_slide_ img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}