<section class="my-articles pt-3">
  <div class="blog-container">
    <div class="card p-4 mb-3">
      <header class="d-flex align-items-center justify-content-between">
        <h2 class="header-text">{{typeName || 'اسم القسم'}}</h2>
        <div *ngIf="loading">
          <span class="mr-3" uk-spinner></span>
          <span>يتم التحميل</span>
        </div>
      </header>
    </div>
    <!--    Articles-->
    <div class="card p-4 mb-3" *ngFor="let article of articles" @fadeIn>
      <article class="uk-card uk-grid-collapse uk-child-width-1-2@s" uk-grid>
        <div class="uk-card-media-left uk-cover-container" [ngStyle]="{'background-image': 'url(assets/images/01.jpg)'}">
        </div>
        <div>
          <div class="uk-card-body">
            <h3 class="uk-card-title font-weight-bold">{{article?.name}}</h3>
            <p class="uk-text-muted">{{article?.body}}</p>
            <div class="actions d-flex align-items-center flex-wrap">
              <button class="uk-button main-color mr-3 mb-2" [routerLink]="['/blog/articles/', article?._id]">
                <span>اكمل القراءة</span>
                <i class="far fa-arrow-left ml-2" aria-hidden="true"></i>
              </button>
            </div>
          </div>
        </div>
      </article>
    </div>
  </div>
</section>
