
<section class="content" @scaleIn>
  <div class="chat-box">
    <div class="overlay" *ngIf="loading">
      <div class="h-100 d-flex align-items-center justify-content-center">
        <span uk-spinner></span>
      </div>
    </div>
    <div class="upper-box">
      <div class="box-left">
        <div class="user-img">
          <img class="img" [src]="profile?.profileContainer?.user?._id === messagesContainer?.userOne?._id ? messagesContainer?.userTwo?.profilePicture : messagesContainer?.userOne?.profilePicture" alt="user-image" [routerLink]="['/user', profile?.profileContainer?.user?._id === messagesContainer?.userOne?._id ? messagesContainer?.userTwo?._id : messagesContainer?.userOne?._id]" style="cursor: pointer">
        </div>
        <div class="user-name-online">
          <div class="u-name">
            <span class="u-n" [routerLink]="['/user', profile?.profileContainer?.user?._id === messagesContainer?.userOne?._id ? messagesContainer?.userTwo?._id : messagesContainer?.userOne?._id]" style="cursor: pointer">{{profile?.profileContainer?.user?._id === messagesContainer?.userOne?._id ? messagesContainer?.userTwo?.fullName : messagesContainer?.userOne?.fullName | titlecase}}</span>
          </div>
        </div>
      </div>
      <div class="box-right" hidden>
        <div class="user-info">
          <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
        </div>
      </div>
    </div>
    <div class="middle-box">
      <div class="user-friend" *ngFor="let message of messagesContainer?.messages;trackBy: socket?.trackByFn" [ngClass]="profile?.profileContainer?.user?._id === message?.from?._id ? 'current-user' : 'user-friend'">
        <div class="current-details">
          <span class="name-of-user mr-2">{{message?.from?.fullName | titlecase}}</span>
          <span class="date-of-message">{{message?.createdAt | date}}</span>
        </div>
        <div class="current-message">
          <span class="message-text">{{message?.text}}</span>
          <div class="current-time"><span><i class="fas fa-check"></i><span class="ml-2">{{message?.createdAt | date:'shortTime'}}</span></span></div>
        </div>
      </div>
    </div>
    <div class="lower-box">
      <form class="chat-sender" (ngSubmit)="sendMessage()">
        <div class="chat-input">
          <input type="text" required [(ngModel)]="messageText"  autocomplete="off"  name="currentMessage" class="chat-form-control font-weight-bold" placeholder="ادخل رسالتك ...">
          <button class="send-icon" [disabled]="messageText.trim().length <= 0">
            <i class="far fa-paper-plane" [class.fill]="messageText.trim().length > 0"></i>
          </button>
        </div>
      </form>
    </div>
  </div>
</section>
