@import "../../../../../assets/variables";

.content {
  .chat-box {
    background-color: #fff;
    padding: 1rem;
    box-shadow: $shadow;
    position: relative;
    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      background-color: white;
      height: 100%;
      width: 100%;
    }

    .upper-box {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid $semiGray;
      padding: 0.6rem 0rem;
      margin-bottom: 0.6rem;

      .box-left {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .user-img {
          img {
            // display: flex;
            // align-items: center;
            // justify-content: center;
            // width: 50px;
            // height: 50px;
            // border-radius: 50%;
            // box-shadow: $shadow;
            // margin-right: 0.5rem;
          }
        }

        .user-name-online {
          .u-name {
            display: flex;
            align-items: center;

            .u-n {
              color: $semiGray;
              margin-right: 0.5rem;
            }
          }

          .u-status {
            .user-status {
              color: $main-color !important;
            }
          }
        }
      }

      .box-right {
        .user-info {
          color: $main-color;
          display: flex;
          align-items: center;
          justify-content: center;
          height: 40px;
          width: 40px;
          border-radius: 50%;

          &:hover {
            cursor: pointer;
            border: 3px solid rgba($main-color, 0.1);
          }
        }
      }
    }

    .middle-box {
      height: 60vh;
      overflow-y: scroll;
      background-color: #fff;
      border-radius: 7px;
      padding: 1rem;
    }

    .lower-box {
      margin-top: 0.7rem;

      .chat-sender {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .upload-file {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 40px;
          width: 40px;
          border-radius: 50%;
          background-color: rgba($main-color, 0.1);

          .u-icon {
            color: #fff !important;
          }

          &:hover {
            cursor: pointer;
          }
        }

        .chat-input {
          position: relative;
          width: 100%;

          .chat-form-control {
            width: 100%;
            background-color: rgba($background-color, 1);
            border: none;
            padding: 0.5rem 1rem 0.5rem 3rem;
            color: black;
            font-weight: 600;
            border-radius: 20px;
            outline: none;
            &::placeholder {
              color: rgba(black, 0.2);
            }
          }

          .send-icon {
            background-color: transparent;
            border: none;
            position: absolute;
            top: 25%;
            left: 2%;
            color: $semiGray;
            outline: none;
            transform: scale(1);
            transition: 0.2s;

            &:not(:disabled) {
              &:active {
                transform: scale(0.7);
              }
            }
          }
        }

        .voice-recorder {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 40px;
          width: 40px;
          border-radius: 50%;
          background-color: rgba($main-color, 0.1);

          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }
}

.fill {
  color: $main-color;
}

@media only screen and (max-width: 520px) {
  .content {
    .chat-box {
      .lower-box {
        .chat-sender {
          .chat-input {
          }
        }
      }
    }
  }
}

.mark-icon {
  color: $main-color;
  margin-right: 0.5rem;
}

.user-friend {
  text-align: left;

  .current-details {
    text-align: left !important;

    .name-of-user {
      color: $semiGray;
    }

    .date-of-message {
      color: $semiGray;
    }
  }

  .current-message {
    background-color: rgba(black, 0.06);
    padding: 0.8rem 0.8rem 0.5rem 0.8rem;
    border-top-right-radius: 9px;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
    display: inline-block;
    width: auto;
    margin: 0.5rem 0rem;

    .message-text {
      color: #000;
    }

    .current-time {
      display: flex;
      align-items: center;
      color: $semiGray;

      .check-icon {
        display: none;
      }
    }
  }
}

.current-user {
  text-align: right;

  .current-details {
    text-align: right !important;

    .name-of-user {
      color: $semiGray;
    }

    .date-of-message {
      color: $semiGray;
    }
  }

  .current-message {
    margin: 0.5rem 0rem;
    background-color: rgba($main-color, 0.7);
    padding: 0.8rem 0.8rem 0.5rem 0.8rem;
    border-top-left-radius: 9px;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
    display: inline-block;
    width: auto;

    .message-text {
      color: #fff;
    }

    .current-time {
      display: flex;
      align-items: center;
      color: rgba(#fff, 0.7);

      .check-icon {
        color: $semiGray;
        margin: 0.3rem;
      }
    }
  }
}

.user-img {
  border-radius: 50%;
  position: relative !important;
  width: 50px !important;
  height: 50px !important;
  overflow: hidden !important;
}

.user-img .img {
  position: absolute !important;
  width: 100% !important;
  height: 100% !important;
  object-fit: cover !important;
}
