<header class="header"></header>

<ng-container *ngIf="true">

  <div class="content premium">
    <div class="container">
      <div class="wrapper" @fadeHide>

        <!--      row -->

        <div class="row mt-5 pt-5">

          <!--        Right Section -->
          <div class="col-lg-3">
            <div class="card user-card mb-3">
              <div class="card-content flex-md-column flex-column">

                <div class="logo d-flex p-4 align-items-center justify-content-center">
                  <div class="image " *ngIf="userProfileContainer?.user?.profilePicture"
                    [ngStyle]="{'background-image': 'url('+userProfileContainer?.user?.profilePicture+')'}">
                  </div>
                  <div class="image " *ngIf="!userProfileContainer?.user?.profilePicture"
                    [ngStyle]="{'background-image': 'url(assets/user.png)'}">
                  </div>
                </div>

                <div class="info px-3 pt-0 pb-3">
                  <!--                  name -->
                  <div class="name">
                    <h4 class="text text-center" [class.verified]="false">
                      {{userProfileContainer.user?.fullName}}
                      <span *ngIf="userProfileContainer?.user?.subscribed">
                        <i class="fa fa-check"></i>
                      </span>
                    </h4>
                  </div>

                  <!--                  rate -->
                  <div class="rate mb-2" hidden>
                    <div class="d-flex align-items-center align-items-center justify-content-center">
                      <i class="fa fa-star px-1"
                        [ngClass]="userProfileContainer.user?.userRate >= 1 ? 'star-on' : 'star-off'"
                        aria-hidden="true"></i>
                      <i class="fa fa-star px-1"
                        [ngClass]="userProfileContainer.user?.userRate >= 2 ? 'star-on' : 'star-off'"
                        aria-hidden="true"></i>
                      <i class="fa fa-star px-1"
                        [ngClass]="userProfileContainer.user?.userRate >= 3 ? 'star-on' : 'star-off'"
                        aria-hidden="true"></i>
                      <i class="fa fa-star px-1"
                        [ngClass]="userProfileContainer.user?.userRate >= 4 ? 'star-on' : 'star-off'"
                        aria-hidden="true"></i>
                      <i class="fa fa-star px-1"
                        [ngClass]="userProfileContainer.user?.userRate >= 4 && userProfileContainer.user?.userRate === 5 ? 'star-on' : 'star-off'"
                        aria-hidden="true"></i>
                      <span class="rate-count mx-1">{{userProfileContainer.user?.userRate ?
                        userProfileContainer.user?.userRate : '0.0'}}</span>
                    </div>
                  </div>

                  <div class="user-since mb-2">
                    <p class="uk-margin-remove text text-center"> عضو
                      منذ
                      {{(userProfileContainer.user?.subscription?.createdAt || userProfileContainer?.user?.createdAt |
                      date:'shortDate')}}
                    </p>
                  </div>

                  <div class="location mb-2" *ngIf="userProfileContainer?.user?.subscribed">
                    <div class="d-flex align-items-center justify-content-center">
                      <i class="fa fa-map-marker-alt" aria-hidden="true"></i>
                      <span class="pl-2">{{userProfileContainer?.user?.city}}</span>
                    </div>
                  </div>

                  <div class="contact-info mb-3" *ngIf="userProfileContainer?.user?.subscribed">
                    <!--   phone-->
                    <div class="d-flex align-items-start justify-content-center mb-1">
                      <i class="fa fa-phone mr-1 card" aria-hidden="true"></i>
                      <a class="value flex-grow card text-right"
                        href="tel:{{userProfileContainer.user?.phone}}">{{userProfileContainer.user?.phone}}</a>
                    </div>

                    <!--   Email-->
                    <div class="d-flex align-items-start justify-content-center mb-1">
                      <i class="fa fa-envelope mr-1" aria-hidden="true"></i>
                      <a class="value flex-grow card text-right" [href]="'mailto:'+ userProfileContainer.user?.email"
                        [title]="userProfileContainer.user?.email">..{{userProfileContainer.user?.email |
                        slice:0:10}}</a>
                    </div>

                    <!--   Website-->
                    <div class="d-flex align-items-start justify-content-center mb-1">
                      <i class="fa fa-globe mr-1" aria-hidden="true"></i>
                      <a class="value flex-grow card text-right " href="https://google.com"
                        target="_blank">makkah-cars.com</a>
                    </div>

                  </div>

                  <div class="uk-hr" *ngIf="userProfileContainer?.user?.subscribed"></div>

                  <div class="business-hours pl-lg-3 mb-2" hidden *ngIf="userProfileContainer?.user?.subscribed">
                    <div class="header">
                      <h6 class="text font-weight-bold">ساعات العمل:</h6>
                    </div>
                    <div class="hours">

                      <div class="d-flex align-items-center justify-content-around mb-2">
                        <p class="uk-margin-remove">من</p>
                        <p class="uk-margin-remove">8 صباحا</p>
                        <p class="uk-margin-remove">حتي</p>
                        <p class="uk-margin-remove"> 1 مساءا</p>
                      </div>

                      <div class="d-flex align-items-center justify-content-around">
                        <p class="uk-margin-remove">من</p>
                        <p class="uk-margin-remove">8 صباحا</p>
                        <p class="uk-margin-remove">حتي</p>
                        <p class="uk-margin-remove"> 1 مساءا</p>
                      </div>

                    </div>
                  </div>

                  <div class="uk-hr" *ngIf="userProfileContainer?.user?.subscribed" hidden></div>

                  <div class="actions" *ngIf="!userProfileContainer?.user?.owner">
                    <div class="d-flex align-items-center justify-content-center justify-content-lg-around mb-2">
                      <a class="btn font-weight-bold mr-1" (click)="openNewChat()"
                        *ngIf="profile.profileContainer?.user?._id !== userId"><i class="fa fa-paper-plane"
                          aria-hidden="true"></i> مراسلة
                      </a>
                      <a class="btn font-weight-bold ml-1" hidden><i class="fa fa-plus" aria-hidden="true"></i> متابعة
                      </a>
                    </div>

                    <div class="d-flex align-items-center justify-content-center flex-lg-column">
                      <a class="btn font-weight-bold mb-2 mr-1 mr-lg-0" hidden><i class="fa fa-star"
                          aria-hidden="true"></i>
                        إضافة تقييم </a>
                      <a class="btn font-weight-bold mb-2 ml-1 ml-lg-0" hidden><i class="fa fa-flag"
                          aria-hidden="true"></i>
                        ابلاغ عن محتوي </a>
                    </div>

                  </div>


                </div>

              </div>
            </div>
          </div>

          <!--        Left Section-->
          <div class="col-lg-9">

            <!--          About Us -->
            <div class="card about-card mb-3" *ngIf="userProfileContainer.user?.subscribed">
              <div class="card-content p-4">
                <div class="row">
                  <div class="col-lg-6">
                    <div class="about">
                      <div class="header">
                        <h5 class="text font-weight-bold">من نحن</h5>
                        <p class="des pr-3">
                          هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على
                          الشكل الخارجي للنص أو شكل توضع الفقرات في الصفحة التي يقرأها. ولذلك يتم استخدام طريقة لوريم
                          إيبسوم لأنها تعطي توزيعاَ طبيعياَ -إلى حد ما- للأحرف عوضاً عن استخدام "هنا يوجد محتوى نصي، هنا
                          يوجد محتوى نصي" فتجعلها تبدو (أي الأحرف) وكأنها نص مقروء. العديد من برامح النشر المكتبي
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6 self-stretch d-flex align-items-center services">
                    <div class="pl-lg-4">
                      <div class="header">
                        <h5 class="text font-weight-bold">خدماتنا</h5>
                      </div>
                      <ul class="pl-3">
                        <li>بيع وشراء السيارات المستخدمة</li>
                        <li>بيع وشراء السيارات المستخدمة</li>
                        <li>بيع وشراء السيارات المستخدمة</li>
                      </ul>
                    </div>
                  </div>
                </div>


              </div>
            </div>

            <!--            My advertisement -->

            <div class="card p-3">
              <div class="header mb-2">
                <h5 class="text font-weight-bold">{{userProfileContainer?.user?.owner ? 'إعلاناتي' : 'الإعلانات'}}</h5>
              </div>

              <div class="row xxxxx">

                <app-advertisment-card [ngClass]="{'col-xl-4':view === 'grid', 'w-100':view === 'list'}" class="mt-2"
                  style="margin-bottom: 9rem!important;" [grid]="view === 'grid' "
                  *ngFor="let advertisement of userProfileContainer.products" [searchData]="advertisement">
                </app-advertisment-card>

              </div>


              <div class="alert alert-primary mt-3"
                *ngIf="userProfileContainer.products?.length === 0 && userProfileContainer?.user?.owner">
                <span><i class="fa fa-info-circle mx-2" aria-hidden="true"></i> لم تقم بإضافة اعلانات حتي الآن ، <a
                    class="text-decoration-none" routerLink="/admin/new-advertisement"><b>اضغط هنا لإضافة إعلان
                      جديد</b></a></span>
              </div>

              <div class="alert alert-primary mt-3"
                *ngIf="userProfileContainer.products?.length === 0 && !userProfileContainer?.user?.owner">
                <span><i class="fa fa-info-circle mx-2" aria-hidden="true"></i>هذا المستخدم ليس لدية أي إعلانات</span>
              </div>
            </div>


          </div>

        </div>

      </div>
    </div>
    <!-- loader part  -->
    <div class="preloader">
      <div class="loader-img">
        <img src="assets/loader.svg" alt="loader">
      </div>
    </div>
  </div>

</ng-container>