<section class="new-article pt-3">
  <form class="blog-container" #newArticleForm="ngForm" (ngSubmit)="addNewArticle(newArticleForm)">
    <div class="card p-4 mb-3">
      <h2 class="header">إنشاء مقالة جديدة</h2>
    </div>
    <div class="card p-4">
      <div class="form-group">
        <label class="header" for="article-title"> عنوان المقالة <sup class="text-danger">*</sup> </label>
        <input class="form-control" type="text" name="article_title" id="article-title" [(ngModel)]="newArticle.name"
               placeholder="ادخل عنوان المقالة.." required>
      </div>
      <hr>
      <div class="form-group">
        <label for="article-desc">نص المقالة <sup class="text-danger">*</sup> </label>
        <textarea class="form-control"
                  rows="6"
                  name="article_desc"
                  id="article-desc"
                  [(ngModel)]="newArticle.body"
                  placeholder="ادخل نص المقالة.."
                  required></textarea>
      </div>
      <hr>
      <div class="form-group">
        <p>ارفاق الي <sup class="text-danger">*</sup></p>
        <select class="custom-select" name="tags" required [(ngModel)]="newArticle.type">
          <option selected value="">اختر ...</option>
          <option *ngFor="let cat of subCategoryList | async" [value]="cat?._id">{{cat?.name}}</option>
        </select>
      </div>
      <hr>

      <!--TAGS PART-->

      <div class="form-group">
        <!--        <p>ارفاق الي <sup class="text-danger">*</sup></p>-->
        <p>الوسوم</p>
        <div class="input-tag-con">
          <input type="text" class="form-control " [(ngModel)]="tagInput" [ngModelOptions]="{standalone: true}">
          <button class="uk-button main-color" type="button" (click)="addTag()">اضف</button>
        </div>
        <div class="tags flex-wrap d-flex align-items-center">

          <ng-container *ngFor="let tag of tagsContainer; index as i">
            <span class="tag" [class.selected]="tag?.selected" (click)="selectTag(i)">#{{tag?.name}}</span>
          </ng-container>
        </div>
      </div>

      <hr>
      <div class="form-group">
        <p>إرفاق صوره</p>
        <label class="drag-area d-flex flex-column align-items-center justify-content-center"
               disabled
               for="images">

          <div class="mini-loader" *ngIf="loading">
            <div class="icon d-flex align-items-center justify-content-center">
              <div uk-spinner></div>
            </div>
          </div>

          <i class="fa fa-cloud-upload-alt" aria-hidden="true"></i>
          <p>أنقر للاختيار يدويا</p>
          <input type="file" id="images"
                 (change)="uploadImage($event)"
                 name="images"
                 accept="image/*"
                 ngModel
                 class="d-none">
        </label>
      </div>
      <div class="images" *ngIf="uploadedImage.path.length > 0">
        <div class="row" uk-lightbox="animation: slide">
          <div class="col-md-4 mb-3">
            <button (click)="$event.stopPropagation(); deleteImage()" *ngIf="uploadedImage.path.length > 0"
                    style="z-index: 2" type="button"
                    class="uk-position-top-right delete-btn btn-danger btn">
              <i class="far fa-times" aria-hidden="true"></i>
            </button>
            <a [href]="uploadedImage?.path" class="img-link" style="position: relative">
              <img [src]="uploadedImage?.path" alt="image preview" class="img-fluid">
            </a>
          </div>
        </div>
      </div>
      <div class="submit mt-3">
        <button class="btn btn-submit" type="submit"
                [disabled]="newArticleForm.invalid || submitting || uploadedImage.path.length <= 0"><i
          class="fa fa-spinner fa-spin mr-2"  aria-hidden="true" *ngIf="submitting"></i> تأكيد
        </button>
      </div>
    </div>
  </form>
</section>
