.new-article {
  margin-top: 7%;
}

.input-tag-con {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: fit-content;
  margin-bottom: 1rem;

  input {
    width: 80%;
    height: 35px;
    border: 1px solid #ced4da;
    padding: 1rem !important;
    margin-left: 1rem;
  }
}
