@import "../../../../../assets/variables";

.content {
  background-color: $background-color;
  position: relative;
}

.cover {
  height: 75vh;
  background-image: url("../../../../../assets/images/cover.jpg");
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  @media screen and (max-width: 570px) {
    background-position: center;
  }
  @media screen and (max-width: 400px) {
    align-items: center;
  }
  h3 {
    color: white;
    width: 50%;
    text-align: center;
    font-size: 30px;
    line-height: 1.47;
    @media screen and (max-width: 768px) {
      font-size: 40px;
    }
    @media screen and (max-width: 570px) {
      font-size: 20px;
    }
    @media screen and (max-width: 400px) {
      font-size: 18px;
    }
  }
}

.wrapper {
  z-index: 1;
  margin-top: 10%;
  @media screen and (max-width: 570px) {
    margin-top: 15%;
  }

  &.expand {
    margin-top: 20%;
    @media screen and (max-width: 768px) {
      margin-top: 35%;
    }
    @media screen and (max-width: 570px) {
      margin-top: 85%;
    }
    @media screen and (max-width: 400px) {
      margin-top: 285%;
    }
    @media screen and (max-width: 321px) {
      margin-top: 310%;
    }
  }

  .mid-sec {
    z-index: 5;
    margin-top: 5vh;
    @media screen and (max-width: 356px) {
      padding-bottom: 2%;
      overflow: hidden;
    }

    .col {
      background-color: white;
      z-index: 5;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }

    button {
      border-radius: 6px;
      box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
      background-color: #fdcb74;
      padding: 6px 54px;
      margin-top: 5%;
      color: #313131;
      font-size: 16px;
      float: left;
      margin-right: auto;
      margin-left: 10%;
      border: none;

      a {
        color: #313131;
      }
    }

    img {
      z-index: 5;
      background-color: white;
      width: 50%;
      @media screen and (max-width: 356px) {
        width: 150%;
        max-width: 200%;
      }
    }
  }

  .models {
    flex-wrap: wrap;
    margin: 5% 0;
    padding: 1.5rem;

    h4 {
      width: 100%;
      display: inline-flex;
      align-items: center;
      font-size: 26px;
      font-weight: 500;
      line-height: 1.46;
      color: #2699fb;

      &:before {
        width: 6px;
        height: 40px;
        display: inline-flex;
        content: "";
        background-color: #fdcb74;
        border-bottom-right-radius: 10px;
        border-top-right-radius: 10px;
        margin-left: 12px;
      }
    }

    &.card {
      flex-direction: row;
    }

    .car-model {
      margin: 3% 5%;
      display: inline-flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 15%;
      @media screen and (max-width: 577px) {
        width: 40%;
      }
      @media screen and (max-width: 400px) {
        width: 100%;
      }

      img {
        width: 100%;
      }
    }
  }

  .tire {
    position: fixed;
    bottom: 10vh;
    z-index: 0;

    &.left {
      left: 0;
    }

    &.right {
      right: 0;
    }
  }
}

.description_ {
  background-color: white;
  position: relative;
  border-radius: 5px;
}

.description_ .bg_ {
  position: relative;
  width: 100%;
  height: 303px;
  overflow: hidden;
}

.description_ .bg_ img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.description_ .content_ h3 {
  font-size: 20px;
}

.description_ .content_ button {
  background-color: #fdcb74;
  padding: 8px 20px;
  border: none;
  border-radius: 5px;
}

.description_ .content_ button a {
  color: #313131;
  text-decoration: none;
  font-weight: 700;
}

.full_h {
  height: 100%;
}

.full_center_ {
  position: relative;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}
