<header class="header"></header>
<div class="content mt-5">
  <div class="container">
    <div class="wrapper" @fadeHide>
      <!--      category -->
      <div class="category py-2 mt-2" *ngFor="let home of homeProcutsContainer">
        <app-category-slider [categorySlider]="home" *ngIf="home.products.length !== 0"></app-category-slider>
      </div>
    </div>
  </div>
  <!-- loader part  -->
  <div class="preloader">
    <div class="loader-img">
      <img src="assets/loader.svg" alt="loader">
    </div>
  </div>
</div>
