@import "../../../../../assets/variables";

.search-content {
  position: relative;
  background-color: $background-color;

  .wrapper {
    background-color: white;
    margin-top: 12%;

    .results {
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      background-color: #f8f8f8;

      .filter-row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;

        h3 {
          margin: 1%;
          display: inline-flex;
          color: #2699fb;
          font-size: 18px;

          &:before {
            width: 4px;
            height: 20px;
            display: inline-flex;
            content: "";
            background-color: #fdcb74;
            border-bottom-right-radius: 10px;
            border-top-right-radius: 10px;
            margin-left: 4px;
          }
        }

        .shape-con {
          display: flex;
          align-items: center;

          .form-check {
            display: flex;
            padding: 1rem 1.25rem 1rem 0;

            .form-check-label {
              font-size: 14px;
              padding: 0;
              line-height: 1.5;
              color: #767676;
            }
          }

          .ordering {
            color: #767676;
            display: inline-flex;
            padding: 5px 0;

            .in-line {
              width: 1px;
              margin: 0 6px;
              background-color: #ebebeb;
            }

            .price {
              color: #9b9b9b;
              margin: 0 6px;

              svg {
                width: 16px;
                height: 20px;
                fill: #9b9b9b;

              }

              &.active {
                color: #2699fb;

                svg {
                  fill: #2699fb;
                }
              }
            }
          }

          .line {
            width: 1px;
            height: 60%;
            margin: 0 22px;
            border-radius: 5px;
            background-color: #9b9b9b;
          }
        }

      }
    }

    // search result header
    .search-result {
      padding: 1rem 0rem;
      display: flex;
      align-items: center;

      .result-header {
        font-weight: 600;
        margin-bottom: 0;
      }

      .result-icon {
        padding: 0rem 1rem;
      }

      .result-data {
        font-weight: 600;
        margin-bottom: 0;
      }
    }

  }
}

.pagination {
  padding: 0;

  .btn {
    color: $btn-color;
    box-shadow: none;
    padding: 0.3rem;
    transition: 0.2s;

    &:not(:disabled) {
      &:active {
        transform: scale(0.94);
      }
    }
  }
}


@media only screen and (max-width: 776px) {

  .search-content {
    .wrapper {
      .result-filtiration {
        overflow-x: scroll;

        .form-group {
          label {
            font-size: 14px;
          }
        }

        select, .text-input {
          width: 100px !important;
          display: block;
        }

      }

    }
  }
}


@media only screen and (max-width: 500px) {

  .search-content {
    .wrapper {
      .result-filtiration {
        select {

        }
      }

    }
  }
}
