<div class="search-content">
  <div class="container">
    <div class="wrapper " @fadeHide>
      <div class="container-fluid">
        <div class="row">
          <!--search results filtiration-->
          <app-searchbar [filterData]="search.filterdata" [relative]="true" ></app-searchbar>

          <!--resulted cards-->
          <div class=" mt-3 card results">
            <div class="filter-row">

              <div class="uk-grid-small mt-5" style="width: 100%;" uk-grid>

                <div class="uk-width-1-3@l">
                  <div>
                    <h3>البحث في/ سيات / ابيزا / كل الحالات</h3>
                  </div>
                </div>

                <div class="uk-width-expand">
                  <div>
                    <div class="shape-con">
                      <!--                <div class="form-check">-->
                      <!--                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">-->
                      <!--                  <label class="form-check-label" for="flexCheckDefault">-->
                      <!--                    رتب حسب الاقل كيلوميترات </label>-->
                      <!--                </div>-->
                      <!--                <div class="line"></div>-->
                      <div class="ordering"><span>ترتيب حسب:</span>
                        <span class="price" [class.active]="search.sortOrder === 'desc'"
                          (click)="changeSearch('desc')">الاعلى
                          سعرا</span>
                        <span class="in-line"></span>
                        <span class="price" [class.active]="search.sortOrder === 'asc'" (click)="changeSearch('asc')">
                          الاقل
                          سعرا</span>
                      </div>
                      <div class="line"></div>
                      <div class="ordering">
                        <span>اسلوب العرض:</span>

                        <span class="price" (click)="view = 'grid'" [class.active]="view === 'grid'">
                          <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512"
                            style="enable-background:new 0 0 512 512;" xml:space="preserve">
                            <g>
                              <g>
                                <g>
                                  <path d="M187.628,0H43.707C19.607,0,0,19.607,0,43.707v143.921c0,24.1,19.607,43.707,43.707,43.707h143.921
              c24.1,0,43.707-19.607,43.707-43.707V43.707C231.335,19.607,211.728,0,187.628,0z" />
                                  <path d="M468.293,0H324.372c-24.1,0-43.707,19.607-43.707,43.707v143.921c0,24.1,19.607,43.707,43.707,43.707h143.921
              c24.1,0,43.707-19.607,43.707-43.707V43.707C512,19.607,492.393,0,468.293,0z" />
                                  <path d="M187.628,280.665H43.707C19.607,280.665,0,300.272,0,324.372v143.921C0,492.393,19.607,512,43.707,512h143.921
              c24.1,0,43.707-19.607,43.707-43.707V324.372C231.335,300.272,211.728,280.665,187.628,280.665z" />
                                  <path d="M468.293,280.665H324.372c-24.1,0-43.707,19.607-43.707,43.707v143.921c0,24.1,19.607,43.707,43.707,43.707h143.921
              c24.1,0,43.707-19.607,43.707-43.707V324.372C512,300.272,492.393,280.665,468.293,280.665z" />
                                </g>
                              </g>
                            </g>
                          </svg>

                        </span>
                        <span class="in-line"></span> <span class="price" [class.active]="view === 'grid'"
                          (click)="view = 'grid'">
                          <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="612px" height="612px"
                            viewBox="0 0 612 612" style="enable-background:new 0 0 612 612;" xml:space="preserve">
                            <g>
                              <g id="_x31_0_21_">
                                <g>
                                  <path d="M63.311,73.862C28.342,73.862,0,102.204,0,137.172s28.342,63.311,63.311,63.311c34.968,0,63.31-28.342,63.31-63.311
              S98.279,73.862,63.311,73.862z M63.311,242.689C28.342,242.689,0,271.032,0,306c0,34.969,28.342,63.311,63.311,63.311
              c34.968,0,63.31-28.342,63.31-63.311C126.621,271.032,98.279,242.689,63.311,242.689z M63.311,411.518
              C28.342,411.518,0,439.859,0,474.827c0,34.969,28.342,63.311,63.311,63.311c34.968,0,63.31-28.342,63.31-63.311
              C126.621,439.859,98.279,411.518,63.311,411.518z M232.138,179.379h337.655c23.319,0,42.207-18.888,42.207-42.207
              s-18.888-42.207-42.207-42.207H232.138c-23.319,0-42.207,18.888-42.207,42.207S208.819,179.379,232.138,179.379z
               M569.793,263.793H232.138c-23.319,0-42.207,18.888-42.207,42.207s18.888,42.207,42.207,42.207h337.655
              C593.112,348.207,612,329.319,612,306S593.112,263.793,569.793,263.793z M569.793,432.621H232.138
              c-23.319,0-42.207,18.887-42.207,42.206s18.888,42.207,42.207,42.207h337.655c23.319,0,42.207-18.888,42.207-42.207
              S593.112,432.621,569.793,432.621z" />
                                </g>
                              </g>
                            </g>
                          </svg>

                        </span>
                      </div>
                    </div>
                  </div>
                </div>

              </div>

            </div>

            <app-advertisment-card [ngClass]="{'col-xl-3':view === 'grid', 'w-100':view === 'list'}" class="mt-2"
              style="margin-bottom: 9rem!important;" *ngFor="let search of search.searchContainer;trackBy: trackByFn"
              [grid]="view === 'grid' " [searchData]="search"></app-advertisment-card>

            <div class="alert alert-warning" *ngIf="search.searchContainer.length === 0">
              <span><i class="fa fa-exclamation-triangle mx-2" aria-hidden="true"></i> <span>لا يوجد نتيجه لهذا
                  البحث</span></span>
            </div>
          </div>

          <div class="col-12">
            <div class=" p-4">
              <div class="pagination d-flex align-items-center justify-content-around">
                <button class="btn" [disabled]="currentPage === 1" (click)="first()"><i
                    class="far fa-1x fa-lg fa-arrow-to-right" aria-hidden="true"></i></button>
                <button class="btn" [disabled]="currentPage === 1" (click)="previous()"><i
                    class="far fa-1x fa-lg fa-chevron-right" aria-hidden="true"></i></button>
                <p class="mb-0">{{currentPage}} / {{search.lastPage}}</p>
                <button class="btn" (click)="next()" [disabled]="currentPage === search.lastPage"><i
                    class="far fa-1x fa-chevron-left" aria-hidden="true"></i></button>
                <button class="btn" [disabled]="currentPage === search.lastPage" (click)="last()"><i
                    class="far fa-1x fa-lg fa-arrow-to-left" aria-hidden="true"></i></button>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- loader part  -->
  <div class="preloader">
    <div class="loader-img">
      <img src="assets/loader.svg" alt="loader">
    </div>
  </div>
</div>
