<section class="statistics-content card" @fadeHide>
  <div class="container-fluid">
    <div class="row">
      <!--statistics header-->
      <div class="col-12 mb-3">
        <div class="statistics-header">
          <h5><b>عدد الزيارات للملف الشخصي</b></h5>
        </div>
      </div>
      <!--profile statistics -->
      <div class="col-12 mb-2">
        <div class="row">
          <div class="col-12 col-md-6 col-xl-3 mb-3">
            <div class="stat-card card">
              <div class="card-right">
                <i class="fas fa-user-friends card-icon"></i>
              </div>
              <div class="card-left">
                <div class="card-counter"><span class="counter-span">{{statisticsContainer.views24h}}</span></div>
                <div class="card-timer "><span class="timer-span">اخر 24 ساعه</span></div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-xl-3 mb-3">
            <div class="stat-card card">
              <div class="card-right">
                <i class="fas fa-user-friends card-icon"></i>
              </div>
              <div class="card-left">
                <div class="card-counter"><span class="counter-span">{{statisticsContainer.viewsLastWeek}}</span></div>
                <div class="card-timer "><span class="timer-span">اخر 7 ايام</span></div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-xl-3 mb-3">
            <div class="stat-card card">
              <div class="card-right">
                <i class="fas fa-user-friends card-icon"></i>
              </div>
              <div class="card-left">
                <div class="card-counter"><span class="counter-span">{{statisticsContainer.viewsLastMonth}}</span></div>
                <div class="card-timer "><span class="timer-span">اخر شهر</span></div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-xl-3 mb-3">
            <div class="stat-card card">
              <div class="card-right">
                <i class="fas fa-user-friends card-icon"></i>
              </div>
              <div class="card-left">
                <div class="card-counter"><span class="counter-span">{{statisticsContainer.viewsAllTime}}</span></div>
                <div class="card-timer "><span class="timer-span">كل الوقت</span></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--statistics date-->
      <div class="col-12">
        <form class="statistics-date" (ngSubmit)="searchByDate()" #dateForm="ngForm">
          <div class="date-row-one">
            <span><b>من تاريخ</b></span>
          </div>
          <div class="date-row">
            <span class="date-card card"><input [(ngModel)]="dateSelection.startDate" type="date" class="form-control"
                                                name="dateFrom"> <i class="fa fa-calendar-alt date-icon"
                                                                    aria-hidden="true"></i></span>
          </div>
          <div class="date-row">
            <span><b>إلى تاريخ</b></span>
          </div>
          <div class="date-row">
            <span class="date-card card"><input [(ngModel)]="dateSelection.endDate" type="date" class="form-control"
                                                name="dateTo"> <i class="fa fa-calendar-alt date-icon"
                                                                  aria-hidden="true"></i></span>
          </div>
          <div class="date-row">
            <button class="harag-primary" [disabled]="dateForm.form.invalid === true">عرض</button>
          </div>
        </form>
      </div>
      <!--statistics Chart-->
      <div class="col-12 mt-3">
        <div class="row">
          <div class="col-xl-8 chart-col">
            <div class="statistics-chart card">
              <canvas baseChart
                      [datasets]="data"
                      [labels]="chartlables"
                      [options]="chartoptions"
                      [legend]="chartlegend"
                      [chartType]="charttype"
              >
              </canvas>
            </div>
          </div>
          <div class="col-xl-4 uk-padding-remove mt-3">
            <div class="advertisments">
              <h5><b>الإعلانات الأكثر زيارة</b></h5>
              <div class="adds card mb-2" *ngFor="let adv of statisticsContainer.mostViewed"
                   [routerLink]="['/products', adv?._id, adv?.title.split(' ').join('-')]">
                <div class="adds-right">
                  <div class="adds-caption font-weight-bold"><span>{{adv.title}}</span></div>
                  <div class="visit-number d-flex"><span class="mr-2">{{adv?.price | currency: ' '}}</span>
                    <span>ر.س</span>
                  </div>
                </div>
                <div class="adds-left card" [ngStyle]="{'background-image': 'url('+adv.image+')'}"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- loader part  -->
  <div class="dash-preloader">
    <div class="loader-img">
      <img src="assets/loader.svg" alt="loader">
    </div>
  </div>
</section>

