@import "../../../../../assets/variables";

.statistics-content
{
  padding: 1rem;
  position: relative;
  //statistics-header
  .statistics-header
  {

  }

  //stat-card
  .stat-card
  {
    background-color: $cardColor;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    flex-direction: row;
    .card-right
    {
      background-color: #BBCEF8;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 50px;
      width: 50px;
      border-radius: 50%;
      .card-icon
      {
        color: #4A81FD;
      }

    }
    .card-left
    {
      margin-right: 0.6rem;
      .card-counter
      {
        .counter-span
        {
          font-weight: bolder;
          font-size: 1.4em;
        }
      }
      .card-timer
      {
        .timer-span
        {
          color: $text-muted;
        }
      }
    }
  }

  //statistics-date
  .statistics-date
  {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    .date-row
    {
      margin: 0rem 0.5rem;
      .date-card
      {
        padding: 0.3rem;
        background-color: $cardColor;
        display: flex;
        align-items: center;
        flex-direction: row;
        .date-icon
        {
          color: $text-muted;
          margin-right: 0.2rem;
        }
      }
      .harag-primary
      {
        padding: 0.3rem 1rem !important;
      }
    }
  }

  //statistics-chart
  .statistics-chart
  {

  }


  //advertisments
  .advertisments
  {
    .adds
    {
      display: flex;
      align-items: center;
      background-color: $cardColor;
      flex-direction: row;
      padding: 0.5rem;
      justify-content: space-between;
      .adds-right
      {
        width: 80%;
        .adds-caption
        {
          display: flex;
          flex-wrap: wrap;
        }
        .visit-number
        {
          padding-top: 0.2rem;
        }
      }
      .adds-left
      {
        width: 20%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        height: 50px;
        margin-right: 0.1rem;
      }
      &:hover
      {
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0.05);
      }
    }
  }
}
@media only screen and (max-width: 1200px) {
  .statistics-content
  {
    .statistics-date
    {

      .date-row
      {
        .harag-primary
        {

        }
      }
    }

    .chart-col
    {
    }

    .advertisments
    {
      .adds
      {
        .adds-right
        {

          .adds-caption
          {
          }
        }
        .adds-left
        {
            height: 70px;
        }
      }
    }
  }
}

@media only screen and (max-width: 776px) {
  .statistics-content
  {
    .statistics-date
    {
      justify-content: center;
      .date-row
      {
        .harag-primary
        {
          margin: 0.5rem 0rem;
        }
      }
    }
    .chart-col
    {
      padding: 0;
    }
    .advertisments
    {
      .adds
      {
        .adds-right
        {
          .adds-caption
          {
            font-size: 14px;
          }
          .visit-number
          {
            font-size: 14px;
          }
        }
        .adds-left
        {

        }
      }
    }
  }
}


@media only screen and (max-width: 463px) {
  .statistics-content
  {
    .statistics-date
    {
      justify-content: center;
      flex-direction: column;
      .date-row
      {
        .harag-primary
        {
          margin: 0.5rem 0rem;
        }
      }
    }

    .advertisments
    {
      .adds
      {
        .adds-right
        {
          width: 70%;
        }
        .adds-left
        {
          width: 30%;
        }
      }
    }
  }
}
