@import "../../../assets/variables";

.category-slider {
  padding: 1.5rem;
  flex-direction: row;
  flex-wrap: wrap;

  .header {
    width: 100%;

    h4 {
      display: inline-flex;
      align-items: center;
      font-size: 26px;
      font-weight: 500;
      line-height: 1.46;
      color: #2699fb;

      &:before {
        width: 6px;
        height: 40px;
        display: inline-flex;
        content: "";
        background-color: #fdcb74;
        border-bottom-right-radius: 10px;
        border-top-right-radius: 10px;
        margin-left: 12px;
      }
    }

    .view-all {
      padding: 0.3rem 1.2rem;
      font-weight: bold;
      color: #313131;
      font-size: 16px;
      text-decoration: underline;
    }
  }


  .item {
    width: 22%;
    margin: 1%;
    box-shadow: 0 3px 6px rgba(black, 0.06);
    border-radius: 12px;
    border: solid 1px #ebebeb;
    @media screen and (max-width: 768px) {
      width: 45%;
    }
    @media screen and (max-width: 570px) {
      width: 100%;
    }

    .uk-card {
      cursor: pointer;
      //background-color: rgba(black, 0.01);
      margin: -1px;

      .uk-card-media-top {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        height: 200px;
        background-color: #F0F0F0;
        border-top-right-radius: 12px;
        border-top-left-radius: 12px;

        img {
          height: 100%;
        }
      }

      .uk-card-body {
        padding: 0 3%;

        .uk-row {
          flex-wrap: wrap;
          display: inline-flex;
          flex-direction: row;
          margin-bottom: 2%;

          .uk-item {
            display: inline-flex;
            align-items: center;
            width: 50%;
            font-size: 14px;
            line-height: 1.5;
            color: #9b9b9b;
            margin: 3% 0;

            &:before {
              width: 3px;
              height: 20px;
              display: inline-flex;
              content: "";
              background-color: #2699fb;
              border-bottom-right-radius: 10px;
              border-top-right-radius: 10px;
              margin-left: 4px;
            }

          }
        }
      }

      .price {
        padding: 0 23px 3px 14px;
        background-color: #fdcb74;
        float: left;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 10px;
        color: #313131;

      }

      //
      //&:hover {
      //  background-color: rgba(black, 0.03);
      //}


    }
  }


}

@media screen and (max-width: 600px) {
  .view-all {
    font-size: 0.8em;
    white-space: nowrap;
  }
  .category-name {
    font-size: 1.1em !important;
  }
}
