<div class="card category-slider">
  <div class="header  p-2 d-flex align-items-center justify-content-between">
    <h4 class="font-weight-bold category-name">{{categorySlider?.categoryName}}</h4>
    <!--    [queryParams]="{q: categorySlider.categoryName}"-->
    <a class="view-all " *ngIf="categorySlider?.categoryName && !isRecent"
      [routerLink]="['/category', categorySlider?.categoryID, categorySlider?.categoryName.split(' ').join('-')]">عرض
      الكل</a>
    <a class="view-all " *ngIf="categorySlider?.categoryName && isRecent"
      routerLink="/recent">عرض
      الكل</a>

  <div class="header  p-2 align-items-center">

    <div class="uk-grid-small uk-child-width-1-2@l full_left_" uk-grid>

      <div>
        <div>
          <h4 class="font-weight-bold category-name">{{categorySlider?.categoryName}}</h4>
        </div>
      </div>

      <div>
        <div class="text-right">
          <a class="view-all " *ngIf="categorySlider?.categoryName"
            [routerLink]="['/category', categorySlider?.categoryID, categorySlider?.categoryName.split(' ').join('-')]">عرض
            الكل</a>
        </div>
      </div>

    </div>

  </div>
  <div class="item" [routerLink]="['/products', product?._id, product?.title.split(' ').join('-')]"
    *ngFor="let product of categorySlider?.products">
    <div class="uk-card ">
      <div class="uk-card-media-top" [ngStyle]="{'background-image': 'url('+product?.cover+')'}">
        <!--            <img src="assets/images/01.jpg" alt="">-->
      </div>
      <div class="uk-card-body">
        <p class="description" [title]="product?.title">{{ (product?.title?.length >= 25 ? (product?.title | slice:0:23)
          + '...' : product?.title)}}</p>
        <div class="uk-row">
          <div class="uk-item" tooltip="{{product?.city}}" placement="top">
            {{product?.city?.length > 12 ? (product?.city | slice:0:12) + '...' : product?.city}}
          </div>
          <div class="uk-item">
            <span>km</span>
            <!-- {{product?.runningKilos?.toString()?.length > 6 ? (product?.runningKilos?.toString() | slice:0:7 | number) + '...' : product?.runningKilos | number}} -->
            {{product?.runningKilos?.toString()?.length > 6 ? (product?.runningKilos?.toString() | number) + '...' :
            product?.runningKilos | number}}

          </div>
          <div class="uk-item">
            {{product?.city?.length > 7 ? (product?.city | slice:0:12) + '...' : product?.city}}
          </div>
          <div class="uk-item">
            <span>km</span>
            <!-- {{product?.runningKilos?.toString()?.length > 6 ? (product?.runningKilos?.toString() | slice:0:7 | number) + '...' : product?.runningKilos | number}} -->
            {{product?.runningKilos?.toString()?.length > 6 ? (product?.runningKilos?.toString() | number) + '...' :
            product?.runningKilos | number}}
          </div>
        </div>

      </div> <span class="price font-weight-bold d-inline-flex ml-auto">
        <span class="mx-1" [dir]="'ltr'">{{product?.price | currency: ' ':'code'}}</span>
        <span> ر.س</span>
      </span>

    </div>
  </div>

  <!-- Add Pagination -->
  <!--    <div class="swiper-pagination"></div>-->
  <!-- Add Arrows -->

</div>
