@import "../../../assets/variables";


// resulted cards
.result-cards {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  transition: 0.2s transform;
  border-radius: 12px;
  border: solid 1px #ebebeb;
  background-color: #ffffff;

  &:hover {
    background-color: rgba(black, 0.105);
  }

  &:active {
    transform: scale(0.95);
  }

  .result-right {
    width: 80%;

    .result-right-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      padding-left: 1rem;

      h4 {
        font-size: 18px;
        line-height: 1.5;
        color: #313131;
      }
    }

    .card-price {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-left: 1rem;
    }

    .card-distance {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .distance {
        display: flex;
        align-items: center;
        margin-left: 1rem;
      }

      .card-location {
        margin-left: 1rem;
      }
    }
  }

  .result-left {
    width: 20%;
    height: 15vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}


@media only screen and (max-width: 776px) {
  .result-cards {
    flex-direction: column-reverse;
    align-items: center;

    .result-right {
      width: 100%;
      margin-top: 15px;

      .result-right-header {
        .header4 {
          font-size: 16px;
        }

        .time-span {
          font-size: 14px;
        }
      }

      .card-distance {
        .card-location {
          .location-icon {
            font-size: 14px;
          }

          .location-span {
            font-size: 14px;
          }
        }

        .distance {
          .distance-unit {
            font-size: 14px;
          }

          .distance-usage {
            font-size: 14px;
          }
        }
      }

      .price-span {
        font-size: 14px;
      }

      .card-user {
        .user-icon {
          font-size: 14px;
        }

        .name-span {
          font-size: 14px;
        }
      }

      .card-price {
        margin-left: 0;
      }
    }

    .result-left {
      width: 50%;
      height: 20vh;
    }
  }
}


@media only screen and (max-width: 500px) {
  .result-cards {
    .result-right {
      width: 100%;

      .result-right-header {
        .header4 {
        }
      }
    }

    .result-left {
      width: 80%;
    }
  }
}

.item {
  margin: 0 1%;
  box-shadow: 0 3px 6px rgba(black, 0.06);
  border-radius: 12px;
  border: solid 1px #ebebeb;

  .uk-card {
    cursor: pointer;
    //background-color: rgba(black, 0.01);
    margin: -1px;

    .uk-card-media-top {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      height: 200px;
      background-color: #F0F0F0;
      border-top-right-radius: 12px;
      border-top-left-radius: 12px;

      img {
        height: 100%;
      }
    }

    .uk-card-body {
      padding: 0 3%;

      .flex-row {
        height: 35px;
      }
      .uk-row {
        flex-wrap: wrap;
        display: inline-flex;
        flex-direction: column;
        margin-bottom: 2%;
        width: 100%;

        .uk-item {
          display: inline-flex;
          align-items: center;
          width: 50%;
          font-size: 14px;
          line-height: 1.5;
          color: #9b9b9b;
          margin: 3% 0;

          &:before {
            width: 3px;
            height: 20px;
            display: inline-flex;
            content: "";
            background-color: #2699fb;
            border-bottom-right-radius: 10px;
            border-top-right-radius: 10px;
            margin-left: 4px;
          }

        }
      }
    }

    .price {
      padding: 0 23px 3px 14px;
      background-color: #fdcb74;
      border-top-right-radius: 10px;
      border-bottom-left-radius: 10px;
      color: #313131;
      width: fit-content;
      margin-right: auto;
      display: block;
      height: fit-content;
      margin-top: auto;
      margin-left: -1px;
    }

    //
    //&:hover {
    //  background-color: rgba(black, 0.03);
    //}


  }

  &.list {
    display: flex;
    flex-direction: row;

    .uk-card {
      width: 100%;
      display: flex;

      .uk-card-body {
        display: inline-flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 1% 3% 0.5%;
        width: 40%;
      }


      .uk-item {
        width: 33.3% !important;
      }

      .time {
        font-size: 12px;
        line-height: 1.42;
        color: #9b9b9b;
      }

      .uk-card-media-top {
        width: 18%;
        height: 150px;
      }
    }
  }
}
