<!--<div class="result-cards card mb-3 p-3"-->
<!--     [routerLink]="['/products', searchData?._id, searchData?.title.split(' ').join('-')]">-->
<!--  <div class=" result-left" [ngStyle]="{'background-image':'url('+searchData?.image+')'}">-->
<!--  </div>-->

<!--  <div class="result-right">-->
<!--    <div class="result-right-header mb-2">-->
<!--      <h4 class=header4">{{searchData?.title}}</h4>-->
<!--      <span class="time-span">{{timeAgo(searchData?.createdAt)}}</span>-->
<!--    </div>-->
<!--    <div class="card-price d-flex">-->
<!--      <span class="font-weight-bold price-span">-->
<!--        <span class="mx-1">{{searchData?.price | currency: ' '}}</span>-->
<!--        <span>ر.س</span>-->
<!--      </span>-->
<!--      <div class="card-user" *ngIf="searchData?.supplier?.fullName">-->
<!--        <i class="fa fa-user mr-2 user-icon" aria-hidden="true"></i>-->
<!--        <span class="name-span">{{searchData?.supplier?.fullName}}</span>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="card-distance mt-2">-->
<!--      <div class="card-location">-->
<!--        <i class="fas fa-map-marker-alt location-icon mr-2"></i>-->
<!--        <span class="location-span">{{searchData?.city}}</span>-->
<!--      </div>-->
<!--      <div class="distance d-flex">-->
<!--        <span class="mx-1 distance-usage">{{searchData?.runningKilos | number}}</span>-->
<!--        <span class="distance-unit">كم</span>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<div class="item mb-2" 
  [routerLink]="['/products', searchData?._id, searchData?.title.split(' ').join('-')]">
  <div class="uk-card ">
    <div class="uk-card-media-top" [ngStyle]="{'background-image': 'url('+searchData?.image+')'}">
      <div class="item" [class.list]="!grid"
        [routerLink]="['/products', searchData?._id, searchData?.title.split(' ').join('-')]">
        <div class="uk-card ">
          <div class="uk-card-media-top ss" [ngStyle]="{'background-image': 'url('+searchData?.cover+')'}" >
            <!--            <img src="assets/images/01.jpg" alt="">-->
          </div>
          <div class="uk-card-body">
            <p class="description" [title]="searchData?.title">{{ (searchData?.title?.length >= (grid ? 25 : 35) ?
              (searchData?.title | slice:0:(grid ? 23 : 33)) + '...' : searchData?.title)}}</p>
            <div class="uk-row">
              <div class="flex-row">
                <div class="uk-item" tooltip="{{searchData?.city}}" placement="top">
                  {{searchData?.city?.length > 12 ? (searchData?.city | slice:0:12) + '...' : searchData?.city}}
                </div>
                <div class="uk-item">
                  <span>km</span>
                  <!-- {{searchData?.runningKilos?.toString()?.length > 6 ? (searchData?.runningKilos?.toString() | slice:0:7 | number) + '...' : searchData?.runningKilos | number}} -->
                  {{searchData?.runningKilos?.toString()?.length > 6 ? (searchData?.runningKilos?.toString() | number) +
                  '...'
                  : searchData?.runningKilos | number}}

                </div>
                <div class="uk-item" *ngIf="!grid">
                  {{searchData?.cylinderCount}}
                </div>

              </div>
              <div class="flex-row">
                <div class="uk-item">
                  {{searchData?.brand?.name}}
                </div>
                <div class="uk-item">
                  {{searchData?.manufacturingYear}}
                </div>
                <div class="uk-item" *ngIf="searchData?.engine && !grid">
                  {{searchData?.engine}}
                </div>
              </div>

            </div>

            <span class="time" *ngIf="!grid">{{timeAgo(searchData?.createdAt)}}</span>
          </div>
          <span class="price font-weight-bold ">
            <span class="mx-1" [dir]="'ltr'">{{searchData?.price | currency: ' ':'code'}}</span>
            <span> ر.س</span>
          </span>

        </div>
      </div>
      <!--للبيع GLX كامري 2017 فل كامل-->