<section class="sec_about py-5 mt-5">

    <div class="uk-container">

        <div class="uk-grid-small uk-child-width-1-2@l" uk-grid>

            <div>
                <div>
                    <div class="header_">
                        <div class="line_"></div>
                        <p class="m-0 pl-1">من نحن</p>
                    </div>

                    <p class="m-0 mt-2 description_">
                        موقع موتور أكتور هو موقع مخصص في بيع سيارات جديدة أو مستعملة من حراج السيارات داخل المملكة
                        العربية السعودية.
                        حيث نوفر خدمة الإعلان عن السيارات والتواصل مباشرة لاتمام الاتفاق بين البائع والمشتري بدون وسيط
                        من خلال تقديم
                        المعلومات الخاصة بالبائع إلى المشتري لتتم عملية التواصل مباشرة وبأسرع وقت.
                        كما نقدم مجموعة من المقالات والنصائح في مجال بيع سيارات بكافة الأنواع لتفيد المستهلك والمشتري في
                        كيفية
                        الاختيار الصحيح للسيارات وفهم الإمكانيات الخاصة بكل سيارة.
                    </p>
                </div>
            </div>

            <div>
                <div class="full_h">

                    <div class="bg_">
                        <img class="img_" src="https://images.pexels.com/photos/5381501/pexels-photo-5381501.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
                    </div>

                </div>
            </div>

        </div>

    </div>

</section>