.uk-container {
    max-width: 1331px !important;
}

.header_ {
    position: relative;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    z-index: 888;
}

.header_ .line_ {
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    width: 7px;
    background-color: #fdcb74;
    height: 51px;
}

.header_ p {
    font-weight: bold;
    color: #2699fb;
    font-size: 25px;
}

.description_ {
    font-size: 20px;
    line-height: 35px;
    color: #9c9c9c;
}

.sec_about .bg_ {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 5px;
}

.full_h {
    height: 100% !important;
}

.sec_about .bg_ .img_ {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
