<section class="py-5 mt-5">

    <div class="uk-container">

        <div class="header_">
            <div class="line_"></div>
            <p class="m-0 pl-1">الشروط والاحكام</p>
        </div>

        <h3 class="m-0 f_Bold mt-2">
            1- يتم التسجيل للموقع عبر البريد الإلكتروني ورقم الجوال
        </h3>

        <h4 class="m-0">
            لا يقدم موقع موتور أكتور بتقديم أي ضمانات لأي تعاملات تجارية أو مالية
            سوف نقوم باتخذا كافة معايير الحماية والأمان للمعومات الخاصة بالمستخدمين
            نلتزم بمراجعة جميع الإعلانات وحذف ما يكون محل للشكوك أو القلق
            يمنع استخدام أي محتوى خاص بإعلان المستخدمين عبر موقع موتور أكتور بأي شكل من الأشكال لأياً من الأطراف الأخرى
            سوف نقوم بالكشف عن وسائل التواصل الخاصة بالمعلن للمستخدم في حالة الرغبة في الشراء فقط
        </h4>

        <br>
        <p class="m-0 contentC_ mb-2">
            يحق لموقع موتور أكتور الاحتفاظ ببيانات المستخدمين والزوار، طرق استخداماتهم التقنية من أجل تطوير الموقع
        </p>
        <p class="m-0 contentC_ mb-2">
            قد يقوم الموقع بعمل بعض التطويرات من أجل تقدم خدمات أفضل للمستخدم، أو لأي أسباب أخرى فنية، لذلك لا يتحمل
            الموقع توقف المنصة لأي سبب كان، ولأي مدة
        </p>

        <p class="m-0 contentC_ mb-2">
            لا نقوم بتحمل مسؤلية أي محتوى يقدمه المستخدم، وبه انتهاك لحقوق ملكية تعود لمستخدم آخر
        </p>
        <p class="m-0 contentC_ mb-2">
            في حالة الرغبة بشراء سيارة عبر موقع موتور أكتور، فإنه من المهم فحص السيارة بشكل جيد والتأكد من الأوراق
            المثبوتة الخاصة بها (الفحص، الاستمارة، هوية صاحب السيارة،..)
        </p>

        <h3 class="m-0 f_Bold mt-2">
            2- محظورات الإعلان بالموقع
        </h3>

        <p class="m-0 contentC_ mb-2">عرض أي سيارات مسروقة </p>
        <p class="m-0 contentC_ mb-2">نشر معلومات غير لائقة </p>
        <p class="m-0 contentC_ mb-2">نشر معلومات زائفة أو غير حقيقية سواء أسئلة أو إجابات، أو الرد بأي تعليقات سلبية أو
            بها إهانات </p>
        <p class="m-0 contentC_ mb-2">يمنع نشر أي محتوى يخالف أي قوانين اتحادية أو دولية أو محلية أو وطنية خاصة بحقوق
            النشر أو العلامات التجارية أو حقوق الملكية الفكرية الأخرى</p>

        <h4 class="m-0 f_Bold mb-2">في حالة اكتشاف أي محتوى مخالف يرجى إبلاغ إدارة الموقع بها متضمناً:</h4>
        <p class="m-0 contentC_ mb-2">رابط المحتوى المخالف</p>
        <p class="m-0 contentC_ mb-2">إرسال البريد الإلكتروني الخاص بك </p>
        <br>
        <h4 class="m-0 f_Bold mb-2">كذلك هناك بعض المحظورات على مستخدمي الموقع وهي:</h4>
        <p class="m-0 contentC_ mb-2">تحول حساب واسم المستخدم إلى طرف آخر دون إبلاغ إدارة الموقع بذلك والموافقة على هذا
            الإجراء </p>
        <p class="m-0 contentC_ mb-2">محاولة الإستيلاء على حساب مستخدم آخر والقيام بأي عمليات احتيال على الموقع أو على
            حسابات المستخدمين </p>
        <p class="m-0 contentC_ mb-2">استخدام الاتصالات الناتحة عن عمليات الشراء أو البيع عبر الموقع، من أجل إتمام صفقات
            بيع لبضائع أخرى بشكل مباشر أو غير مباشر من مواقع أخرى من خلال البريد الإلكتروني أو غيره من وسائل الاتصال
        </p>
        <p class="m-0 contentC_ mb-2">انتهاك قوانين وإرشادات وحقوق الطرف الثالث أو عقود سوق السيارات </p>
        <p class="m-0 contentC_ mb-2">لا يسمح بنسخ أي شئ يخص الموقع وإعادة توزيعه أو بيعه أو ترخيص استخدامه للغير </p>
        <p class="m-0 contentC_ mb-2">لا يسمح بتعديل أي شئ في الموقع أو المحتوى الخاص به إلا فيما يتعلق بالمحتوى الخاص
            بك</p>
        <p class="m-0 contentC_ mb-2">لا يسمح بتحليل أو فك أي شفرة مصدرية يحتويها الموقع أو أي قاعدة بيانات تخص الموقع
            أو محاولة اكتشفاها بأي طريقة</p>

    </div>

</section>