@import "../../../../../assets/variables";

.content {
  position: relative;
  // Premium account
  &.premium, &.free {
    .wrapper {

      .user-card {
        background-color: #5AACFF;

        .card-content {
          display: flex;

          .logo {
            .image {
              background-position: center center;
              background-size: cover;
              background-repeat: no-repeat;
              width: 150px;
              height: 150px;
              border-radius: 50%;
              box-shadow: 0 0 10px rgba(black, 0.1);
              .upload-pic{

              }
            }
          }

          .info {

            .name {
              .text {
                position: relative;
                color: white;
                font-weight: bold;

                span {
                  i {
                    color: white;
                    border-radius: 50%;
                    font-size: 0.3em;
                    background-color: #008B09;
                    padding: 0.3rem;
                    transform: translateY(-5px);
                  }
                }
              }
            }

            .rate {
              i {

              }

              .rate-count {
                background-color: #FFD500;
                padding: 0 0.4rem;
                color: white;
                font-weight: bold;
                border-radius: 3px;
              }
            }

            .user-since {
              .text {
                color: white;
              }
            }

            .location {
            }

            .contact-info {
              i {
                padding: 0.5rem;
                color: white;
                background-color: $main-color;
                font-size: 1.49em;
              }

              .value {
                font-size: 1em;
                color: white;
                padding: 0.5rem;
                background-color: $main-color;

              }
            }

            .uk-hr {
              border-color: rgba(white, 0.4) !important;
            }

            .business-hours {
              .header {
                .text {
                  color: white;
                }
              }

              .hours {
                color: white;
              }
            }

            .actions {
              a {
                color: #5AACFF;
                font-size: 0.8em;
                background-color: white;
                border-radius: 0;
                box-shadow: 0 3px 6px rgba(black, 0.1);

                &:hover {
                  opacity: 0.9;
                }

                &:active {
                  transform: scale(0.95);
                  box-shadow: 0 3px 6px rgba(black, 0);
                }
              }
            }

          }

        }
      }

      .about-card {
        background-color: #5AACFF;

        .card-content {
          .about, .services {
            .header {
              .text {
                color: white;
              }
            }
            p {
              color: white;
              font-weight: 600;
            }
          }

          .services {
            border-right: 1.6px solid white;
            ul {
              li {
                color: white;
                margin-bottom: 0.3rem;
                font-weight: 600;
              }
            }
          }
        }
      }

    }
  }

  // free account
  &.free {
    .wrapper {

    }
  }

}

.star-on
{
  color: #FFD500;
}

.star-off
{
  color: $text-muted;
}

@media screen and (max-width: 992px) {
  .services {
    border: none !important;
  }
}

.xxxxx .ss {
  opacity: 0 !important;
}
