@import "../../../../../assets/variables";

.content
{
  background-color: #fff;
  padding: 1rem 0.5rem;
  .content-header
  {

  }

  .adv-management-card
  {
    padding: 1rem 0.5rem;
    background-color: $cardColor;
    display: flex;
    align-items: center;
    flex-direction: row;
    .adv-left
    {
      width: 20%;
      height: 120px;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }
    .adv-right
    {
      width: 80%;
      margin-left: 0.5rem;
      .adv-right-header
      {
        display: flex;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        .adv-status
        {
          margin-right: 1rem;
          display: flex;
          align-items: center;
          flex-direction: row;
        }
      }
      .adv-right-middle
      {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: wrap;
        .middle-price
        {
          font-weight: bold;
        }
        .middle-user
        {
          i
          {
            margin: 0rem 0.5rem !important;
          }
        }
        .middle-edit
        {

        }
      }
      .adv-right-bottom
      {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: wrap;
      }
      .adv-right-latestupdate
      {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
      }
    }
    &:hover {
      background-color: rgba(black, 0.105);
    }
  }
}




@media only screen and (max-width: 767px) {
  .content
  {
    .content-header
    {

    }

    .adv-management-card
    {
      flex-direction: column-reverse;
      .adv-right
      {
        width: 100%;
      }
      .adv-left
      {
        width: 50%;
        margin-bottom: 0.2rem;
      }
    }
  }
}




@media only screen and (max-width: 512px) {
  .content
  {
    .content-header
    {

    }

    .adv-management-card
    {
      .adv-right
      {
        .adv-right-header
        {
          justify-content: center;
          h5
          {
            font-size: 15px;
          }
          .adv-status
          {
            margin: 0;
          }
        }
        .adv-right-middle
        {
          justify-content: center;
        }
      }
      .adv-left
      {
        width: 70%;
      }
    }
  }
}




