<section class="content" @fadeHide>
    <div class="container">
<!--        <div class="content-header">-->
<!--            <h5><b class="text-dark">قائمه المتابعه</b></h5>-->
<!--        </div>-->
        <div class="adv-management-card card mb-2">
            <div class="adv-right">
                <div class="adv-right-header mb-2">
                    <h5><b>كامري 2014 فل كامل GLX للبيع</b></h5>
                    <div class="adv-status"><span class="adv-status-text">(حالة الإعلان : نشط)</span></div>
                </div>
                <div class="adv-right-middle mb-2">
                    <div class="middle-price"><span class="mr-2">25000</span><span>ريال سعودي</span></div>
                    <div class="middle-user">
                        <i class="fa fa-user mr-2" aria-hidden="true"></i>
                        <span>خالد عبد الرحمن</span>
                    </div>
                    <div class="middle-edit">
                        <a>
                            <i class="fas fa-pencil-alt mx-2"></i>
                            <span>تعديل</span>
                        </a>
                    </div>
                </div>
                <div class="adv-right-bottom mb-2">
                    <div class="bottom-location">
                        <i class="fas fa-map-marker-alt"></i>
                        <span class="mx-2">جده</span>
                    </div>
                    <div class="bottom-distance">
                        <span class="mx-2">150000</span>
                        <span>KM</span>
                    </div>
                    <div class="bottom-delete">
                        <a>
                            <i class="fas fa-trash-alt mx-2"></i>
                            <span>حذف</span>
                        </a>
                    </div>
                </div>
                <div class="adv-right-latestupdate">
                    <span>آخر تعديل : قبل 5 ساعات</span>
                </div>
            </div>
            <div class="adv-left" [ngStyle]="{'background-image' : 'url(../../../../../assets/car.jpg)'}"></div>
        </div>
        <div class="adv-management-card card mb-2">
            <div class="adv-right">
                <div class="adv-right-header mb-2">
                    <h5><b>كامري 2014 فل كامل GLX للبيع</b></h5>
                    <div class="adv-status"><span class="adv-status-text">(حالة الإعلان : نشط)</span></div>
                </div>
                <div class="adv-right-middle mb-2">
                    <div class="middle-price"><span class="mr-2">25000</span><span>ريال سعودي</span></div>
                    <div class="middle-user">
                        <i class="fa fa-user" aria-hidden="true"></i>
                        <span>خالد عبد الرحمن</span>
                    </div>
                    <div class="middle-edit">
                        <a>
                            <i class="fas fa-pencil-alt mx-2"></i>
                            <span>تعديل</span>
                        </a>
                    </div>
                </div>
                <div class="adv-right-bottom mb-2">
                    <div class="bottom-location">
                        <i class="fas fa-map-marker-alt"></i>
                        <span class="mx-2">جده</span>
                    </div>
                    <div class="bottom-distance">
                        <span class="mx-2">150000</span>
                        <span>KM</span>
                    </div>
                    <div class="bottom-delete">
                        <a>
                            <i class="fas fa-trash-alt mx-2"></i>
                            <span>حذف</span>
                        </a>
                    </div>
                </div>
                <div class="adv-right-latestupdate">
                    <span>آخر تعديل : قبل 5 ساعات</span>
                </div>
            </div>
            <div class="adv-left" [ngStyle]="{'background-image' : 'url(../../../../../assets/car.jpg)'}"></div>
        </div>
        <div class="adv-management-card card mb-2">
            <div class="adv-right">
                <div class="adv-right-header mb-2">
                    <h5><b>كامري 2014 فل كامل GLX للبيع</b></h5>
                    <div class="adv-status"><span class="adv-status-text">(حالة الإعلان : نشط)</span></div>
                </div>
                <div class="adv-right-middle mb-2">
                    <div class="middle-price"><span class="mr-2">25000</span><span>ريال سعودي</span></div>
                    <div class="middle-user">
                        <i class="fa fa-user mr-2" aria-hidden="true"></i>
                        <span>خالد عبد الرحمن</span>
                    </div>
                    <div class="middle-edit">
                        <a>
                            <i class="fas fa-pencil-alt mx-2"></i>
                            <span>تعديل</span>
                        </a>
                    </div>
                </div>
                <div class="adv-right-bottom mb-2">
                    <div class="bottom-location">
                        <i class="fas fa-map-marker-alt"></i>
                        <span class="mx-2">جده</span>
                    </div>
                    <div class="bottom-distance">
                        <span class="mx-2">150000</span>
                        <span>KM</span>
                    </div>
                    <div class="bottom-delete">
                        <a>
                            <i class="fas fa-trash-alt mx-2"></i>
                            <span>حذف</span>
                        </a>
                    </div>
                </div>
                <div class="adv-right-latestupdate">
                    <span>آخر تعديل : قبل 5 ساعات</span>
                </div>
            </div>
            <div class="adv-left" [ngStyle]="{'background-image' : 'url(../../../../../assets/car.jpg)'}"></div>
        </div>
        <div class="adv-management-card card mb-2">
            <div class="adv-right">
                <div class="adv-right-header mb-2">
                    <h5><b>كامري 2014 فل كامل GLX للبيع</b></h5>
                    <div class="adv-status"><span class="adv-status-text">(حالة الإعلان : نشط)</span></div>
                </div>
                <div class="adv-right-middle mb-2">
                    <div class="middle-price"><span class="mr-2">25000</span><span>ريال سعودي</span></div>
                    <div class="middle-user">
                        <i class="fa fa-user mr-2" aria-hidden="true"></i>
                        <span>خالد عبد الرحمن</span>
                    </div>
                    <div class="middle-edit">
                        <a>
                            <i class="fas fa-pencil-alt mx-2"></i>
                            <span>تعديل</span>
                        </a>
                    </div>
                </div>
                <div class="adv-right-bottom mb-2">
                    <div class="bottom-location">
                        <i class="fas fa-map-marker-alt"></i>
                        <span class="mx-2">جده</span>
                    </div>
                    <div class="bottom-distance">
                        <span class="mx-2">150000</span>
                        <span>KM</span>
                    </div>
                    <div class="bottom-delete">
                        <a>
                            <i class="fas fa-trash-alt mx-2"></i>
                            <span>حذف</span>
                        </a>
                    </div>
                </div>
                <div class="adv-right-latestupdate">
                    <span>آخر تعديل : قبل 5 ساعات</span>
                </div>
            </div>
            <div class="adv-left" [ngStyle]="{'background-image' : 'url(../../../../../assets/car.jpg)'}"></div>
        </div>
        <div class="adv-management-card card mb-2">
            <div class="adv-right">
                <div class="adv-right-header mb-2">
                    <h5><b>كامري 2014 فل كامل GLX للبيع</b></h5>
                    <div class="adv-status"><span class="adv-status-text">(حالة الإعلان : نشط)</span></div>
                </div>
                <div class="adv-right-middle mb-2">
                    <div class="middle-price"><span class="mr-2">25000</span><span>ريال سعودي</span></div>
                    <div class="middle-user">
                        <i class="fa fa-user mr-2" aria-hidden="true"></i>
                        <span>خالد عبد الرحمن</span>
                    </div>
                    <div class="middle-edit">
                        <a>
                            <i class="fas fa-pencil-alt mx-2"></i>
                            <span>تعديل</span>
                        </a>
                    </div>
                </div>
                <div class="adv-right-bottom mb-2">
                    <div class="bottom-location">
                        <i class="fas fa-map-marker-alt"></i>
                        <span class="mx-2">جده</span>
                    </div>
                    <div class="bottom-distance">
                        <span class="mx-2">150000</span>
                        <span>KM</span>
                    </div>
                    <div class="bottom-delete">
                        <a>
                            <i class="fas fa-trash-alt mx-2"></i>
                            <span>حذف</span>
                        </a>
                    </div>
                </div>
                <div class="adv-right-latestupdate">
                    <span>آخر تعديل : قبل 5 ساعات</span>
                </div>
            </div>
            <div class="adv-left" [ngStyle]="{'background-image' : 'url(../../../../../assets/car.jpg)'}"></div>
        </div>
    </div>
</section>
