<section hidden>
  <div class="blog-container">
    <div class="row">
      <div class="col-md-8">
        <div class="article-details-head card">
          <span class="text-muted font-weight-bold">
            {{blogDetailsContainer?.blog?.name}}
          </span>
        </div>
        <div class="car-image-part card"
          [ngStyle]="{'background-image': 'url('+blogDetailsContainer?.blog?.image?.path+')'}"></div>
        <div class="car-caption card">
          <p class="text-muted">
            {{blogDetailsContainer?.blog?.body}}
          </p>
          <!--          <hr>-->
          <!--          <div class="share-article mb-2">-->
          <!--            <p class="text-muted font-weight-bold">شارك هذا الموضوع</p>-->
          <!--            <a class="mr-2"><img src="assets/images/facebook.png" alt="fb"></a>-->
          <!--            <a><img src="assets/images/twitter.png" alt="fb"></a>-->
          <!--          </div>-->
          <hr>
          <div class="i-like my-2">
            <button [ngClass]="blogDetailsContainer?.blog?.isLiked ? 'liked' : 'dis-liked'" (click)="toggleLike()"><i
                class="fa fa-star" aria-hidden="true"></i>أعجبني</button>
            <span class="ml-4 ml-sm-5 text-muted"><i class="fa fa-thumbs-up" aria-hidden="true"></i> <span
                id="likes-counter" class="ml-2">{{blogDetailsContainer?.blog?.likesCount}}</span> <span
                class="ml-2">اعجاب</span></span>
          </div>
          <hr>
          <div class="add-comment">
            <p class="text-muted font-weight-bold">أضف تعليق</p>
            <form (ngSubmit)="addBlogComments(blogComment)" #blogComment="ngForm" style="display: block">
              <div class="form-group">
                <textarea class="contact-control" [(ngModel)]="blogCommentBody.body" name="add-comment" cols="30"
                  rows="3" required></textarea>
              </div>
              <div class="form-group">
                <button [disabled]="loadMe || blogComment.invalid" class="message-btn">
                  أضف
                  <i *ngIf="loadMe" class="fa fa-spinner fa-spin mx-2 text-light" aria-hidden="true"></i>
                </button>
              </div>
            </form>
          </div>
          <hr>
          <div class="blog-comments" *ngFor="let comment of blogDetailsContainer?.blog?.comments">
            <div class="comment-head">
              <div class="user-image">
                <img [src]="comment?.owner?.profilePicture" alt="user-image">
              </div>
              <div class="user-comment">
                <div class="user-name mb-2"><span class="text-muted font-weight-bold mr-2">{{comment?.owner?.fullName |
                    titlecase}}</span></div>
                <div class="text-muted" style="font-size: 12px">{{admin.timeAgo(comment?.createdAt)}}</div>
              </div>
            </div>
            <div class="comment-text mt-2">
              <p class="text-muted">{{comment?.body}}</p>
            </div>
          </div>
        </div>

      </div>
      <div class="col-md-4">
        <app-latest-articles [relatedContent]="blogDetailsContainer?.relatedBlogs"></app-latest-articles>
      </div>
    </div>
  </div>
</section>

<section class="sec_detail py-5">

  <div class="uk-container mt-5">

    <div class="header_ mt-2">

      <div class="uk-grid-small" uk-grid>

        <div class="uk-width-expand@l">
          <div>

            <div class="bg_">
              <img class="img_"
                src="https://images.pexels.com/photos/3311574/pexels-photo-3311574.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                alt="">
            </div>

            <p class="m-0 head_blog mt-3">هناك حقيقة مثبتة منذ زمن طويل</p>
            <p class="m-0 mt-3 description_blog">هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي
              القارئ عن التركيز على الشكل
              الخارجي للنص أو شكل توضع الفقرات في الصفحة التي يقرأها. ولذلك يتم استخدام طريقة لوريم إيبسوم لأنها تعطي
              توزيعاَ طبيعياَ -إلى حد ما- للأحرف عوضاً عن استخدام "هنا يوجد محتوى نصي، هنا يوجد محتوى نصي" فتجعلها تبدو
              (أي الأحرف) وكأنها نص مقروء. العديد من برامح النشر المكتبي وبرامح تحرير صفحات الويب تستخدم لوريم إيبسوم
              بشكل إفتراضي كنموذج عن النص، وإذا قمت بإدخال "lorem ipsum" في أي محرك بحث ستظهر العديد من المواقع الحديثة
              العهد في نتائج البحث. على مدى السنين ظهرت نسخ جديدة ومختلفة من نص لوريم إيبسوم، أحياناً عن طريق الصدفة،
              وأحياناً عن عمد كإدخال بعض العبارات الفكاهية إليها.</p>

            <img class="my-2"
              src="https://images.pexels.com/photos/3422964/pexels-photo-3422964.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
              alt="">

            <p class="m-0 mt-3 description_blog">هنالك العديد من الأنواع المتوفرة لنصوص لوريم إيبسوم، ولكن الغالبية تم
              تعديلها بشكل ما عبر إدخال بعض
              النوادر أو الكلمات العشوائية إلى النص. إن كنت تريد أن تستخدم نص لوريم إيبسوم ما، عليك أن تتحقق أولاً أن
              ليس هناك أي كلمات أو عبارات محرجة أو غير لائقة مخبأة في هذا النص. بينما تعمل جميع مولّدات نصوص لوريم
              إيبسوم على الإنترنت على إعادة تكرار مقاطع من نص لوريم إيبسوم نفسه عدة مرات بما تتطلبه الحاجة، يقوم مولّدنا
              هذا باستخدام كلمات من قاموس يحوي على أكثر من 200 كلمة لا تينية، مضاف إليها مجموعة من الجمل النموذجية،
              لتكوين نص لوريم إيبسوم ذو شكل منطقي قريب إلى النص الحقيقي. وبالتالي يكون النص الناتح خالي من التكرار، أو
              أي كلمات أو عبارات غير لائقة أو ما شابه. وهذا ما يجعله أول مولّد نص لوريم إيبسوم حقيقي على الإنترنت.</p>


          </div>
        </div>

        <div class="uk-width-1-4@l">
          <div>

            <div class="uk-grid-small uk-child-width-1-1@l" uk-grid>

              <div>
                <div>

                  <div class="box_ px-2 py-3">
                    <h2 class="m-0 head_line mb-2">أحدث المقالات </h2>
                    <div class="uk-grid-small uk-child-width-1-1" uk-grid>

                      <div *ngFor="let item of newArr">
                        <div>

                          <div class="card_blog_">
                            <div class="bg_">
                              <img class="img_" [src]="item.img" alt="">

                              <div class="black_screen">
                                <div class="content_ px-3">
                                  <h3 class="m-0">جديد</h3>
                                  <p class="m-0 header_ mb-1">هناك حقيقة مثبتة منذ زمن طويل</p>

                                  <div class="uk-flex">

                                    <p class="option_ m-0">
                                      <span uk-icon="calendar"></span>&nbsp;
                                      <span>July 23, 2021</span>&nbsp;&nbsp;&nbsp;
                                    </p>

                                  </div>

                                </div>
                              </div>

                            </div>
                          </div>

                        </div>
                      </div>

                    </div>
                  </div>

                </div>
              </div>

            </div>

          </div>
        </div>

      </div>

    </div>

  </div>

</section>