.uk-container {
  max-width: 1331px !important;
}

.sec_detail .header_ .bg_ {
  position: relative;
  width: 100%;
  height: 450px;
  overflow: hidden;
  border-radius: 5px;
}

.sec_detail .header_ .bg_ .img_ {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sec_detail .header_ .box_ {
  border-radius: 5px;
  background-color: #f0f0f0;
}

.sec_detail .header_ .box_ .btn_ {
  background-color: #2699fb;
  width: 100%;
  text-align: center;
  padding: 10px 0px;
  border: none;
  color: white;
}

.sec_detail .header_ .box_ .head_line {
  color: #2699fb;
  font-weight: bold;
  font-size: 20px;
}

.sec_detail .header_ .box_ .card_blog_ .bg_ {
  position: relative;
  width: 100%;
  height: 150px;
  border-radius: 10px;
  overflow: hidden;
}

.sec_detail .header_ .box_ .card_blog_ .bg_ .img_ {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.sec_detail .header_ .box_ .card_blog_ .bg_ .black_screen {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(0deg, #000, rgba(15, 15, 15, 0.5), transparent);
  z-index: 2;
}

.sec_detail .header_ .box_ .card_blog_ .bg_ .black_screen .content_ {
  width: 100%;
  position: absolute;
  bottom: 15px;
}

.sec_detail .header_ .box_ .card_blog_ .bg_ .black_screen .content_ h3 {
  font-weight: bold;
  color: #2699fb;
}

.sec_detail .header_ .box_ .card_blog_ .bg_ .black_screen .content_ .header_ {
  color: white;
  font-size: 16px;
  font-weight: bold;
}

.sec_detail .header_ .box_ .card_blog_ .bg_ .black_screen .content_ .describtion_ {
  color: #b3b3b3;
  font-size: 13px;
}

.sec_detail .header_ .box_ .card_blog_ .bg_ .black_screen .content_ .option_ {
  color: white;
  font-size: 10px;
}

.sec_detail .head_blog {
  font-size: 30px;
  font-weight: bold;
  color: #2699fb;
}

.sec_detail .description_blog {
  font-size: 20px;
  line-height: 35px;
  color: #9c9c9c;
}

.header_title {
  position: relative;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: left;
  z-index: 888;
}

.header_title .line_ {
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
  width: 7px;
  background-color: #fdcb74;
  height: 51px;
}

.header_title p {
  font-weight: bold;
  color: #2699fb;
  font-size: 25px;
}

.sec_detail .card_blog_pop .bg_ {
  position: relative;
  width: 100%;
  height: 360px;
  border-radius: 10px;
  overflow: hidden;
}

.sec_detail .card_blog_pop .bg_ .img_ {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.sec_detail .card_blog_pop .bg_ .black_screen {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(0deg, #000, rgba(15, 15, 15, 0.5), transparent);
  z-index: 2;
}

.sec_detail .card_blog_pop .bg_ .black_screen .content_ {
  width: 100%;
  position: absolute;
  bottom: 15px;
}

.sec_detail .card_blog_pop .bg_ .black_screen .content_ h3 {
  font-weight: bold;
  color: #2699fb;
}

.sec_detail .card_blog_pop .bg_ .black_screen .content_ .header_ {
  color: white;
  font-size: 16px;
  font-weight: bold;
}

.sec_detail .card_blog_pop .bg_ .black_screen .content_ .describtion_ {
  color: #b3b3b3;
  font-size: 13px;
}

.sec_detail .card_blog_pop .bg_ .black_screen .content_ .option_ {
  color: white;
  font-size: 10px;
}

//////////////////////////////////////////////////////////////
@import "../../../../../assets/variables";

section {
  padding-top: 1.5rem;
  background-color: $background-color;
  overflow-x: hidden;
  .article-details-head {
    background-color: #fff;
    padding: 1rem 2rem;
  }

  .car-image-part {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 350px;
    width: 100%;
    margin-top: 1rem;

    img {
      height: 400px;
      width: auto;
    }
  }

  .car-caption {
    background-color: #fff;
    padding: 1rem 2rem;

    .share-article {
      p {
      }
      .facebook-icon {
        font-size: 1.2em;
      }
    }

    .i-like {
    }
    .contact-control {
      border: none;
      outline: none;
      padding: 0.7rem 1rem;
      background-color: #f1f1f1;
      width: 100%;
    }

    .blog-comments {
      border-bottom: 1px solid rgba(black, 0.1);
      .comment-head {
        display: flex;
        //align-items: center;
        //justify-content: space-between;
      }
      .user-image {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 60px;
        width: 60px;
        border-radius: 50%;
        margin-left: 1rem;
        img {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 60px;
          width: 60px;
          border-radius: 50%;
        }
      }
      .user-comment {
        .user-name {
          display: flex;
          align-items: center;
        }
      }
    }
  }
}

.message-btn {
  background-color: $btn-color;
  outline: none;
  border: none;
  color: #fff;
  padding: 0.4rem 1.5rem;
  transition: 0.1s;
  &:active {
    transform: scale(0.9);
  }

  &:disabled {
    cursor: not-allowed;
    background-color: rgba($btn-color, 0.7);
    transform: scale(1);
  }
}

.liked {
  background-color: rgba(234, 91, 41, 0.8);
  outline: none;
  border: none;
  padding: 0.4rem 1.5rem;
  color: #fff;
  transition: 0.1s;
  i {
    margin-left: 0.5rem;
  }
  &:active {
    transform: scale(0.9);
  }
}
.dis-liked {
  background-color: rgba(black, 0.2);
  outline: none;
  border: none;
  padding: 0.4rem 1.5rem;
  color: #fff;
  transition: 0.1s;
  i {
    margin-left: 0.5rem;
  }
  &:active {
    transform: scale(0.9);
  }
}
