<header class="header"></header>
<section class="content">
  <div class="wrapper">
    <div class="container">
      <div class="card p-4" @fadeHide>
        <div class="overlay" *ngIf="isLoading">
          <div class="h-100 d-flex align-items-center justify-content-center">
            <span uk-spinner></span>
          </div>
        </div>
        <ng-container *ngIf="!isLoading">
          <div>
            <h4 class="font-weight-bold"> اداره الفئات الفرعية</h4>
          </div>
          <div class="comments-table ">
            <label> اختر الفئة</label>
            <select class="uk-select" [formControl]="category">
              <option value="{{categoryMain._id}}"
                      *ngFor="let categoryMain of categories">{{categoryMain.name}}</option>
            </select>

            <button class="uk-button uk-button-primary my-5"
                    *ngIf="subCategories.length >0"
                    (click)="newSubcategory()" uk-toggle
                    href="#subCategory-modal"
            >
              اضافة فئة فرعية
            </button>
            <table class="uk-table uk-table-divider">
              <thead>
              <tr>
                <th class="uk-table-shrink">#</th>
                <th class="uk-table-expand">اسم الفئة الفرعية</th>
                <th class="uk-width-small text-center"></th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let subCategory of subCategories;let i = index;">
                <td>{{i + 1}}</td>
                <td>{{subCategory.name}}</td>
                <td class="d-flex align-items-center justify-content-around uk-table-expand">
                  <button class="uk-button uk-button-primary" (click)="edit(subCategory)" uk-toggle
                          href="#subCategory-modal">
                    تعديل
                  </button>

                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </ng-container>
        <!--        <div class="pagination d-flex align-items-center justify-content-around mt-2">-->
        <!--          <button class="btn" [disabled]="currentPage === 1" (click)="first()"><i-->
        <!--            class="far fa-1x fa-lg fa-arrow-to-right" aria-hidden="true"></i></button>-->
        <!--          <button class="btn" [disabled]="currentPage === 1" (click)="previous()"><i-->
        <!--            class="far fa-1x fa-lg fa-chevron-right" aria-hidden="true"></i></button>-->
        <!--          <p class="mb-0">{{currentPage}} / {{lastPage}}</p>-->
        <!--          <button class="btn" (click)="next()" [disabled]="currentPage === lastPage"><i-->
        <!--            class="far fa-1x fa-chevron-left" aria-hidden="true"></i></button>-->
        <!--          <button class="btn" [disabled]="currentPage === lastPage" (click)="last()"><i-->
        <!--            class="far fa-1x fa-lg fa-arrow-to-left" aria-hidden="true"></i></button>-->

        <!--        </div>-->
      </div>
    </div>
  </div>
</section>

<div id="subCategory-modal" class="uk-modal-container" uk-modal>
  <div class="uk-modal-dialog uk-modal-body" *ngIf="!loadingOp">
    <button class="uk-modal-close-default" type="button" uk-close></button>
    <h2 class="uk-modal-title">تعديل الفئة الفرعية </h2>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 my-4">
          <form [formGroup]="categoryForm" >

            <div class="form-group col-md-6">
              <label
                [class.text-danger]="categoryForm.controls.categoryName.touched && categoryForm.controls.categoryName.invalid">اسم
                الفئة الفرعية</label>
              <input
                [class.border-danger]="categoryForm.controls.categoryName.touched && categoryForm.controls.categoryName.invalid"
                class="uk-input" type="text" formControlName="categoryName" placeholder="ادخل اسم الفئة الفرعية">
              <small
                *ngIf="categoryForm.controls.categoryName.touched && categoryForm.controls.categoryName.invalid"
                class="text-danger"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> <span> اسم الفئة الفرعية مطلوب </span>
              </small>
            </div>
            <div formArrayName="input">
              <div class="container user-container"
                   *ngFor="let optionSubCategory of categoryForm.controls.input['controls']; let i = index"
                   formGroupName="{{i}}">
                <div class="col-4 text-right">
                  <button *ngIf="categoryForm.controls.input['controls'].length > 1" type="button"
                          (click)="deleteoptionSubCategory(i)">إزالة
                  </button>
                </div>
                <div class="row">
                  <div class="col-6 d-flex flex-column">
                    <label
                      [class.text-danger]="optionSubCategory.controls?.name.touched && optionSubCategory.controls?.name.invalid">اسم
                      الاختيار للفئة الفرعي</label>

                    <input
                      [class.border-danger]="optionSubCategory.controls?.name.touched && optionSubCategory.controls?.name.invalid"
                      formControlName="name" placeholder="اسم الاختيار للفئة الفرعي">
                    <small
                      *ngIf="optionSubCategory.controls?.name.touched && optionSubCategory.controls?.name.invalid"
                      class="text-danger"><i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                      <span> اسم الاختيار للفئة الفرعي مطلوب  </span>
                    </small>
                  </div>
                  <div class="col-6 d-flex flex-column">
                    <label
                      [class.text-danger]="optionSubCategory.controls?.field.touched && optionSubCategory.controls?.field.invalid">الاسم
                      المختصر</label>

                    <input formControlName="field" placeholder="الاسم المختصر للاختيار للفئة الفرعي"
                           [class.border-danger]="optionSubCategory.controls?.field.touched && optionSubCategory.controls?.field.invalid">
                    <small
                      *ngIf="optionSubCategory.controls?.field.touched && optionSubCategory.controls?.field.errors?.required"
                      class="text-danger"><i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                      <span>  اسم المختصر للاختيار للفئة الفرعي مطلوب  </span>
                    </small> <small
                    *ngIf="optionSubCategory.controls?.field.touched && optionSubCategory.controls?.field.errors?.pattern"
                    class="text-danger"><i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                    <span> يجب اني كون احرف انجليزية او ارقام انجليزية  </span>
                  </small>
                  </div>

                </div>
                <div class="row mt-3">
                  <div class="col-8">
                    الخيارات
                  </div>
                </div>
                <div formArrayName="options">
                  <div class="my-2 ">
                    <button type="button" (click)="addoption({},i)">اضافة الخيار جديد</button>
                  </div>
                  <div class="row my-2"
                       *ngFor="let option of optionSubCategory.controls.options.controls; let j = index"
                       formGroupName="{{j}}">
                    <div class="col-12 d-flex text-right my-3">
                      <button *ngIf="optionSubCategory.controls.options.controls.length > 1" type="button"
                              (click)="deleteoption(i,j)">
                        ازالة خيار
                      </button>
                    </div>
                    <div class="col-6 d-flex flex-column">

                      <label
                        [class.text-danger]="option.controls.name.touched && option.controls.name.invalid">الاسم
                        الخيار</label>
                      <input formControlName="name" placeholder="الاسم الخيار"
                             [class.border-danger]="option.controls.name.touched && option.controls.name.invalid">
                      <small *ngIf="option.controls.name.touched && option.controls.name.invalid"
                             class="text-danger"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> <span> اسم الخيار مطلوب </span>
                      </small>
                    </div>
                    <div class="col-6 d-flex flex-column">

                      <label
                        [class.text-danger]="option.controls.value.touched && option.controls.value.invalid">الاسم
                        الخيار المختصر</label>
                      <input [class.border-danger]="option.controls.value.touched && option.controls.value.invalid"
                             formControlName="value" placeholder="الاسم الخيار المختصر">
                      <small *ngIf="option.controls.value.touched && option.controls?.value.errors?.required"
                             class="text-danger"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> <span> اسم الخيار مطلوب </span>
                      </small>
                      <small *ngIf="option.controls.value.touched && option.controls?.value.errors?.pattern"
                             class="text-danger"><i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                        <span> يجب اني كون احرف انجليزية او ارقام انجليزية  </span>
                      </small>
                    </div>
                  </div>

                </div>
              </div>
            </div>
            <div class="form-group">
              <button class="uk-button uk-button-primary w-100"
                      (click)="editMode? updateSubCategory():addSubCategory()"
              > {{loadingReq ? 'جاري التحميل' : 'اضافة'}}
                <i *ngIf="loadingReq" class="fa fa-spinner fa-spin mx-1" aria-hidden="true"></i></button>
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>
</div>
