@import "assets/variables";
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;600;700&display=swap");
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

//@font-face {
//  font-family: "din";
//  font-style: normal;
//  font-weight: normal;
//  src: url("assets/fonts/din-next-lt-w23-regular.ttf") format("ttf");
//}
//
//@font-face {
//  font-family: "din";
//  font-style: normal;
//  font-weight: 500;
//  src: url("assets/fonts/din-next-lt-w23-medium.ttf") format("ttf");
//
//}@font-face {
//  font-family: "din";
//  font-style: normal;
//  font-weight: 700;
//  src: url("assets/fonts/din-next-lt-w23-bold.ttf") format("ttf");
//
//}

* {
  text-align: start;
}

html {
  background-color: $background-color !important;
}

body {
  font-family: "Cairo", sans-serif !important;
  background-color: $background-color;
  overflow-x: hidden;
  scroll-behavior: smooth;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  span,
  a {
    font-family: "Cairo", sans-serif !important;
  }
}

input,
select,
textarea {
  border-radius: 0 !important;
}

// global style for header

.card {
  position: relative;
  box-shadow: 0px 3px 8px rgba(black, 0.1);
  border-radius: 15px !important;
  border: none !important;
}

.swiper-scrollbar-drag {
  background-color: $main-color !important;
}

.filter-card {
  border: 1px solid rgba(black, 0.1);
  padding: 0.3rem;
  text-align: center;
  width: auto;
  display: inline;
  box-shadow: $shadow;
  overflow-x: scroll;

  &:hover {
    cursor: pointer;
    background-color: rgba(black, 0.1);
  }
}

.category-slider-items {
  .swiper-slide {
    width: auto !important;
  }
}

.content {
  background-color: $background-color;
}

.uk-lightbox {
  .uk-lightbox-button {
    transform: rotate(180deg) !important;
  }
}

.harag-primary {
  background-color: $btn-color;
  border: none;
  padding: 0.4rem 0.5rem;
  color: #fff;
  overflow: hidden;

  &:hover {
    background-color: rgba($btn-color, 0.8);
  }
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: #f1f2f3;
  display: flex;
  justify-content: center;
  align-items: center;

  .loader-img {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 60px;
      width: 60px;
    }
  }
}

.swal2-html-container {
  text-align: center;
}

.dash-preloader {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: #f1f2f3;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 500;

  .loader-img {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 60px;
      width: 60px;
    }
  }
}

.h-primary {
  outline: none;
  border: none;
  padding: 0.2rem 0.3rem;
  background-color: rgba($main-color, 0.1);
  color: $main-color;
  border-radius: 3px;
  transition: 0.1s;

  &:active {
    transform: scale(0.9);
    outline: none;
  }

  &:focus {
    outline: none;
  }

  &:hover {
    background-color: rgba($main-color, 0.3);
  }

  &:disabled {
    cursor: not-allowed;
  }
}

.h-danger {
  outline: none;
  border: none;
  padding: 0.2rem 0.5rem;
  background-color: rgba(#dc3545, 0.1);
  color: #dc3545;
  border-radius: 3px;
  transition: 0.1s;

  &:active {
    transform: scale(0.9);
    outline: none;
  }

  &:focus {
    outline: none;
  }

  &:hover {
    background-color: rgba(#dc3545, 0.3);
  }

  &:disabled {
    cursor: not-allowed;
  }
}

.h-success {
  outline: none;
  border: none;
  padding: 0.2rem 0.3rem;
  background-color: rgba(#1e7e34, 0.1);
  color: #1e7e34;
  border-radius: 3px;
  transition: 0.1s;

  &:active {
    transform: scale(0.9);
    outline: none;
  }

  &:focus {
    outline: none;
  }

  &:hover {
    background-color: rgba(#1e7e34, 0.3);
  }

  &:disabled {
    cursor: not-allowed;
  }
}

.table-pagination {
  display: flex;
  align-items: center;
  justify-content: space-around;

  .btn-paginate {
    outline: none;
    border: none;
    padding: 0.3rem 0.5rem;
    color: $text-muted;
    transition: 0.1s;

    &:hover {
      background-color: rgba(black, 0.1);
    }

    &:active {
      transform: scale(0.9);
    }

    &:disabled {
      background-color: rgba(#fff, 0.7);
      cursor: not-allowed;
      transform: scale(1);
    }
  }
}

.row.btw {
  justify-content: space-between;
  margin: 0;
}

.uk-search-input {
  font-family: "Cairo", sans-serif !important;
}

.main-color {
  background-color: $main-color;
  color: white !important;
}

.navbar {
  > .blog-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.blog-container {
  width: 85%;
  margin: auto;
}

section {
  .comments-table {
    overflow: auto;
    max-height: 70vh;
    position: relative;

    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      z-index: 10;
      background-color: white;
      width: 100%;
    }
  }

  .pagination {
    padding: 0;

    .btn {
      color: $btn-color;
      box-shadow: none;
      padding: 0.3rem;
      transition: 0.2s;

      &:not(:disabled) {
        &:active {
          transform: scale(0.94);
        }
      }
    }
  }
}

.blog-main {
  background-color: $background-color;
}

.new-article,
.edit-article {
  background-color: $background-color;

  .header {
    font-weight: 600;
  }

  .form-group {
    input[type="text"],
    textarea {
      background-color: rgba($background-color, 0.4);
      padding: 2rem 1rem !important;
      border: 2px solid rgba($background-color, 0.9);
      border-radius: 4px !important;
      font-weight: 600;

      &:hover {
        border: 2px solid rgba($main-color, 0.5);
      }

      &:focus {
        border: 2px solid $main-color;
        box-shadow: none;
      }
    }

    textarea {
      padding: 1rem !important;
    }

    input,
    textarea,
    select {
      &.ng-invalid.ng-touched {
        border: 2px solid darkred;
      }
    }

    .drag-area {
      position: relative;
      padding: 3rem;
      border-radius: 5px;
      border: 2px dashed black;
      cursor: pointer;

      .mini-loader {
        //display: none;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: white;
        z-index: 20;

        .icon {
          height: 100%;
        }
      }

      i {
        font-size: 5em;
        margin-bottom: 1rem;
      }

      &:hover {
        i {
          animation: upAndDown 0.8s infinite ease-out;
        }
      }
    }
  }

  .images {
    .delete-btn {
      top: 20px;
      right: 40px;
    }
  }

  .submit {
    .btn-submit {
      background-color: $btn-color;
      color: white;
      font-weight: 600;
      padding: 0.7rem 2rem;
      box-shadow: 0 2px 10px rgba($btn-color, 0.3);
      transition: 0.2s;

      &:not(:disabled) {
        &:hover {
          box-shadow: 0 2px 10px rgba($btn-color, 0.2);
          transform: translateY(-1px);
        }

        &:active {
          transform: scale(0.96);
          box-shadow: none;
        }
      }
    }
  }
}

.my-articles {
  background-color: $background-color;

  header {
    .header-text {
      font-weight: 600;
    }
  }

  article {
    .uk-card-media-left {
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      padding-top: 15%;
    }

    .uk-button {
      font-weight: 600;
      transition: 0.2s;

      &:hover {
        transform: translateY(-1px);
        box-shadow: 0 2px 10px rgba(black, 0.2);
      }
    }
  }
}

@keyframes upAndDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0);
  }
}

.tags {
  .tag {
    margin-left: 0.5rem;
    background-color: rgba($main-color, 0.1);
    padding: 0.3rem 0.7rem;
    border-radius: 4px;
    font-weight: 600;
    color: $main-color;
    transition: 0.2s;
    box-shadow: 0 2px 3px rgba($main-color, 0.2);
    cursor: pointer;

    &:active {
      transform: scale(0.96);
      box-shadow: none;
    }

    &.selected {
      background-color: $main-color;
      color: white;
    }
  }
}

.selected {
  display: inline-block;
  background-color: #f1f1f1;
  color: #000;
  padding: 0.3rem 0.7rem;
}

@media screen and (max-width: 1700px) {
  .blog-container {
    width: 95%;
  }
}

@media screen and (max-width: 992px) {
}

@media screen and (max-width: 640px) {
  article {
    .uk-card-media-left {
      padding-top: 60% !important;
    }
  }
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.wrapper {
  margin-top: 12%;
}

/*******************scrollbar****************/

::-webkit-scrollbar {
  width: 5px;
  height: 7px;
  background-color: #F0F0F0;
}

::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  background: #2699fb;
  border: 0px none #ffffff;
  border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {
  background: #2699fb;
}

::-webkit-scrollbar-thumb:active {
  background: #2699fb;
}

::-webkit-scrollbar-track {
  background: transparent;
  border: 0px none #ffffff;
  border-radius: 50px;
}

::-webkit-scrollbar-track:hover {
  background: transparent;
}

::-webkit-scrollbar-track:active {
  background: transparent;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

.uk-modal-body {
  display: flow-root;
  padding: 30px 30px;
  border-radius: 10px;
}