<header class="header"></header>
<div class="content">
  <div class="wrapper">
    <div class="container">
      <div class="row">
        <div class="col-12 mb-3">
          <div class="card p-4 d-flex">
            <div class="d-flex align-items-center justify-content-between flex-wrap">
              <h2 class="mr-3 page-header">إحصائيات الموقع</h2>
              <a class="btn back d-flex align-items-center" routerLink="/admin/advertisement-management">
                <span>العوده إلي لوحة التحكم</span>
                <i class="far fa-arrow-left ml-2" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-3">
          <div class="card p-4">
            <div class="overlay" *ngIf="loading">
              <div class="h-100 d-flex align-items-center justify-content-center">
                <span uk-spinner></span>
              </div>
            </div>
            <div class="icon text-center pb-2">
              <i class="far fa-users" aria-hidden="true"></i>
            </div>
            <div class="header">
              <h3 class="text-center text-muted">عدد المستخدمين</h3>
            </div>
            <div class="body">
              <h2 class="text-center font-weight-bold">{{statisticsData?.usersCount}}</h2>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-3">
          <div class="card p-4">
            <div class="overlay" *ngIf="loading">
              <div class="h-100 d-flex align-items-center justify-content-center">
                <span uk-spinner></span>
              </div>
            </div>
            <div class="icon text-center pb-2">
              <i class="far fa-star" aria-hidden="true"></i>
            </div>
            <div class="header">
              <h3 class="text-center text-muted">عدد المشتركين</h3>
            </div>
            <div class="body">
              <h2 class="text-center font-weight-bold">{{statisticsData?.subUsersCount}}</h2>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-3">
          <div class="card p-4">
            <div class="overlay" *ngIf="loading">
              <div class="h-100 d-flex align-items-center justify-content-center">
                <span uk-spinner></span>
              </div>
            </div>
            <div class="icon text-center pb-2">
              <i class="far fa-bullhorn" aria-hidden="true"></i>
            </div>
            <div class="header">
              <h3 class="text-center text-muted">عدد الإعلانات</h3>
            </div>
            <div class="body">
              <h2 class="text-center font-weight-bold">{{statisticsData?.productsCount}}</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
