@import "src/assets/variables";
.back {
  background-color: transparent;
  color: $main-color !important;
  font-weight: 600;
  transition: 0.2s;
  &:hover {
    background-color: rgba($main-color, 0.2);
  }
  &:active {
    transform: scale(0.95);
  }
}

.page-header {
  font-weight: 600;
}

.card {
  .icon {
    i {
      font-size: 3em;
      color: $main-color
    }
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    height: 100%;
    width: 100%;
  }
}
