<header class="header"></header>
<section class="content">
  <div class="wrapper">
    <div class="container">
      <div class="card p-4" @fadeHide>
        <div class="header mb-4">
          <h3 class="font-weight-bold text">إضافة (صانع - موديل - طراز) جديد</h3>
        </div>
        <div class="tabs d-flex align-items-center flex-wrap justify-content-center pb-4">
          <button class="btn mx-2 mb-2" [disabled]="isLoading" [class.active]="brand" (click)="openBrand()"><i class="far fa-plus mr-2" aria-hidden="true"></i> إضافة صانع </button>
          <button class="btn mx-2 mb-2" [disabled]="isLoading" [class.active]="model" (click)="openModel()"><i class="far fa-plus mr-2" aria-hidden="true"></i> إضافة موديل </button>
          <button class="btn mx-2 mb-2" [disabled]="isLoading" [class.active]="style" (click)="openStyle()"><i class="far fa-plus mr-2" aria-hidden="true"></i> إضافة طراز </button>
        </div>

        <div class="form-container">
          <div class="overlay">
            <div class="h-100  d-flex align-items-center justify-content-center">
              <span uk-spinner></span>
            </div>
          </div>
          <!--        brand-->
          <form *ngIf="brand" @fadeHide #brandForm="ngForm" (ngSubmit)="addNewBrand(brandForm)">
            <div class="form-group row">

              <label for="brand_npt" class="col-md-2 col-form-label font-weight-bold mb-md-2">الصانع</label>
              <div class="col-md-10 mb-3">
                <input type="text"
                       id="brand_npt"
                       [(ngModel)]="newBrand.name"
                       required
                       name="model"
                       class="form-control mb-3"
                       placeholder="ادخل اسم الصانع...">
              </div>
              <div class="offset-md-2 col-md-10 action">
                <button class="btn submit mr-3" [disabled]="brandForm.invalid || isLoading">
                  <i class="far fa-spinner fa-spin mr-2" *ngIf="isLoading" aria-hidden="true"></i> إضافة</button>
                <button class="btn cancel" type="button">العودة الي لوحة التحكم</button>
              </div>
            </div>
          </form>

          <!--        model -->
          <form *ngIf="model" @fadeHide #modelForm="ngForm" (ngSubmit)="addNewModel(modelForm)">
            <div class="form-group row">
              <label for="brand_select" class="col-md-2 col-form-label font-weight-bold mb-md-2"> الصانع</label>
              <div class="col-md-10 mb-4">
                <select class="custom-select" [(ngModel)]="newModel.brandID" required id="brand_select" name="brand">
                  <option disabled selected>اختر الصانع...</option>
                  <option *ngFor="let brand of brandList" [value]="brand?._id">{{brand?.name}}</option>
                </select>
              </div>

              <label for="model" class="col-md-2 col-form-label font-weight-bold mb-md-2">الموديل</label>
              <div class="col-md-10 mb-3">
                <input type="text"
                       id="model"
                       required
                       name="model"
                       [(ngModel)]="newModel.name"
                       class="form-control mb-3"
                       placeholder="ادخل اسم الموديل...">
              </div>
              <div class="offset-md-2 col-md-10 action">
                <button class="btn submit mr-3" [disabled]="modelForm.invalid || isLoading">   <i class="far fa-spinner fa-spin mr-2" *ngIf="isLoading" aria-hidden="true"></i> إضافة</button>
                <button class="btn cancel" type="button">العودة الي لوحة التحكم</button>
              </div>
            </div>
          </form>

          <!--        style -->
          <form *ngIf="style" @fadeHide #styleForm="ngForm" (ngSubmit)="addNewStyle(styleForm)">
            <div class="form-group row">
              <label for="model_select" class="col-md-2 col-form-label font-weight-bold mb-md-2"> الموديل</label>
              <div class="col-md-10 mb-4">
                <select class="custom-select" required id="model_select" name="model" [(ngModel)]="newStyle.modelID">
                  <option>اختر الموديل...</option>
                  <option *ngFor="let model of modelList" [value]="model?._id">{{model?.name}}</option>
                </select>
              </div>

              <label for="style_npt" class="col-md-2 col-form-label font-weight-bold mb-md-2">الطراز</label>
              <div class="col-md-10 mb-3">
                <input type="text"
                       id="style_npt"
                       name="style"
                       required
                       [(ngModel)]="newStyle.name"
                       class="form-control mb-3"
                       placeholder="ادخل اسم الطراز...">
              </div>
              <div class="offset-md-2 col-md-10 action">
                <button class="btn submit mr-3" [disabled]="styleForm.invalid || isLoading">   <i class="far fa-spinner fa-spin mr-2" *ngIf="isLoading" aria-hidden="true"></i> إضافة</button>
                <button class="btn cancel" type="button">العودة الي لوحة التحكم</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
