@import "../../../../../assets/variables";

.tabs {
  .btn {
    background-color: rgba($main-color, 0.2);
    color: $main-color;
    font-weight: 600;
    transition: 0.2s;
    box-shadow: none;
    &.active {
      background-color: $main-color;
      color: white;
    }
    &:not(.active) {
      &:hover {
        background-color: rgba($main-color, 0.3);
      }
    }
    &:active {
      transform: scale(0.94);
    }
  }
}

.form-container {
  position: relative;
  .overlay {
    display: none;
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
  }
}

.action {
  .btn {
    padding: 0.5rem 1.5rem;
    font-weight: 600;
    transition: 0.2s;
    box-shadow: none;

    &:not(:disabled) {
      &:active {
        transform: scale(0.93);
      }
    }
  }

  .submit {
    background-color: $btn-color;
    color: white;
  }

  .cancel {
    background-color: rgba($btn-color, 0.2);
    color: $btn-color;
  }

}
