<section class="blog-main pt-3">
  <div class="wrapper">
    <div class="blog-container">
      <div class="card p-4" @fadeHide>

        <div class="header row justify-content-between">
          <h4 class="text uk-margin-remove font-weight-bold col-md-6 mb-md-0 mb-4">
            الرســــائل
          </h4>
          <div class="col-md-6" hidden>
            <form class="uk-search uk-search-default search w-100">
              <a uk-search-icon></a>
              <input class="uk-search-input" type="search" name="search" placeholder="ابحث بالعنوان..."/>
            </form>
          </div>
        </div>
        <div class="comments-table uk-overflow-auto">
          <div class="overlay" *ngIf="isLoading">
            <div class="h-100 d-flex align-items-center justify-content-center p-4">
              <span uk-spinner></span>
            </div>
          </div>
          <table class="uk-table uk-table-divider">
            <thead>
            <tr>
              <th class="uk-table-shrink">#</th>
              <th>الأسم</th>
              <th>العنوان</th>
              <th>البريد الاكتروني</th>
              <th>التاريخ</th>
              <th class="uk-width-small text-center">اختيارات</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let contact of contactsContainer; let i = index">
              <td>{{i+1}}</td>
              <td>{{contact?.name | titlecase}}</td>
              <td class="uk-table-expand">{{contact?.address | titlecase}}</td>
              <td>{{contact?.email}}</td>
              <td>{{contact?.createdAt | date:'mediumDate'}}</td>
              <td class="d-flex align-items-center justify-content-around">
                <a href="mailto:{{contact?.email}}" class="h-primary mx-2" style="width: 70px;text-align: center" title="Send an Email">
                  <i class="fa fa-paper-plane" aria-hidden="true"></i>
                </a>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="pagination d-flex align-items-center justify-content-around mt-2">
          <button class="btn" [disabled]="currentPage === 1" (click)="first()"><i
            class="far fa-1x fa-lg fa-arrow-to-right" aria-hidden="true"></i></button>
          <button class="btn" [disabled]="currentPage === 1" (click)="previous()"><i
            class="far fa-1x fa-lg fa-chevron-right" aria-hidden="true"></i></button>
          <p class="mb-0">{{currentPage}} / {{lastPage}}</p>
          <button class="btn" (click)="next()" [disabled]="currentPage === lastPage"><i
            class="far fa-1x fa-chevron-left" aria-hidden="true"></i></button>
          <button class="btn" [disabled]="currentPage === lastPage" (click)="last()"><i
            class="far fa-1x fa-lg fa-arrow-to-left" aria-hidden="true"></i></button>

        </div>
      </div>
    </div>
  </div>
</section>


<!--data-toggle="modal" data-target="#rejectComments"-->
<!-- Modal -->
<div
  class="modal fade"
  id="rejectComments"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">رفض التعليق</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label>اترك السبب</label>
            <textarea
              class="form-control"
              name="leaveMessage"
              cols="30"
              rows="10"
            ></textarea>
          </div>
          <div class="uk-modal-footer uk-text-right uk-padding-remove border-0">
            <button class="uk-button uk-button-primary" type="button">
              ارسل
            </button>
            <button
              class="uk-button uk-button-default uk-modal-close ml-2"
              type="button"
            >
              اغلق
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
