@import "../../../../../assets/variables";


section {
  .comments-table {
    max-height: 70vh;
    position: relative;
  }

  .card {
    position: relative;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 10;
    background-color: white;
    width: 100%;
  }

  .pagination {
    padding: 0;
    .btn {
      color: $btn-color;
      box-shadow: none;
      padding: 0.3rem;
      transition: 0.2s;
      &:not(:disabled) {
        &:active {
          transform: scale(0.94);
        }
      }
    }
  }
}
